Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PreMiD/presence-verifiers, @Timeraa, @ririxidev, @Bas950, @Fruxh, @TheDropX, @SeMiD

chore: add country to bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

chore: quotes
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

feat(WordReference): add WordReference Activity
  websites/W/WordReference/metadata.json
  websites/W/WordReference/presence.ts
Owners: @PreMiD/presence-verifiers

feat(ChatGPT): improve privacy button to match with ChatGPT style
  websites/C/ChatGPT/util/PrivacyUI.ts
Owners: @PreMiD/presence-verifiers

feat(ChatGPT): add library tab
  websites/C/ChatGPT/ChatGPT.json
  websites/C/ChatGPT/metadata.json
  websites/C/ChatGPT/presence.ts
Owners: @PreMiD/presence-verifiers

Add files via upload
  websites/O/ogladajanime/presence.js
Owners: @PreMiD/presence-verifiers

Delete websites/O/ogladajanime/presence.js
  websites/O/ogladajanime/presence.js
Owners: @PreMiD/presence-verifiers

Add SPA support and code improvements
  websites/O/ogladajanime/metadata.json
  websites/O/ogladajanime/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/A/Anizium/presence.ts
Owners: @PreMiD/presence-verifiers

feat(ogladajanime): add SPA support and code optimizations
  websites/O/ogladajanime/presence.ts
Owners: @PreMiD/presence-verifiers

feat(ogladajanime): add SPA support and code optimizations
  websites/O/ogladajanime/presence.ts
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/A/Anizium/metadata.json
Owners: @PreMiD/presence-verifiers

fix(DeepL): rework Activity
  websites/D/DeepL/DeepL.json
  websites/D/DeepL/metadata.json
  websites/D/DeepL/presence.ts
Owners: @PreMiD/presence-verifiers

chore: change thumbnail
  websites/D/DeepL/metadata.json
Owners: @PreMiD/presence-verifiers

Update websites/H/Home Assistant/presence.ts
  websites/H/Home Assistant/presence.ts
Owners: @PreMiD/presence-verifiers

fix: small regex modification
  websites/G/Google Docs/presence.ts
Owners: @PreMiD/presence-verifiers

fix: remove old strings method
  websites/G/Google Docs/presence.ts
Owners: @PreMiD/presence-verifiers

fix: lint error
  websites/G/Google Docs/presence.ts
Owners: @PreMiD/presence-verifiers

fix(Home Assistant): update thumbnail URL in metadata.json to use an example dashboard image.
  websites/H/Home Assistant/metadata.json
Owners: @PreMiD/presence-verifiers

chore: enable search and add special episode formatting
  docs/.vitepress/config.ts
  docs/v1/api/presence-data.md
  docs/v1/examples/media.md
  docs/v1/guide/presence-class.md
Owners: none

chore: lint
  docs/v1/api/presence-data.md
  docs/v1/examples/media.md
Owners: none

feat(TruckersFM): remove redundant code, added listening status & album art support
  websites/T/TruckersFM/metadata.json
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

fix lint issue
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

lint fix
  websites/T/TruckersFM/metadata.json
Owners: @PreMiD/presence-verifiers

feat(Medal): add activity
  websites/M/Medal/metadata.json
  websites/M/Medal/presence.ts
Owners: @PreMiD/presence-verifiers

chore(Medal): change logo to 512x512 image
  websites/M/Medal/metadata.json
  websites/M/Medal/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

feat(YouTube): add listening mode
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/index.ts
  websites/Y/YouTube/video_sources/api.ts
  websites/Y/YouTube/video_sources/default.ts
  websites/Y/YouTube/video_sources/embed.ts
  websites/Y/YouTube/video_sources/miniplayer.ts
  websites/Y/YouTube/video_sources/mobile_default.ts
  websites/Y/YouTube/video_sources/mobile_shorts.ts
  websites/Y/YouTube/video_sources/movies.ts
  websites/Y/YouTube/video_sources/old.ts
  websites/Y/YouTube/video_sources/shorts.ts
  websites/Y/YouTube/video_sources/tv.ts
Owners: @PreMiD/presence-verifiers

new thumbnail & logo - as requested by TFM team
  websites/T/TruckersFM/metadata.json
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

correct logo sizing
  websites/T/TruckersFM/metadata.json
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

better quality new logo
  websites/T/TruckersFM/metadata.json
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

fix(Google Docs): non capturing groups
  websites/G/Google Docs/presence.ts
Owners: @PreMiD/presence-verifiers

Add files via upload
  websites/A/Anizium/metadata.json
  websites/A/Anizium/presence.ts
Owners: @PreMiD/presence-verifiers

Add files via upload
  websites/A/Anizium/metadata.json
  websites/A/Anizium/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/A/Anizium/presence.ts
Owners: @PreMiD/presence-verifiers

feat(neal.fun): add stimulation clicker
  websites/N/neal.fun/presence.ts
Owners: @PreMiD/presence-verifiers

Add AniKenjiMovie Presence
  cli/package-lock.json
  cli/package.json
  package-lock.json
  package.json
  premid/package-lock.json
  premid/package.json
  websites/A/AniKenjiMovie/iframe.ts
  websites/A/AniKenjiMovie/metadata.json
  websites/A/AniKenjiMovie/presence.ts
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev, @PreMiD/presence-verifiers

Re-design
  websites/A/AniKenjiMovie/metadata.json
  websites/A/AniKenjiMovie/presence.ts
Owners: @PreMiD/presence-verifiers

Update websites/T/TruckersFM/presence.ts
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

updated type
  websites/T/TruckersFM/presence.ts
Owners: @PreMiD/presence-verifiers

.github/CODEOWNERS:

websites/** @PreMiD/presence-verifiers

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD
