Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PreMiD/presence-verifiers, @Timeraa, @ririxidev, @Bas950, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

websites/** @PreMiD/presence-verifiers

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD

chore(Bluesky): update logo part 2
  websites/B/Bluesky/presence.ts
Owners: @PreMiD/presence-verifiers

add KMS Digital Solutions
  websites/K/KMS Digital Solutions/metadata.json
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

Revert "Merge branch 'main' of https://github.com/Lordreider/Presences"
  websites/A/Averge/metadata.json
  websites/A/Averge/presence.ts
Owners: @PreMiD/presence-verifiers

kms update
  websites/K/KMS Digital Solutions/metadata.json
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

update kms
  websites/K/KMS Digital Solutions/metadata.json
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

img update kms
  websites/K/KMS Digital Solutions/metadata.json
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

KMS update
  websites/K/KMS Digital Solutions/metadata.json
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

KMS Update
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

KMS Update
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

.
  websites/K/KMS Digital Solutions/metadata.json
  websites/K/KMS Digital Solutions/presence.ts
Owners: @PreMiD/presence-verifiers

feat(Dicoding): add activity
  websites/D/Dicoding/metadata.json
  websites/D/Dicoding/presence.ts
Owners: @PreMiD/presence-verifiers

Chore(Bluesky): bump version
  websites/B/Bluesky/metadata.json
Owners: @PreMiD/presence-verifiers

fix: use generics for querySelector
  websites/D/Dicoding/presence.ts
Owners: @PreMiD/presence-verifiers

Delete websites/B/BandLab/tsconfig.json
  websites/B/BandLab/tsconfig.json
Owners: @PreMiD/presence-verifiers

Change presence.ts to use Promise.all when init. settings
  websites/B/BandLab/presence.ts
Owners: @PreMiD/presence-verifiers

Address various ESLint flags
  websites/B/BandLab/presence.ts
Owners: @PreMiD/presence-verifiers

Delete websites/E/Easyfun/tsconfig.json
  websites/E/Easyfun/tsconfig.json
Owners: @PreMiD/presence-verifiers

done
  websites/E/Easyfun /metadata.json
Owners: @PreMiD/presence-verifiers

done
  websites/E/Easyfun/metadata.json
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/E/Easyfun/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/E/Easyfun/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/E/Easyfun/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/E/Easyfun/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/E/Easyfun/presence.ts
Owners: @PreMiD/presence-verifiers

fix(premid): move StatusDisplayType to 'premid' module
  @types/premid/index.d.ts
  premid/src/index.ts
Owners: @Timeraa, @ririxidev, @Bas950

Update of the "videos" section
  websites/T/Twitch/metadata.json
  websites/T/Twitch/presence.ts
Owners: @PreMiD/presence-verifiers

Add new Activity (Flemmix-2)
  websites/F/Flemmix-2/iframe.ts
  websites/F/Flemmix-2/metadata.json
  websites/F/Flemmix-2/presence.ts
  websites/F/Flemmix-2/tsconfig.json
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/F/Flemmix-2/metadata.json
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/F/Flemmix-2/metadata.json
Owners: @PreMiD/presence-verifiers

feat(Anizium): Enhance presence buttons for watch and studio pages
  websites/A/Anizium/handlers/route.ts
  websites/A/Anizium/presence.ts
Owners: @PreMiD/presence-verifiers

doc: fixing the documentation link (broken link)
  README.md
Owners: none

feat: add a new activity (FSC)
  websites/F/FSC/metadata.json
  websites/F/FSC/presence.ts
Owners: @PreMiD/presence-verifiers

fix: logo size to 512px
  websites/F/FSC/metadata.json
  websites/F/FSC/presence.ts
Owners: @PreMiD/presence-verifiers

feat: add NeetCode presence
  websites/N/NeetCode/metadata.json
  websites/N/NeetCode/presence.ts
Owners: @PreMiD/presence-verifiers
