Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD

feat: setup clockify properly
  websites/C/Clockify/metadata.json
  websites/C/Clockify/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Coloso): add activity
  websites/C/Coloso/iframe.ts
  websites/C/Coloso/metadata.json
  websites/C/Coloso/presence.ts
  websites/C/Coloso/utils/cart_page.ts
  websites/C/Coloso/utils/course_page.ts
  websites/C/Coloso/utils/course_video_page.ts
  websites/C/Coloso/utils/my_course_page.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Disney+): fix timestamp
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Google Maps): add button url length limit
  websites/G/Google Maps/metadata.json
  websites/G/Google Maps/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(cli/AssetsManager): use native FormData for latest got version
  cli/package-lock.json
  cli/package.json
  cli/src/classes/AssetsManager.test.ts
  cli/src/classes/AssetsManager.ts
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

refactor: remove unused import
  cli/src/classes/AssetsManager.test.ts
Owners: none

chore: bump version of affected activities
  websites/A/AMLL TTML Tool/metadata.json
  websites/A/Anime Nexus/metadata.json
  websites/A/Asya Animeleri/metadata.json
  websites/B/Bourges Télévision/metadata.json
  websites/C/Comix/metadata.json
  websites/D/Deokwave/metadata.json
  websites/F/Faucet Crypto/metadata.json
  websites/H/Hipobuy/metadata.json
  websites/P/Pawsy/metadata.json
  websites/P/ProtonDB/metadata.json
  websites/S/Sakura Mangas/metadata.json
  websites/S/Sdamgia/metadata.json
  websites/S/Snipp/metadata.json
  websites/V/Voirdrama/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: bump version of more affected activities
  websites/0-9/1Shows/metadata.json
  websites/C/ccLeaf/metadata.json
  websites/F/FACEIT/metadata.json
  websites/F/Find A Grave/metadata.json
  websites/U/USACO Guide/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Pawsy): fix bad metadata
  websites/P/Pawsy/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

required fixes
  websites/A/Anirose/metadata.json
  websites/A/Anirose/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

required fixes 2
  websites/A/Anirose/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fixed logo placement
  websites/A/Anirose/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Coloso): combine setting loading into one Promise.all and added caching for getting course thumbnail
  websites/C/Coloso/presence.ts
  websites/C/Coloso/utils/course_page.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Coloso): fixed some linting issues
  websites/C/Coloso/presence.ts
  websites/C/Coloso/utils/course_page.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(YTyping): update query selectors for typing state in presence data
  websites/Y/YTyping/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(YTyping): bump version to 1.1.1
  websites/Y/YTyping/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat: add Discord Rich Presence support for NetMirror via iframe and DOM integration
  websites/N/NetMirror/iframe.ts
  websites/N/NetMirror/metadata.json
  websites/N/NetMirror/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix iFrameRegExp for NetMirror
  websites/N/NetMirror/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: remove unresolvable www domains from NetMirror metadata
  websites/N/NetMirror/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: reorder alternative names in NetMirror metadata
  websites/N/NetMirror/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat: add rich presence support for Senku Library with course and video tracking
  websites/S/Senku Library/iframe.ts
  websites/S/Senku Library/metadata.json
  websites/S/Senku Library/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Bump version from 1.0.1 to 1.1.0
  websites/F/fridg3.org/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(ReAnime): add activity
  websites/R/ReAnime/iframe.ts
  websites/R/ReAnime/metadata.json
  websites/R/ReAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(presence): add +2Télé presence module
  tsconfig.base.json
  tsconfig.json
  websites/#/+2Télé/+2Télé.json
  websites/#/+2Télé/README.md
  websites/#/+2Télé/de/+2Télé.json
  websites/#/+2Télé/en/+2Télé.json
  websites/#/+2Télé/es/+2Télé.json
  websites/#/+2Télé/fr/+2Télé.json
  websites/#/+2Télé/it/+2Télé.json
  websites/#/+2Télé/metadata.json
  websites/#/+2Télé/pl/+2Télé.json
  websites/#/+2Télé/presence.ts
  websites/#/+2Télé/pt/+2Télé.json
  websites/#/+2Télé/ro/+2Télé.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(presence): sort keys in metadata.json to fix ESLint failure
  websites/#/+2Télé/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add ilearn.gavilan.edu to Canvas urls
  websites/C/Canvas/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update regex pattern to include ilearn.gavilan.edu
  websites/C/Canvas/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Canvas): update regex pattern to correctly match ilearn.gavilan.edu
  websites/C/Canvas/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat: add emojis support and tracker logic
  websites/C/Clockify/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence.ts
  websites/R/ReAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Gemini): update logo
  websites/G/Gemini/metadata.json
  websites/G/Gemini/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(VertexMovies): add VertexMovies activity
  websites/V/VertexMovies/metadata.json
  websites/V/VertexMovies/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: linting and metadata validation
  websites/V/VertexMovies/metadata.json
  websites/V/VertexMovies/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(VertexMovies): add VertexMovies activity
  websites/V/VertexMovies/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat : added archive search support
  websites/#/+2Télé/+2Télé.json
  websites/#/+2Télé/de/+2Télé.json
  websites/#/+2Télé/en/+2Télé.json
  websites/#/+2Télé/es/+2Télé.json
  websites/#/+2Télé/fr/+2Télé.json
  websites/#/+2Télé/it/+2Télé.json
  websites/#/+2Télé/pl/+2Télé.json
  websites/#/+2Télé/presence.ts
  websites/#/+2Télé/pt/+2Télé.json
  websites/#/+2Télé/ro/+2Télé.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore: changed showing details and added it to other routes as well
  websites/C/Clockify/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore: fixed linting warns
  websites/C/Clockify/metadata.json
  websites/C/Clockify/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: fixed several medium vulnerabilities in Clockify activity presence.ts file
  websites/C/Clockify/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(adobe-acrobat): add metadata and presence handling for Adobe Acrobat service
  websites/A/adobe-acrobat/metadata.json
  websites/A/adobe-acrobat/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fixed logo size err
  websites/A/adobe-acrobat/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661
