Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD

refactor(Rythm): replace computer-generated class selectors with attribute selectors
  package-lock.json
  websites/R/Rythm/dataGetter.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

docs(shopee): update description to match official service
  websites/S/Shopee/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update author ID in metadata.json
  websites/S/Spyke/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore: bump version to 1.0.3
  websites/S/Sketchful.io/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

refactor(untitled.stream)!: change [untitled] activity name to untitled.stream
  websites/U/untitled.stream/metadata.json
  websites/U/untitled.stream/presence.ts
  websites/U/untitled.stream/types.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(untitled.stream): reset version to 1.0.0
  websites/U/untitled.stream/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Rythm): add hide paused setting option
  websites/R/Rythm/metadata.json
  websites/R/Rythm/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Added Radio Schwarze Welle
  websites/S/SchwarzeWelle/metadata.json
  websites/S/SchwarzeWelle/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

deleted: websites/S/SchwarzeWelle/metadata.json deleted: websites/S/SchwarzeWelle/presence.ts
  websites/S/SchwarzeWelle/metadata.json
  websites/S/SchwarzeWelle/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Jetpunk): add activity
  websites/J/JetPunk/metadata.json
  websites/J/JetPunk/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(rythm): corrected selectors for track info
  websites/R/Rythm/dataGetter.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update version to 1.3.5 in metadata.json
  websites/S/Spyke/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update version number to 2.0.0 in metadata.json
  websites/S/Spyke/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix(WitAnime) : Change URL and update fetching banner anime from page
  websites/W/WitAnime/metadata.json
  websites/W/WitAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix Version Metadata
  websites/W/WitAnime/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix
  websites/W/WitAnime/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Rythm): add new customizations
  websites/R/Rythm/constants.ts
  websites/R/Rythm/dataGetter.ts
  websites/R/Rythm/metadata.json
  websites/R/Rythm/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Mapple.tv): add episode info and series images for TV shows
  websites/M/Mapple.tv/metadata.json
  websites/M/Mapple.tv/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: eslint issues
  websites/M/Mapple.tv/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Revert changes in package-lock.json
  package-lock.json
Owners: none

fix (Prime Video): Totally Reworked to Fix Several Issues
  websites/P/Prime Video/metadata.json
  websites/P/Prime Video/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(rythm): add small image text & media links
  websites/R/Rythm/dataGetter.ts
  websites/R/Rythm/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

refactor: add support for streaming activity type
  @types/premid/index.d.ts
  premid/src/index.ts
Owners: @Timeraa, @ririxidev, @Bas950

Fix
  websites/P/Prime Video/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix
  websites/W/WitAnime/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update websites/D/DeeJay/metadata.json
  websites/D/DeeJay/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Updated DeeJay PR - websites/D/DeeJay/metadata.json - websites/D/DeeJay/presence.ts
  websites/D/DeeJay/metadata.json
  websites/D/DeeJay/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(rythm): translate comments to English and replace logo with higher quality version
  websites/R/Rythm/constants.ts
  websites/R/Rythm/dataGetter.ts
  websites/R/Rythm/metadata.json
  websites/R/Rythm/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix Video Selector
  websites/P/Prime Video/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(OgladajAnime): remove unused string
  websites/O/OgladajAnime/OgladajAnime.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Rythm): Added new customizations and updated logos.
  websites/R/Rythm/constants.ts
  websites/R/Rythm/metadata.json
  websites/R/Rythm/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Rythm): fixed logo size and eslint errors
  websites/R/Rythm/constants.ts
  websites/R/Rythm/metadata.json
  websites/R/Rythm/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

New regex that actually fixes
  websites/I/IDLIX/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence
  websites/T/Threads/metadata.json
  websites/T/Threads/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Use simpler fix
  websites/I/IDLIX/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Bump activity version
  websites/I/IDLIX/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Added Localization . websites/D/DeeJay/DeeJay.json . websites/D/DeeJay/presence.ts
  websites/D/DeeJay/DeeJay.json
  websites/D/DeeJay/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

EDIT: Edit to the TIdal activity, adding an option to hide when paused, fixing depreciations to restore the progress bar and setting the presence name to the artist name.
  websites/T/Tidal/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

"New Activites: Shinigami Komik ID"
  websites/S/Shinigami Komik ID/metadata.json
  websites/S/Shinigami Komik ID/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Shinigami Komik ID): change detailUrl and stateUrl for privacy mode
  websites/S/Shinigami Komik ID/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661
