Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PreMiD/presence-verifiers, @Timeraa, @ririxidev, @Bas950, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

websites/** @PreMiD/presence-verifiers

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD

feat(bartu civaş): add new activity
  websites/B/bilibili/bilibili.json
Owners: @PreMiD/presence-verifiers

Fix TypeScript build: add regExp to deleted activity placeholder metadata
  cli/src/util/getActivities.ts
Owners: none

Update root package-lock.json
  package-lock.json
Owners: none

Modification package.json
  package.json
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

fix: add new mirror to iFrameRegExp
  websites/Y/YummyAnime/metadata.json
Owners: @PreMiD/presence-verifiers

fix: fix version
  websites/Y/YummyAnime/metadata.json
Owners: @PreMiD/presence-verifiers

feat(VK Music): add activity
  package-lock.json
  websites/V/VK Music/metadata.json
  websites/V/VK Music/presence.ts
  websites/V/VK/metadata.json
  websites/V/VK/presence.ts
Owners: @PreMiD/presence-verifiers

feat: add Melofy presence
  websites/M/Melofy/metadata.json
  websites/M/Melofy/presence.ts
Owners: @PreMiD/presence-verifiers

lint fixes
  websites/M/Melofy/presence.ts
Owners: @PreMiD/presence-verifiers

Add files via upload
  websites/metadata.json
  websites/presence.ts
Owners: @PreMiD/presence-verifiers

Add metadata.json for CreamSodaBoys service
  websites/C/CreamSodaBoys/metadata.json
Owners: @PreMiD/presence-verifiers

Add presence tracking functionality
  websites/C/CreamSodaBoys/presence.ts
Owners: @PreMiD/presence-verifiers

chore(HTB Academy): change certificate path
  websites/H/HTB Academy/metadata.json
  websites/H/HTB Academy/presence.ts
Owners: @PreMiD/presence-verifiers

feat: add Watch Party sync script system
  .gitignore
  @types/premid/index.d.ts
  cli/src/classes/SyncScriptCompiler.ts
  cli/src/classes/WebSocketServer.ts
  cli/src/commands/sync.ts
  cli/src/index.ts
  cli/src/util/getSyncScripts.ts
  cli/templates/sync-content.ts
  cli/templates/sync-iframe.ts
  cli/templates/sync-tsconfig.json
  docs/.vitepress/config.ts
  docs/v1/api/index.md
  docs/v1/api/sync-script-context.md
  docs/v1/api/sync-script-types.md
  docs/v1/examples/watch-party.md
  docs/v1/guide/iframes.md
  docs/v1/guide/watch-party-advanced.md
  docs/v1/guide/watch-party-behavior.md
  docs/v1/guide/watch-party-sync-scripts.md
  docs/v1/guide/watch-party-video.md
  package-lock.json
  syncScripts/Disney+/content.ts
  syncScripts/Disney+/mainworld.ts
  syncScripts/Disney+/metadata.json
  syncScripts/YouTube/content.ts
  syncScripts/YouTube/metadata.json
Owners: @Timeraa, @ririxidev, @Bas950

fix: resolve eslint/prettier formatting issues
  cli/src/classes/SyncScriptCompiler.ts
  docs/v1/api/sync-script-context.md
  docs/v1/api/sync-script-types.md
  docs/v1/guide/watch-party-advanced.md
  docs/v1/guide/watch-party-behavior.md
  docs/v1/guide/watch-party-sync-scripts.md
  docs/v1/guide/watch-party-video.md
Owners: none

fix: exclude syncScripts from activity change detection
  cli/src/util/getActivities.ts
Owners: none

fix: skip syncScripts files before walking for metadata.json
  cli/src/util/getActivities.ts
Owners: none

fix: use function property style for sync script type definitions
  @types/premid/index.d.ts
Owners: @Timeraa, @ririxidev, @Bas950

Update websites/H/Hackviser/metadata.json
  websites/H/Hackviser/metadata.json
Owners: @PreMiD/presence-verifiers

Update regExp to include 'sc' domain
  websites/C/Cineby/metadata.json
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/H/Hackviser/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @PreMiD/presence-verifiers

Update metadata.json
  websites/H/Hackviser/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @PreMiD/presence-verifiers

Changes v3 as for ESLint requested
  websites/C/ChatLLM Teams/metadata.json
  websites/C/ChatLLM Teams/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @PreMiD/presence-verifiers

chore(YTPLR): Fix YT Video Title after the Embed Player got updated
  websites/Y/YTPLR/iframe.ts
  websites/Y/YTPLR/metadata.json
Owners: @PreMiD/presence-verifiers

feat: add WatchIt activity support with rich presence tracking
  websites/W/WatchIt/metadata.json
  websites/W/WatchIt/presence.ts
Owners: @PreMiD/presence-verifiers

feat: implement sync script release functionality and add zip support
  cli/src/classes/ActivityCompiler.ts
  cli/src/classes/SyncScriptCompiler.ts
  cli/src/commands/checkDns.ts
  cli/src/commands/release.ts
  cli/src/commands/sync.ts
  cli/src/index.ts
  cli/src/util/getActivities.ts
  cli/src/util/getChangedFiles.ts
  cli/src/util/getSyncScripts.ts
  cli/src/util/zipDir.ts
Owners: none

Changes v4 as for ESLint requested
  websites/C/ChatLLM Teams/presence.ts
Owners: @PreMiD/presence-verifiers

Changes v5 as for ESLint requested
  websites/C/ChatLLM Teams/presence.ts
Owners: @PreMiD/presence-verifiers

feat: Add Youku activity
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

fix: Update logo and thumbnail to 512x512 images
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

fix: Resolve ESLint and PMD validation errors
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

test fix
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

fix: Complete ESLint compliance - 0 errors
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

text fix
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

test
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers

g
  websites/Y/Youku/presence.ts
Owners: @PreMiD/presence-verifiers
