Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

add activity
  websites/P/Primeshows/metadata.json
  websites/P/Primeshows/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(docs): switch to npm and add GitHub Pages deployment
  .github/workflows/deploy-docs.yml
  docs/.vitepress/config.ts
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

fix: add eslint-skip comments to code blocks in documentation
  docs/api/iframe.md
  docs/api/metadata-json.md
  docs/api/presence-class.md
  docs/api/slideshow.md
  docs/v1/api/iframe.md
  docs/v1/api/metadata-json.md
  docs/v1/api/presence-class.md
  docs/v1/api/slideshow.md
  docs/v1/guide/localization.md
  docs/v1/guide/metadata.md
Owners: none

fix: properly format JSON code blocks in documentation
  docs/api/iframe.md
  docs/api/metadata-json.md
  docs/api/metadata.md
  docs/api/presence-class.md
  docs/api/presence-data.md
  docs/api/slideshow.md
  docs/api/utility-functions.md
  docs/v1/api/metadata-json.md
  docs/v1/api/metadata.md
  docs/v1/api/presence-class.md
  docs/v1/api/presence-data.md
  docs/v1/api/slideshow.md
  docs/v1/api/utility-functions.md
  docs/v1/examples/iframes.md
  docs/v1/examples/index.md
  docs/v1/examples/media.md
  docs/v1/examples/settings.md
  docs/v1/examples/slideshow.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/dependencies.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/iframes.md
  docs/v1/guide/index.md
  docs/v1/guide/installation.md
  docs/v1/guide/localization.md
  docs/v1/guide/metadata.md
  docs/v1/guide/multilanguage.md
  docs/v1/guide/presence-class.md
  docs/v1/guide/settings.md
  docs/v1/guide/slideshows.md
  docs/v1/guide/structure.md
Owners: none

fix: resolve dead links in documentation
  docs/api/index.md
  docs/v1/api/index.md
  docs/v1/guide/developer-tools.md
Owners: none

fix: add semicolons to method signatures in API docs
  docs/api/iframe.md
  docs/api/presence-class.md
  docs/api/slideshow.md
  docs/v1/api/iframe.md
  docs/v1/api/presence-class.md
  docs/v1/api/slideshow.md
Owners: none

feat(docs): add PR preview deployment for documentation
  .github/workflows/deploy-docs.yml
Owners: none

fix: update base path in VitePress config for correct routing
  docs/.vitepress/config.ts
Owners: none

Refactor documentation for consistency and clarity
  docs/.vitepress/config.ts
Owners: none

Update docs/api/utility-functions.md
  docs/api/utility-functions.md
Owners: none

Update docs/v1/guide/settings.md
  docs/v1/guide/settings.md
Owners: none

fix: standardize quotes in deploy-docs.yml for consistency
  .github/workflows/deploy-docs.yml
Owners: none

Update docs/v1/guide/settings.md
  docs/v1/guide/settings.md
Owners: none

docs: remove outdated multilanguage.md file and update references
  docs/v1/guide/iframes.md
  docs/v1/guide/settings.md
  docs/v1/guide/slideshows.md
Owners: none

feat: activity forwarding
  docs/activity-forwarding.md
Owners: none

feat: add forwarding image
  docs/activity-forwarding.md
  docs/images/activity-forwarding-setting.png
Owners: none

docs: update all imageKey examples to use direct URLs
  docs/v1/examples/media.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/iframes.md
  docs/v1/guide/slideshows.md
Owners: none

docs: implement Bas950's review comments
  docs/v1/api/utility-functions.md
  docs/v1/examples/media.md
  docs/v1/guide/first-activity.md
Owners: none

Update docs/v1/guide/slideshows.md
  docs/v1/guide/slideshows.md
Owners: none

docs: update imageKey documentation to recommend direct URLs
  docs/api/iframe.md
  docs/api/index.md
  docs/api/metadata-json.md
  docs/api/metadata.md
  docs/api/presence-class.md
  docs/api/presence-data.md
  docs/api/slideshow.md
  docs/api/utility-functions.md
  docs/v1/api/presence-data.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/presence-class.md
Owners: none

docs: standardize property tables in presence documentation
  docs/v1/api/presence-data.md
  docs/v1/guide/presence-class.md
Owners: none

Update docs/v1/guide/presence-class.md
  docs/v1/guide/presence-class.md
Owners: none

chore: remove old multilang
  docs/v1/guide/multilanguage.md
Owners: none

Update docs/v1/guide/slideshows.md
  docs/v1/guide/slideshows.md
Owners: none

docs: update documentation with best practices and correct examples
  docs/v1/api/iframe.md
  docs/v1/api/metadata-json.md
  docs/v1/api/utility-functions.md
  docs/v1/examples/iframes.md
  docs/v1/examples/media.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/iframes.md
  docs/v1/guide/installation.md
  docs/v1/guide/localization.md
Owners: none

feat: update PR preview comment logic to update existing comments
  .github/workflows/deploy-docs.yml
Owners: none

docs: update largeImageKey in setActivity example to use a direct URL
  docs/v1/api/presence-class.md
Owners: none

docs: improve documentation clarity and usability
  docs/activity-forwarding.md
  docs/v1/api/metadata-json.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/installation.md
Owners: none

docs: update all imageKey examples to use direct URLs
  docs/v1/api/iframe.md
  docs/v1/api/slideshow.md
  docs/v1/api/utility-functions.md
  docs/v1/examples/iframes.md
  docs/v1/examples/index.md
  docs/v1/examples/settings.md
  docs/v1/examples/slideshow.md
  docs/v1/guide/dependencies.md
  docs/v1/guide/localization.md
  docs/v1/guide/multilanguage.md
  docs/v1/guide/structure.md
Owners: none

docs: remove redundant metadata.md file
  docs/v1/api/metadata.md
Owners: none

fix: update create-activity tape to include user ID input
  docs/public/tapes/create-activity.gif
  docs/tapes/create-activity.tape
Owners: none

chore: fix eslint
  docs/v1/api/utility-functions.md
  docs/v1/examples/iframes.md
  docs/v1/examples/media.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/presence-class.md
Owners: none

chore: lint
  docs/v1/api/presence-class.md
Owners: none

docs: fix getPageVariable example and update utility functions to use Assets enum
  docs/v1/api/presence-class.md
  docs/v1/api/utility-functions.md
Owners: none

chore: lint
  @types/premid/index.d.ts
Owners: @Timeraa, @ririxidev, @Bas950

docs: add references to guidelines throughout documentation
  docs/v1/guide/first-activity.md
  docs/v1/guide/metadata.md
  docs/v1/guide/presence-class.md
Owners: none

feat: new presencedata fields
  docs/v1/api/presence-data.md
  docs/v1/guide/presence-class.md
Owners: none

docs: add guidelines page
  docs/.vitepress/config.ts
  docs/v1/guide/guidelines.md
Owners: none

chore: review comments
  docs/v1/examples/media.md
  docs/v1/guide/iframes.md
  docs/v1/guide/localization.md
  docs/v1/guide/presence-class.md
Owners: none

chore: lint
  docs/v1/api/presence-data.md
  docs/v1/examples/media.md
Owners: none

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD
