Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PreMiD/presence-verifiers, @Timeraa, @ririxidev, @Bas950, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

websites/** @PreMiD/presence-verifiers

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

fix(AniKenji Movie): Add CORS support & JW Player 8.38.2 detection
  websites/A/AniKenji Movie/iframe.ts
  websites/A/AniKenji Movie/metadata.json
  websites/A/AniKenji Movie/presence.ts
Owners: @PreMiD/presence-verifiers

fix(AniKenji Movie): Fix ESLint errors in iframe.ts
  websites/A/AniKenji Movie/iframe.ts
Owners: @PreMiD/presence-verifiers

fix(AniKenji Movie): Update Metadata
  websites/A/AniKenji Movie/metadata.json
Owners: @PreMiD/presence-verifiers

fix(AniKenji Movie): Fix ESLint errors in iframe.ts
  websites/A/AniKenji Movie/iframe.ts
Owners: @PreMiD/presence-verifiers

fix(AniKenji Movie): Fix ESLint errors in iframe.ts
  websites/A/AniKenji Movie/iframe.ts
Owners: @PreMiD/presence-verifiers

Otakudesu updates
  websites/O/Otakudesu/metadata.json
  yarn.lock
Owners: @PreMiD/presence-verifiers, @Timeraa, @Fruxh, @TheDropX, @ririxidev

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence.ts
  websites/Z/Zapping.com/presence.ts
Owners: @PreMiD/presence-verifiers

Add contributors information to metadata.json
  websites/K/Kayoanime/metadata.json
Owners: @PreMiD/presence-verifiers

Update presence data to include dynamic image fetching
  websites/K/Kayoanime/presence.ts
Owners: @PreMiD/presence-verifiers

Update presence data to include dynamic image fetching
  websites/K/Kayoanime/presence.ts
Owners: @PreMiD/presence-verifiers

feat(HiAnime): add metadata and presence functionality for anime streaming
  websites/H/HiAnime/metadata.json
  websites/H/HiAnime/presence.ts
Owners: @PreMiD/presence-verifiers

feat(Certitudes): add activity
  websites/C/Certitudes/metadata.json
  websites/C/Certitudes/presence.ts
Owners: @PreMiD/presence-verifiers

feat(niconico): add '/search/'
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

fix(niconico): get searchValue from pathname
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

feat(niconico): add '/tag/'
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

feat(niconico): add '/mylist_search/'
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

feat(niconico): add '/user_search/'
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

feat(niconico): add '/series_search/'
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

chore(niconico): bump version to 1.5.0
  websites/N/niconico/metadata.json
Owners: @PreMiD/presence-verifiers

fix(niconico): run `npm run lint` and fix
  websites/N/niconico/presence.ts
Owners: @PreMiD/presence-verifiers

Update URL and version in metadata.json
  websites/A/Anime Sama/metadata.json
Owners: @PreMiD/presence-verifiers

Create metadata.json
  websites/M/Minecraft Wiki Brasil/metadata.json
Owners: @PreMiD/presence-verifiers

Create Minecraft Wiki Brasil.json
  websites/M/Minecraft Wiki Brasil/Minecraft Wiki Brasil.json
Owners: @PreMiD/presence-verifiers

Create presence.ts
  websites/M/Minecraft Wiki Brasil/presence.ts
Owners: @PreMiD/presence-verifiers

Update logo
  websites/M/Minecraft Wiki Brasil/metadata.json
Owners: @PreMiD/presence-verifiers

Remove language lzh
  websites/M/Minecraft Wiki Brasil/metadata.json
Owners: @PreMiD/presence-verifiers

Change $schema to 1.13
  websites/M/Minecraft Wiki Brasil/metadata.json
Owners: @PreMiD/presence-verifiers

Some changes
  websites/M/Minecraft Wiki Brasil/presence.ts
Owners: @PreMiD/presence-verifiers

fix(AnimeKai): update URL list and enhance presence data handling for new domain
  websites/A/AnimeKai/metadata.json
  websites/A/AnimeKai/presence.ts
Owners: @PreMiD/presence-verifiers

minor changes
  websites/M/Minecraft Wiki Brasil/presence.ts
Owners: @PreMiD/presence-verifiers

Add files via upload
  Zenstudy/assets/logo.png
  Zenstudy/dist/metadata.json
  Zenstudy/dist/presence.js
  Zenstudy/metadata.json
  Zenstudy/presence.ts
  Zenstudy/tsconfig.json
Owners: none

Add files via upload
  websites/Z/Zenstudy/assets/logo.png
  websites/Z/Zenstudy/dist/metadata.json
  websites/Z/Zenstudy/dist/presence.js
  websites/Z/Zenstudy/metadata.json
  websites/Z/Zenstudy/presence.ts
  websites/Z/Zenstudy/tsconfig.json
Owners: @PreMiD/presence-verifiers
