Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD

Fixed ESLint Issues
  websites/P/PsychonautWiki/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Added Space In Folder Names
  websites/P/Psychonaut Wiki/metadata.json
  websites/P/Psychonaut Wiki/presence.ts
  websites/P/Psychonaut Wiki/v2/metadata.json
  websites/P/Psychonaut Wiki/v2/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fixed service
  websites/P/Psychonaut Wiki/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fixed Accidental Changes To Other Folders
  websites/H/HTB Academy/metadata.json
  websites/H/HTB Academy/presence.ts
  websites/H/HackTheBox/metadata.json
  websites/H/HackTheBox/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fixed Accidental Changes To Other Folders V2
  websites/H/HackTheBox/metadata.json
  websites/H/HackTheBox/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fixed Folder Names
  websites/P/Psychonaut Wiki/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Changed Version
  websites/P/Psychonaut Wiki/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fixed Version And Removed Useless Folders
  websites/P/Psychonaut Wiki/metadata.json
  websites/P/Psychonaut Wiki/v2/metadata.json
  websites/P/Psychonaut Wiki/v2/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add files via upload
  websites/V/Voxani/iframe.ts
  websites/V/Voxani/metadata.json
  websites/V/Voxani/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/V/Vix/presence.ts
  websites/V/Vix/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/V/Vix/metadata.json
  websites/V/Vix/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(bilibili): set default presence type to watching
  websites/B/bilibili/metadata.json
  websites/B/bilibili/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update package.json
  package.json
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

fixes
  websites/Y/YummyAnime/.zed/settings.json
  websites/Y/YummyAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fixes
  websites/Y/YummyAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fixes
  websites/Y/YummyAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: linter & import errors
  websites/Y/YummyAnime/.zed/settings.json
  websites/Y/YummyAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore: revert accidentally changed package-lock.json
  package-lock.json
Owners: none

Create presence.ts
  websites/M/Monochrome/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add files via upload
  websites/M/Monochrome/metadata.json
  websites/M/Monochrome/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(website): add Monochrome
  websites/M/Monochrome/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(style): resolve linting errors
  websites/M/Monochrome/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: remove unused ts directive
  websites/M/Monochrome/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Itaku): add activity
  websites/I/Itaku/Itaku.json
  websites/I/Itaku/metadata.json
  websites/I/Itaku/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: simplified getStrings logic and removed unnecessary checks
  websites/I/Itaku/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update Chess.com.json
  websites/C/Chess.com/Chess.com.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Change author name and update description in metadata
  websites/M/Monochrome/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update metadata.json
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add files via upload
  websites/0-9/4Anime/iframe.ts
  websites/0-9/4Anime/metadata.json
  websites/0-9/4Anime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/V/Vix/metadata.json
  websites/V/Vix/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/V/Vix/presence.ts
  websites/V/Vix/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add Boosteroid Rich Presence (Dashboard + Streaming + Platform icons + Timestamps)
  websites/B/Boosteroid/metadata.json
  websites/B/Boosteroid/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore: update regex
  websites/A/AnimeKai/metadata.json
  websites/A/AnimixPlay/metadata.json
  websites/G/Gojo.live/metadata.json
  websites/M/Mastodon/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(HTB Academy): fixed DOM scraping
  websites/H/HTB Academy/metadata.json
  websites/H/HTB Academy/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add new URL to metadata.json for Gojo.live
  websites/G/Gojo.live/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update metadata.json to remove animetsu.to
  websites/G/Gojo.live/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update websites/G/Gojo.live/metadata.json
  websites/G/Gojo.live/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add metadata.json for openplaceservice
  websites/O/OpenPlace/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Implement presence tracking with activity updates
  websites/O/OpenPlace/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: added Spotify.json and changed music to song
  websites/S/Spotify/Spotify.json
  websites/S/Spotify/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661
