Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timeraa, @Bas950, @StrikerFRFX, @Fruxh, @TheDropX, @SeMiD

.github/CODEOWNERS:

* @Timeraa @Bas950 @StrikerFRFX

@types/* @Timeraa
LICENSE @Fruxh
package.json @Timeraa @Fruxh @TheDropX
yarn.lock @Timeraa @Fruxh @TheDropX
presenceUpdater.ts @Timeraa
syntaxEnforcer.ts @SeMiD
qualityAssurance.ts @SeMiD
.gitignore @Timeraa @Fruxh

feat(bartu civaş): add new activity
  websites/B/bilibili/bilibili.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Fix TypeScript build: add regExp to deleted activity placeholder metadata
  cli/src/util/getActivities.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update root package-lock.json
  package-lock.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Modification package.json
  package.json
Owners: @Timeraa, @Fruxh, @TheDropX

fix: add new mirror to iFrameRegExp
  websites/Y/YummyAnime/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: fix version
  websites/Y/YummyAnime/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

feat(VK Music): add activity
  package-lock.json
  websites/V/VK Music/metadata.json
  websites/V/VK Music/presence.ts
  websites/V/VK/metadata.json
  websites/V/VK/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

feat: add Melofy presence
  websites/M/Melofy/metadata.json
  websites/M/Melofy/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

lint fixes
  websites/M/Melofy/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Add files via upload
  websites/metadata.json
  websites/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Add metadata.json for CreamSodaBoys service
  websites/C/CreamSodaBoys/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Add presence tracking functionality
  websites/C/CreamSodaBoys/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

chore(HTB Academy): change certificate path
  websites/H/HTB Academy/metadata.json
  websites/H/HTB Academy/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

feat: add Watch Party sync script system
  .gitignore
  @types/premid/index.d.ts
  cli/src/classes/SyncScriptCompiler.ts
  cli/src/classes/WebSocketServer.ts
  cli/src/commands/sync.ts
  cli/src/index.ts
  cli/src/util/getSyncScripts.ts
  cli/templates/sync-content.ts
  cli/templates/sync-iframe.ts
  cli/templates/sync-tsconfig.json
  docs/.vitepress/config.ts
  docs/v1/api/index.md
  docs/v1/api/sync-script-context.md
  docs/v1/api/sync-script-types.md
  docs/v1/examples/watch-party.md
  docs/v1/guide/iframes.md
  docs/v1/guide/watch-party-advanced.md
  docs/v1/guide/watch-party-behavior.md
  docs/v1/guide/watch-party-sync-scripts.md
  docs/v1/guide/watch-party-video.md
  package-lock.json
  syncScripts/Disney+/content.ts
  syncScripts/Disney+/mainworld.ts
  syncScripts/Disney+/metadata.json
  syncScripts/YouTube/content.ts
  syncScripts/YouTube/metadata.json
Owners: @Timeraa, @Fruxh, @Bas950, @StrikerFRFX

fix: resolve eslint/prettier formatting issues
  cli/src/classes/SyncScriptCompiler.ts
  docs/v1/api/sync-script-context.md
  docs/v1/api/sync-script-types.md
  docs/v1/guide/watch-party-advanced.md
  docs/v1/guide/watch-party-behavior.md
  docs/v1/guide/watch-party-sync-scripts.md
  docs/v1/guide/watch-party-video.md
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: exclude syncScripts from activity change detection
  cli/src/util/getActivities.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: skip syncScripts files before walking for metadata.json
  cli/src/util/getActivities.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: use function property style for sync script type definitions
  @types/premid/index.d.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update websites/H/Hackviser/metadata.json
  websites/H/Hackviser/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update regExp to include 'sc' domain
  websites/C/Cineby/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update metadata.json
  websites/H/Hackviser/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update metadata.json
  websites/H/Hackviser/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Changes v3 as for ESLint requested
  websites/C/ChatLLM Teams/metadata.json
  websites/C/ChatLLM Teams/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Update presence.ts
  websites/H/Hackviser/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

chore(YTPLR): Fix YT Video Title after the Embed Player got updated
  websites/Y/YTPLR/iframe.ts
  websites/Y/YTPLR/metadata.json
Owners: @Timeraa, @Bas950, @StrikerFRFX

feat: add WatchIt activity support with rich presence tracking
  websites/W/WatchIt/metadata.json
  websites/W/WatchIt/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

feat: implement sync script release functionality and add zip support
  cli/src/classes/ActivityCompiler.ts
  cli/src/classes/SyncScriptCompiler.ts
  cli/src/commands/checkDns.ts
  cli/src/commands/release.ts
  cli/src/commands/sync.ts
  cli/src/index.ts
  cli/src/util/getActivities.ts
  cli/src/util/getChangedFiles.ts
  cli/src/util/getSyncScripts.ts
  cli/src/util/zipDir.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Changes v4 as for ESLint requested
  websites/C/ChatLLM Teams/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

Changes v5 as for ESLint requested
  websites/C/ChatLLM Teams/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

feat: Add Youku activity
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: Update logo and thumbnail to 512x512 images
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: Resolve ESLint and PMD validation errors
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

test fix
  websites/Y/Youku/metadata.json
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

fix: Complete ESLint compliance - 0 errors
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

text fix
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

test
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX

g
  websites/Y/Youku/presence.ts
Owners: @Timeraa, @Bas950, @StrikerFRFX
