Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

docs: improve getPageVariable example with proper destructuring and type annotations
  docs/v1/api/presence-class.md
Owners: none

fix: update URL references to use document.location.href instead of document.URL
  docs/v1/api/slideshow.md
  docs/v1/examples/iframes.md
  docs/v1/examples/media.md
  docs/v1/examples/settings.md
  docs/v1/examples/slideshow.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/iframes.md
  docs/v1/guide/localization.md
  docs/v1/guide/presence-class.md
  docs/v1/guide/settings.md
  docs/v1/guide/slideshows.md
Owners: none

chore: enable search and add special episode formatting
  docs/.vitepress/config.ts
  docs/v1/api/presence-data.md
  docs/v1/examples/media.md
  docs/v1/guide/presence-class.md
Owners: none

docs: update metadata link in API index
  docs/v1/api/index.md
Owners: none

chore: lint
  .github/workflows/vhs.yaml
  docs/v1/api/metadata-json.md
  docs/v1/api/presence-data.md
  docs/v1/examples/slideshow.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/iframes.md
  docs/v1/guide/metadata.md
  docs/v1/guide/presence-class.md
Owners: none

chore: add forwarding to sidebar
  docs/.vitepress/config.ts
Owners: none

chore: update stuff
  docs/v1/api/metadata-json.md
  docs/v1/api/presence-data.md
  docs/v1/api/utility-functions.md
  docs/v1/examples/media.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/index.md
  docs/v1/guide/metadata.md
  docs/v1/guide/presence-class.md
Owners: none

feat: dep updates, favicon, allowURLOverrides
  docs/.vitepress/config.ts
  docs/package-lock.json
  docs/package.json
  docs/v1/api/metadata-json.md
  docs/v1/guide/metadata.md
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

Add tape recordings for creating and developing activities
  .github/workflows/vhs.yaml
  docs/public/tapes/create-activity.gif
  docs/public/tapes/developing-activity.gif
  docs/tapes/create-activity.tape
  docs/tapes/developing-activity.tape
  docs/v1/api/metadata-json.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/metadata.md
Owners: none

fix: browsingTimestamp and ActivityAssets
  docs/v1/api/presence-class.md
  docs/v1/api/presence-data.md
  docs/v1/api/slideshow.md
  docs/v1/api/utility-functions.md
  docs/v1/examples/iframes.md
  docs/v1/examples/index.md
  docs/v1/examples/media.md
  docs/v1/examples/settings.md
  docs/v1/examples/slideshow.md
  docs/v1/guide/best-practices.md
  docs/v1/guide/dependencies.md
  docs/v1/guide/first-activity.md
  docs/v1/guide/iframes.md
  docs/v1/guide/localization.md
  docs/v1/guide/presence-class.md
  docs/v1/guide/settings.md
  docs/v1/guide/slideshows.md
  docs/v1/guide/structure.md
Owners: none

fix: update description for timestamp setting to clarify functionality
  docs/v1/api/metadata-json.md
  docs/v1/guide/metadata.md
Owners: none

feat(TinDay): add initial activity
  websites/T/TinDay/metadata.json
  websites/T/TinDay/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(TinDay): remove same tag
  websites/T/TinDay/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(TinDay): eslint acceptance
  websites/T/TinDay/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Added viewing notes featurr
  websites/P/Physics Wallah/metadata.json
  websites/P/Physics Wallah/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update
  websites/P/Physics Wallah/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

update
  websites/P/Physics Wallah/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

sst
  websites/P/Physics Wallah/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

lint
  websites/P/Physics Wallah/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

update
  websites/P/Physics Wallah/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

version fix
  websites/P/Physics Wallah/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Jaydenz Encore Site
  websites/J/Jaydenz Encore/metadata.json
  websites/J/Jaydenz Encore/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

oops lol
  websites/J/Jaydenz Encore/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

im done i think
  websites/J/Jaydenz Encore/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

.
  websites/J/Jaydenz Encore/metadata.json
  websites/J/Jaydenz Encore/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

.
  websites/J/Jaydenz Encore/metadata.json
  websites/J/Jaydenz Encore/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

ok there we go lol
  websites/J/Jaydenz Encore/metadata.json
  websites/J/Jaydenz Encore/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

.........
  websites/J/Jaydenz Encore/metadata.json
  websites/J/Jaydenz Encore/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add internationalization support
  websites/P/Primeshows/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Implement configurable presence settings and privacy features
  websites/P/Primeshows/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Enhance media detection and formatting functions
  websites/P/Primeshows/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update dependency and type references
  websites/P/Primeshows/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update version number to 1.0.1
  websites/P/Primeshows/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/A/Anizium directory
  websites/A/Anizium/iframe.ts
  websites/A/Anizium/metadata.json
  websites/A/Anizium/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add files via upload
  websites/A/Anizium/iframe.ts
  websites/A/Anizium/metadata.json
  websites/A/Anizium/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/A/Anizium directory
  websites/A/Anizium/iframe.ts
  websites/A/Anizium/metadata.json
  websites/A/Anizium/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add files via upload
  websites/A/Anizium/iframe.ts
  websites/A/Anizium/metadata.json
  websites/A/Anizium/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Onshape presence
  websites/O/OnShape/metadata.json
  websites/O/OnShape/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Linted code
  websites/O/OnShape/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(OnShape): linted code
  websites/O/OnShape/metadata.json
  websites/O/OnShape/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD
