Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

fix(OgladajAnime): fix watchTime not being read correctly
  websites/O/OgladajAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(OgladajAnime): fix default profile picture not showing and allow custom watch time to be displayed
  websites/O/OgladajAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Cleaned code
  websites/W/WeebCentral/metadata.json
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Cleaned the code again
  websites/W/WeebCentral/metadata.json
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Removed empty spaces
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence.ts
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence.ts
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence.ts
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence.ts
  websites/W/WeebCentral/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(OgladajAnime): organize strings
  websites/O/OgladajAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(OgladajAnime): use imgur instead of ogladajanime's CDN
  websites/O/OgladajAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(OgladajAnime): upscale image (there is no 512x512 version of this)
  websites/O/OgladajAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Google Keep): update selectors & support multiple account
  websites/G/Google Keep/metadata.json
  websites/G/Google Keep/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(OgladajAnime): add caching
  websites/O/OgladajAnime/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update URL from cineby.app to cineby.gd
  websites/C/Cineby/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(cli): bump deps and fix test
  cli/package-lock.json
  cli/package.json
  cli/src/classes/AssetsManager.test.ts
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

chore(docs): update dependencies
  docs/package-lock.json
  docs/package.json
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

chore(Grok): update dependencies
  websites/G/Grok/metadata.json
  websites/G/Grok/package-lock.json
  websites/G/Grok/package.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX

chore(iFixit): update dependencies
  websites/I/iFixit/metadata.json
  websites/I/iFixit/package-lock.json
  websites/I/iFixit/package.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX

chore(Netflix): update dependencies
  websites/N/Netflix/metadata.json
  websites/N/Netflix/package-lock.json
  websites/N/Netflix/package.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX

chore(U-NEXT): update dependencies
  websites/U/U-NEXT/metadata.json
  websites/U/U-NEXT/package-lock.json
  websites/U/U-NEXT/package.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX

chore: update dependencies
  package-lock.json
  package.json
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

Add activity for gojo.live
  websites/G/Gojo.live/metadata.json
  websites/G/Gojo.live/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Make `Mature Content Censoring` always active
  websites/G/Gojo.live/metadata.json
  websites/G/Gojo.live/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

pass lint checks
  websites/G/Gojo.live/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

title parsing hotfix
  websites/G/Gojo.live/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix: add game provider setting and update stake currency display
  package-lock.json
  websites/S/Stake.us/metadata.json
  websites/S/Stake.us/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

addressed linting issues
  websites/S/Stake.us/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

minor wording change
  websites/S/Stake.us/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Remove package-lock.json
  package-lock.json
Owners: none

feat(Stake.us): add showGameProvider setting and include provider in presence; update selectors and tidy logic
  websites/S/Stake.us/metadata.json
  websites/S/Stake.us/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(YukiList): add presence
  websites/Y/YukiList/metadata.json
  websites/Y/YukiList/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(YukiList): resolve linting errors
  websites/Y/YukiList/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(YukiList): remove deprecated getStrings
  websites/Y/YukiList/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(YukiList): resolve ESLint formatting errors
  websites/Y/YukiList/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Anime Sama): update domain
  websites/A/Anime Sama/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update metadata.json
  websites/S/skuyfun/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update selectors for title, episode, and image
  websites/S/skuyfun/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update Flixer URL from flixer.su to flixer.sh
  websites/F/Flixer/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Add support for unranked & SpookyGuessr
  websites/G/GeoGuessr/GeoGuessr.json
  websites/G/GeoGuessr/assets.ts
  websites/G/GeoGuessr/metadata.json
  websites/G/GeoGuessr/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD
