Repository PreMiD/Activities, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX, @SeMiD

Delete websites/L/Lunar/metadata.json
  websites/L/Lunar/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Gpop.io): add regExp and use 512x512 logo
  websites/G/Gpop.io/metadata.json
  websites/G/Gpop.io/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Gpop.io): add activity
  websites/G/Gpop.io/metadata.json
  websites/G/Gpop.io/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(deps): update dependencies to resolve all npm audit CVEs
  cli/package-lock.json
  cli/package.json
  docs/package-lock.json
  docs/package.json
  eslint.config.mjs
  package-lock.json
  package.json
Owners: @Timeraa, @Fruxh, @TheDropX, @ririxidev

fix: resolve CodeQL alerts in activities touched by this PR
  websites/M/MyAnimeList/presence.ts
  websites/R/Roll20/presence.ts
  websites/V/V3rmillion/presence.ts
  websites/W/Webflow/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore(Amazon): bump to 1.7.1 (1.7.0 released from main after rebase)
  websites/A/Amazon/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

chore: remove activities with deleted Discord applications
  websites/A/Altearn/metadata.json
  websites/A/Altearn/presence.ts
  websites/B/BuildTheEarth/metadata.json
  websites/B/BuildTheEarth/presence.ts
  websites/F/FR-Minecraft/metadata.json
  websites/F/FR-Minecraft/presence.ts
  websites/G/Gunivers/metadata.json
  websites/G/Gunivers/presence.ts
  websites/L/Log.com.tr/metadata.json
  websites/L/Log.com.tr/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Reddit): resolve enum-referenced clientIds in pmd validation
  cli/src/classes/AssetsManager.test.ts
  cli/src/classes/AssetsManager.ts
  websites/R/Reddit/metadata.json
  websites/R/Reddit/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(Grok): update presence for current grok.com
  websites/G/Grok/Grok.json
  websites/G/Grok/assets.ts
  websites/G/Grok/conversation.ts
  websites/G/Grok/functions/fetchResponsesMetadata.ts
  websites/G/Grok/metadata.json
  websites/G/Grok/modes.ts
  websites/G/Grok/package-lock.json
  websites/G/Grok/package.json
  websites/G/Grok/presence.ts
  websites/G/Grok/types.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661, @Timeraa, @Fruxh, @TheDropX

fix(Hami Video): address review feedback
  websites/H/Hami Video/Hami Video.json
  websites/H/Hami Video/metadata.json
  websites/H/Hami Video/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete metadata.json
  metadata.json
Owners: none

Delete presence.ts
  presence.ts
Owners: none

Update presence.ts
  websites/L/Letterboxd/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Bump version in metadata.json
  websites/L/Letterboxd/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Hami Video): resolve CI errors
  websites/H/Hami Video/metadata.json
  websites/H/Hami Video/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Hami Video): resolve CI errors
  websites/H/Hami Video/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Refine presence messages for user activities
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(Letterboxd): resolve undefined profile state and expand route detection (#11133)
  websites/L/Letterboxd/metadata.json
  websites/L/Letterboxd/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

complete rewrite, as well as adding several new pages to presence
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

add contributor to metadata, a new tag and two new translations for the description
  websites/V/VirusTotal/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

add new overview pages
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

add graph view to prescence
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix overview pages not showing on rpc
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

add additional page for contact
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

add getting started pages
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix grammar issue
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

add presence for collection page
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix linting issues
  websites/V/VirusTotal/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update metadata.json
  websites/N/Netflix/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update presence.ts
  websites/N/Netflix/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix lint errors in presence.ts
  websites/N/Netflix/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

linted
  websites/V/VirusTotal/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

feat(AnimeOn): add activity
  websites/A/AnimeOn/metadata.json
  websites/A/AnimeOn/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

fix(AnimeOn): stop leaking playback position through timestamps
  websites/A/AnimeOn/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix Amazon Music progres bar and playing/pause names
  websites/A/Amazon Music/metadata.json
  websites/A/Amazon Music/presence.ts
  websites/M/my-activity-name/metadata.json
  websites/M/my-activity-name/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Delete websites/M/my-activity-name directory
  websites/M/my-activity-name/metadata.json
  websites/M/my-activity-name/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Update metadata.json
  websites/A/Amazon Music/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix ESLint issues
  websites/A/Amazon Music/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fixed ESLint issues
  websites/A/Amazon Music/metadata.json
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

Fix ESLint issue
  websites/A/Amazon Music/presence.ts
Owners: @Bas950, @ririxidev, @StrikerFRFX, @SlowLife1661

.github/CODEOWNERS:

websites/** @Bas950 @ririxidev @StrikerFRFX @SlowLife1661

@types/** @Timeraa @ririxidev @Bas950
package.json @Timeraa @Fruxh @TheDropX @ririxidev
yarn.lock @Timeraa @Fruxh @TheDropX @ririxidev
.eslintrc.json @ririxidev
.github/CODEOWNERS @ririxidev @Bas950
.github/CONTRIBUTING.md @Bas950 @ririxidev

util/tools/translator.ts @Bas950 @ririxidev
util/tools/auto/** @SeMiD
