Repository PreMiD/Activities, pull requests merged in 2022-10, with the labels that each got.

#6831 fix(Snapchat): privacy mode bug
  websites/S/Snapchat/metadata.json
  websites/S/Snapchat/presence.ts
Labels: presence update

#6839 refactor: monthly SE
  websites/C/Craiyon/metadata.json
  websites/F/Foxford/metadata.json
  websites/H/Heroku/metadata.json
  websites/J/jut.su/metadata.json
  websites/L/ListenBrainz/metadata.json
  websites/M/Monos Chinos/metadata.json
  websites/R/Raven Code/metadata.json
  websites/S/Skype/metadata.json
  websites/U/UKTV/metadata.json
  websites/W/War Thunder/metadata.json
Labels: multiple presences, chore

#6841 chore(Skribbl.io): remove unused await
  websites/S/Skribbl.io/metadata.json
  websites/S/Skribbl.io/presence.ts
Labels: presence update

#6840 chore(TruckersMP): update strings
  websites/T/TruckersMP/metadata.json
  websites/T/TruckersMP/presence.ts
Labels: presence update

#6829 fix(Asura Scans): add new domain and fix links
  websites/A/Asura Scans/metadata.json
  websites/A/Asura Scans/presence.ts
Labels: presence update

#6824 feat(Unicode Character Table): add presence
  websites/U/Unicode Character Table/metadata.json
  websites/U/Unicode Character Table/presence.ts
Labels: presence update

#6822 feat(The Eternal Jukebox): add presence
  websites/T/The Eternal Jukebox/metadata.json
  websites/T/The Eternal Jukebox/presence.ts
Labels: new presence

#6830 fix(Hyakanime): fix links
  websites/H/Hyakanime/metadata.json
  websites/H/Hyakanime/presence.ts
Labels: presence update

#6846 feat(Hero Forge): add presence
  websites/H/Hero Forge/metadata.json
  websites/H/Hero Forge/presence.ts
Labels: new presence

#6825 feat(Tebex): add presence
  websites/T/Tebex/metadata.json
  websites/T/Tebex/presence.ts
Labels: new presence

#6863 fix(Plex): invalid cover art
  websites/P/Plex/metadata.json
  websites/P/Plex/presence.ts
Labels: presence update

#6848 fix(Spotify Podcasts): not showing podcast
  websites/S/Spotify Podcasts/metadata.json
  websites/S/Spotify Podcasts/presence.ts
Labels: presence update

#6850 feat(learnjavascript.online): add presence
  websites/L/Learnjavascript/metadata.json
  websites/L/Learnjavascript/presence.ts
Labels: new presence

#6851 feat(Town of Salem): refactor and add more game states
  websites/T/Town of Salem/metadata.json
  websites/T/Town of Salem/presence.ts
Labels: presence update

#6817 feat(Color Coded Lyrics): add presence
  websites/C/Color Coded Lyrics/metadata.json
  websites/C/Color Coded Lyrics/presence.ts
Labels: new presence

#6845 feat(5etools): add presence
  websites/0-9/5etools/metadata.json
  websites/0-9/5etools/presence.ts
Labels: new presence

#6847 feat(Hoyolab): add features
  websites/H/Hoyolab/metadata.json
  websites/H/Hoyolab/presence.ts
Labels: presence update

#6843 fix(Youtube): wrong uploader after short
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#6858 feat(Desu-Online): add presence
  websites/D/Desu-Online/iframe.ts
  websites/D/Desu-Online/metadata.json
  websites/D/Desu-Online/presence.ts
Labels: new presence

#6897 ci: fix chalk error
  package.json
  tsconfig.json
  util/tools/auto/presenceUpdater.ts
  util/tools/auto/schemaValidator.ts
  util/tools/bumpChanged.ts
  util/tools/compileChanged.ts
  util/tools/massVer.ts
  util/tools/metadataSorter.ts
Labels: repo maintenance

#6898 chore: remove inactive users
  websites/A/Amazon Music/metadata.json
  websites/A/AnimationDigitalNetwork/metadata.json
  websites/A/Anontpp/metadata.json
  websites/B/Board Game Online/metadata.json
  websites/B/Byte/metadata.json
  websites/C/CoolMathGames/metadata.json
  websites/D/Deezer/metadata.json
  websites/G/Gartic.com.br/metadata.json
  websites/G/Gartic.io/metadata.json
  websites/G/Genius/metadata.json
  websites/G/Gmail/metadata.json
  websites/G/Google Domains/metadata.json
  websites/H/Hulu/metadata.json
  websites/H/Hyakanime/metadata.json
  websites/I/iHeartRadio/metadata.json
  websites/K/Kahoot/metadata.json
  websites/L/Learnjavascript/metadata.json
  websites/M/MangaDex/metadata.json
  websites/M/Metastream/metadata.json
  websites/M/myCANAL/metadata.json
  websites/N/NameMC/metadata.json
  websites/P/Pandora/metadata.json
  websites/P/Pokémon Showdown/metadata.json
  websites/Q/Q-dance/metadata.json
  websites/S/Shazam/metadata.json
  websites/S/Showtime/metadata.json
  websites/S/Skribbl.io/metadata.json
  websites/S/SoloLearn/metadata.json
  websites/S/SoundCloud/metadata.json
  websites/S/Starz/metadata.json
  websites/S/StopotS/metadata.json
  websites/T/TV Time/metadata.json
  websites/T/TheSite/metadata.json
  websites/T/TikTok/metadata.json
  websites/T/Tubi/metadata.json
  websites/T/TuneIn/metadata.json
  websites/T/Twitch/metadata.json
  websites/T/Twitter/metadata.json
  websites/U/UserBenchmark/metadata.json
  websites/V/Vimeo/metadata.json
  websites/W/W3Schools/metadata.json
  websites/W/Wattpad/metadata.json
  websites/Y/Yahoo Mail/metadata.json
Labels: multiple presences

#6868 feat(CloudConvert): add presence
  websites/C/CloudConvert/metadata.json
  websites/C/CloudConvert/presence.ts
Labels: new presence

#6859 feat(Reaper Scans): update presence for new website
  websites/R/Reaper Scans/metadata.json
  websites/R/Reaper Scans/presence.ts
Labels: presence update

#6867 feat(The Weather Channel): add presence
  websites/T/The Weather Channel/metadata.json
  websites/T/The Weather Channel/presence.ts
Labels: new presence

#6905 feat(This Website Will Self Destruct): add presence
  websites/T/This Website Will Self Destruct/metadata.json
  websites/T/This Website Will Self Destruct/presence.ts
Labels: new presence

#6892 feat(Anime Soul): change to static site
  websites/A/Anime Soul/metadata.json
  websites/A/Anime Soul/presence.ts
Labels: presence update

#6911 workflow(presenceUpdater): fix typescript import
  util/tools/auto/presenceUpdater.ts
Labels: repo maintenance

#6903 feat(ezGIF): add presence
  websites/E/ezGIF/metadata.json
  websites/E/ezGIF/presence.ts
Labels: new presence

#6896 feat(Craiyon): add result images to presence status
  websites/C/Craiyon/metadata.json
  websites/C/Craiyon/presence.ts
Labels: presence update

#6904 feat(LambdaGeneration): add presence
  websites/L/LambdaGeneration/metadata.json
  websites/L/LambdaGeneration/presence.ts
Labels: new presence

#6874 feat(Buienalarm): add presence
  websites/B/Buienalarm/metadata.json
  websites/B/Buienalarm/presence.ts
Labels: new presence

#6875 feat(Stake): add presence
  websites/S/Stake/metadata.json
  websites/S/Stake/presence.ts
Labels: new presence

#6910 chore(renovate): update config
  .github/renovate.json
Labels: repo maintenance, chore

#6908 perf(SteamDB): optimised code
  websites/S/SteamDB/metadata.json
  websites/S/SteamDB/presence.ts
Labels: presence update

#6912 feat(Videoland): change to newer site version
  websites/V/Videoland/metadata.json
  websites/V/Videoland/presence.ts
Labels: presence update

#6913 feat(Desu-Online): fix for episode title
  websites/D/Desu-Online/metadata.json
  websites/D/Desu-Online/presence.ts
Labels: presence update

#6936 chore: fix renovate config
  .github/renovate.json
Labels: repo maintenance, chore

#6935 feat(9anime): add timestamp setting
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
Labels: presence update

#6895 refactor(myCANAL): update presence
  websites/M/myCANAL/metadata.json
  websites/M/myCANAL/presence.ts
Labels: presence update

#6928 feat(TVNOW): update to RTL+
  websites/R/RTL+/metadata.json
  websites/R/RTL+/presence.ts
  websites/T/TVNOW/metadata.json
  websites/T/TVNOW/presence.ts
Labels: presence update

#6921 perf(Shikimori): rewritten all code and bugs fixed
  websites/S/Shikimori/metadata.json
  websites/S/Shikimori/presence.ts
Labels: presence update

#6891 feat(Shoob): add presence
  websites/S/Shoob/metadata.json
  websites/S/Shoob/presence.ts
Labels: new presence

#6943 workflow(presenceUpdater): fix __dirname error
  util/tools/auto/presenceUpdater.ts
Labels: repo maintenance

#6940 fix(Apple): fixed imgur links not working
  websites/A/Apple/metadata.json
Labels: presence update

#6942 feat(Kinopoisk): add presence
  websites/K/Kinopoisk/iframe.ts
  websites/K/Kinopoisk/metadata.json
  websites/K/Kinopoisk/presence.ts
Labels: new presence

#6959 fix(CD): add an empty line after sourcemap
  package.json
  tools/classes/PresenceCompiler.ts
  tools/util.ts
Labels: repo maintenance
