Repository PreMiD/Activities, pull requests merged in 2022-06, with the labels that each got.

#6296 chore: remove title templates from issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/service_request.yml
Labels: chore

#6273 feat(Emby): add support for rich images
  websites/E/Emby/dist/metadata.json
  websites/E/Emby/presence.ts
Labels: semver: minor

#6301 chore: bump TSTarget
  tsconfig.json
  util/tools/auto/tsconfig.auto.json
Labels: chore

#6303 fix(VanMoof): TS error
  websites/V/VanMoof/dist/metadata.json
  websites/V/VanMoof/presence.ts
Labels: metadata approved, presence update, semver: patch

#6214 feat(Free Web Novel): new presence
  websites/F/Free Web Novel/dist/metadata.json
  websites/F/Free Web Novel/presence.ts
  websites/F/Free Web Novel/tsconfig.json
Labels: metadata approved, new presence

#6306 fix(YouTube Music): unable to get artist
  websites/Y/YouTube Music/dist/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update, semver: patch

#6298 chore(HentaiZ): remove presence
  websites/H/HentaiZ/dist/metadata.json
  websites/H/HentaiZ/iframe.ts
  websites/H/HentaiZ/presence.ts
  websites/H/HentaiZ/tsconfig.json
Labels: presence deletion

#6312 fix(Mycanal): rectify the title when a movie is played
  websites/M/myCANAL/dist/metadata.json
  websites/M/myCANAL/presence.ts
Labels: presence update, semver: patch

#6256 feat(ProBot): update for the broken and missing links
  websites/P/ProBot/dist/metadata.json
  websites/P/ProBot/presence.ts
Labels: metadata approved, lang: approved, presence update, semver: major

#6250 feat(Quran.com): add presence
  websites/Q/Quran.com/dist/metadata.json
  websites/Q/Quran.com/presence.ts
  websites/Q/Quran.com/tsconfig.json
Labels: metadata approved, new presence

#6311 feat(Crowdin): support website redesign and general improvement
  websites/C/Crowdin/dist/metadata.json
  websites/C/Crowdin/presence.ts
Labels: presence update, semver: major

#6320 chore(HVNC): change domain
  websites/H/HVNC/dist/metadata.json
Labels: presence update, semver: patch

#6325 fix(Plex): fixed title & details for movies
  websites/P/Plex/dist/metadata.json
  websites/P/Plex/presence.ts
Labels: presence update, semver: patch

#6328 fix(Nimo): presence not displaying in Theatre mode
  websites/N/Nimo/dist/metadata.json
  websites/N/Nimo/presence.ts
Labels: presence update, semver: patch

#6315 fix(HBO Max): unable to fetch some content
  websites/H/HBO Max/dist/metadata.json
  websites/H/HBO Max/presence.ts
Labels: presence update, semver: patch

#6310 feat(Фугапедия): new version
  websites/#/Фугапедия/dist/metadata.json
  websites/#/Фугапедия/presence.ts
Labels: metadata approved, presence update, semver: major

#6337 style: enable eqeqeq
  .eslintrc.json
  websites/F/filman.cc/dist/metadata.json
  websites/F/filman.cc/presence.ts
  websites/L/LiveLinkBio/dist/metadata.json
  websites/L/LiveLinkBio/presence.ts
  websites/P/PHP.net/dist/metadata.json
  websites/P/PHP.net/presence.ts
Labels: chore

#6323 feat(BigRig.FM): add presence
  websites/B/BigRigFM/dist/metadata.json
  websites/B/BigRigFM/presence.ts
  websites/B/BigRigFM/tsconfig.json
Labels: new presence

#6340 fix(Tidal): update element selectors
  websites/T/Tidal/dist/metadata.json
  websites/T/Tidal/presence.ts
Labels: paid service, presence update, semver: patch

#6308 fix(Anizm.TV): fix presence
  websites/A/AnizmTV/dist/metadata.json
  websites/A/AnizmTV/presence.ts
Labels: metadata approved, lang: approved, presence update, semver: major

#6262 feat(Wiki.gg): add presence
  websites/W/Wiki.gg/dist/metadata.json
  websites/W/Wiki.gg/presence.ts
  websites/W/Wiki.gg/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6265 feat(Geotastic): add presence
  websites/G/Geotastic/dist/metadata.json
  websites/G/Geotastic/presence.ts
  websites/G/Geotastic/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6240 feat(Pixelmon Mod): add presence
  websites/P/Pixelmon Mod/dist/metadata.json
  websites/P/Pixelmon Mod/presence.ts
  websites/P/Pixelmon Mod/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6353 fix: logo and thumbnail
  websites/A/AtCoder/dist/metadata.json
  websites/C/CodeChef/dist/metadata.json
  websites/C/Codeforces/dist/metadata.json
  websites/G/Google's Coding Competitions/dist/metadata.json
Labels: presence update, semver: patch, multiple presences

#6339 feat(tools): add util file and compileChanged
  .github/workflows/SE.yml
  .github/workflows/SV.yml
  .github/workflows/compileLint.yml
  @types/premid/index.d.ts
  package.json
  util/configs/tsconfig.compileChanged.json
  util/tools/auto/schemaValidator.ts
  util/tools/bumpChanged.ts
  util/tools/compileChanged.ts
  util/tools/massCompile.ts
  util/tools/massVer.ts
  util/tools/metadataSorter.ts
  util/tools/util.ts
Labels: chore

#6152 feat(stremio): add presence
  websites/S/Stremio/dist/metadata.json
  websites/S/Stremio/presence.ts
  websites/S/Stremio/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6368 ci(SV): don't run on push
  .github/workflows/SV.yml
Labels: chore, priority

#6372 feat(Roblox): fix games page
  websites/R/Roblox/dist/metadata.json
  websites/R/Roblox/presence.ts
Labels: presence update, semver: patch

#6375 fix(Deezer): paused icon not showing
  websites/D/Deezer/dist/metadata.json
  websites/D/Deezer/presence.ts
Labels: presence update, semver: patch
