Repository PreMiD/Activities, pull requests merged in 2022-05, with the labels that each got.

#6198 feat(Hyakanime.fr): Add presence
  websites/H/Hyakanime/dist/metadata.json
  websites/H/Hyakanime/presence.ts
  websites/H/Hyakanime/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6210 feat(e926): add presence
  websites/E/e926/dist/metadata.json
  websites/E/e926/presence.ts
  websites/E/e926/tsconfig.json
Labels: metadata approved, new presence

#6200 feat(Puray Animes): Add login, register, config pages presence
  websites/P/Puray Animes/dist/metadata.json
  websites/P/Puray Animes/presence.ts
Labels: metadata approved, lang: approved, presence update, semver: minor

#6243 fix(YummyAnime): Changed URL
  websites/Y/YummyAnime/dist/metadata.json
Labels: bug, presence update, semver: patch

#6242 chore: change pr template and labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/service_request.yml
  .github/PULL_REQUEST_TEMPLATE.MD
  .github/dependabot.yml
  .github/workflows/SE.yml
Labels: chore

#6252 chore: fix husky
  .husky/commit-msg
Labels: chore

#6203 refactor(AniCloud): overhaul AniCloud presence because of rebrand to AniWorld
  websites/A/AniCloud/dist/metadata.json
  websites/A/AniWorld/dist/metadata.json
  websites/A/AniWorld/iframe.ts
  websites/A/AniWorld/presence.ts
  websites/A/AniWorld/tsconfig.json
Labels: metadata approved, lang: approved, new presence, presence update

#6213 feat(Discord Resources): add presence
  websites/D/Discord Resources/dist/metadata.json
  websites/D/Discord Resources/presence.ts
  websites/D/Discord Resources/tsconfig.json
Labels: metadata approved, new presence

#6156 feat(Peario): add presence
  websites/P/Peario/dist/metadata.json
  websites/P/Peario/presence.ts
  websites/P/Peario/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6254 fix(discord resources) changing /wiki -> /resources
  websites/D/Discord Resources/dist/metadata.json
  websites/D/Discord Resources/presence.ts
Labels: presence update, semver: patch

#6224 fix(Wolfy): lang path offset and handle events
  websites/W/Wolfy/dist/metadata.json
  websites/W/Wolfy/presence.ts
Labels: lang: approved, presence update, semver: patch

#6260 fix(Apple TV+): wrong show/movie name, not detecting playback
  websites/A/Apple TV+/dist/metadata.json
  websites/A/Apple TV+/presence.ts
Labels: semver: minor

#6274 fix(Laftel): change author name
  websites/L/Laftel/dist/metadata.json
Labels: metadata approved, presence update, semver: patch

#6278 feat: bug report overhaul
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: chore
