Repository PreMiD/Activities, pull requests merged in 2022-08, with the labels that each got.

#6571 refactor: monthly SE
  websites/A/Alura/dist/metadata.json
  websites/F/Facebook/dist/metadata.json
  websites/Y/YouTube Music/dist/metadata.json
Labels: chore, multiple presences

#6566 fix(dod Games): add alternative fallback game detection
  websites/D/dod Games/dist/metadata.json
  websites/D/dod Games/presence.ts
Labels: presence update, semver: minor

#6570 feat(Coub): buttons, regex, external largeImageKey, elapsed timestamp
  websites/C/Coub/dist/metadata.json
  websites/C/Coub/presence.ts
Labels: presence update, semver: minor

#6563 feat(Discord ID): add presence
  websites/D/Discord ID/dist/metadata.json
  websites/D/Discord ID/presence.ts
  websites/D/Discord ID/tsconfig.json
Labels: metadata approved, new presence

#6579 feat(TruckersMP): buttons shouldn't show if privacy mode is enabled
  websites/T/TruckersMP/dist/metadata.json
  websites/T/TruckersMP/presence.ts
Labels: presence update, semver: patch

#6561 feat(Backloggd): add presence
  websites/B/Backloggd/dist/metadata.json
  websites/B/Backloggd/presence.ts
  websites/B/Backloggd/tsconfig.json
Labels: metadata approved, new presence

#6554 feat(UKTV): add presence
  websites/U/UKTV/dist/metadata.json
  websites/U/UKTV/presence.ts
  websites/U/UKTV/tsconfig.json
Labels: metadata approved, new presence

#6568 feat(CDKeys): buttons, cover & refactor
  websites/C/CDKeys/dist/metadata.json
  websites/C/CDKeys/presence.ts
Labels: presence update, semver: minor

#6578 feat(bs.to): add multi-domains support
  websites/B/bs.to/dist/metadata.json
  websites/B/bs.to/presence.ts
Labels: presence update, semver: minor

#6580 fix(Soap2day): remove non-official websites
  websites/S/SOAP2DAY/dist/metadata.json
Labels: presence update, semver: major

#6576 feat(jut.su): took over ownership
  websites/J/jut.su/dist/metadata.json
  websites/J/jut.su/presence.ts
Labels: metadata approved, lang: approved, presence update, semver: major

#6519 feat(Doordash): add presence
  websites/D/Doordash/dist/metadata.json
  websites/D/Doordash/presence.ts
  websites/D/Doordash/tsconfig.json
Labels: metadata approved, new presence

#6562 feat(Bandcamp): add cover
  websites/B/Bandcamp/dist/metadata.json
  websites/B/Bandcamp/presence.ts
Labels: presence update, semver: minor

#6553 feat(Lookmovies): add domains and cover
  websites/L/LookMovie/dist/metadata.json
  websites/L/LookMovie/presence.ts
Labels: presence update, semver: minor

#6577 feat(Dramacool): more domain support
  websites/D/DramaCool/dist/metadata.json
  websites/D/DramaCool/presence.ts
Labels: presence update, semver: minor

#6586 fix(animepahe): fix getStrings constantly call
  websites/A/animepahe/dist/metadata.json
  websites/A/animepahe/presence.ts
Labels: presence update, semver: patch

#6565 feat(Tanks.gg): add presence
  websites/T/Tanks.gg/dist/metadata.json
  websites/T/Tanks.gg/presence.ts
  websites/T/Tanks.gg/tsconfig.json
Labels: metadata approved, new presence

#6587 feat(AniMixPlay): add cover when viewing episode and anime info
  websites/A/AniMixPlay/dist/metadata.json
  websites/A/AniMixPlay/presence.ts
Labels: presence update, semver: minor

#6551 feat(Crave): add presence
  websites/C/Crave/dist/metadata.json
  websites/C/Crave/presence.ts
  websites/C/Crave/tsconfig.json
Labels: new presence

#6582 feat(000webhost): add privacy & perf
  websites/0-9/000webhost/dist/metadata.json
  websites/0-9/000webhost/presence.ts
Labels: presence update, semver: minor

#6592 fix(UKTV): domain issue
  websites/U/UKTV/dist/metadata.json
Labels: presence update, semver: patch

#6593 fix(Whatsapp): shown elements
  websites/W/WhatsApp/dist/metadata.json
  websites/W/WhatsApp/presence.ts
Labels: presence update, semver: patch

#6597 feat(Neovel): add regExp and showCover setting
  websites/N/Neovel/dist/metadata.json
  websites/N/Neovel/presence.ts
Labels: presence update, semver: minor

#6589 feat(Facebook): add user's page displaying
  websites/F/Facebook/dist/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update, semver: minor

#6583 refactor(Gmail): redoing codebase and add localization
  websites/G/Gmail/dist/metadata.json
  websites/G/Gmail/presence.ts
Labels: presence update, semver: major

#6595 feat(Novelfull): add buttons & cover & perf
  websites/N/Novelfull/dist/metadata.json
  websites/N/Novelfull/presence.ts
Labels: presence update, semver: minor

#6599 feat(E621): add cover & perf
  websites/E/e621/dist/metadata.json
  websites/E/e621/presence.ts
Labels: presence update, semver: minor

#6600 feat(E926): add cover & perf
  websites/E/e926/dist/metadata.json
  websites/E/e926/presence.ts
Labels: presence update, semver: minor

#6607 feat(Facebook): add reels support and fix bad display
  websites/F/Facebook/dist/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update

#6608 feat(7plus): add covers, buttons, privacy mode & perf
  websites/0-9/7plus/dist/metadata.json
  websites/0-9/7plus/presence.ts
Labels: presence update

#6614 feat(WhatsApp): show details on default
  websites/W/WhatsApp/dist/metadata.json
  websites/W/WhatsApp/presence.ts
Labels: presence update

#6616 refactor(WayBack Machine): switch & better button check
  websites/W/WayBack Machine/dist/metadata.json
  websites/W/WayBack Machine/presence.ts
Labels: presence update

#6598 feat(Yahoo Mail): add privacy mode & more details
  websites/Y/Yahoo Mail/dist/metadata.json
  websites/Y/Yahoo Mail/presence.ts
Labels: presence update

#6604 feat(Simplyaweeb): add new presence
  websites/S/Simplyaweeb/dist/metadata.json
  websites/S/Simplyaweeb/iframe.ts
  websites/S/Simplyaweeb/presence.ts
  websites/S/Simplyaweeb/tsconfig.json
Labels: new presence

#6615 feat(Soundcloud): add showButtons setting
  websites/S/SoundCloud/dist/metadata.json
  websites/S/SoundCloud/presence.ts
Labels: presence update

#6594 feat(Armorgames): add buttons setting & perf
  websites/A/Armorgames/dist/metadata.json
  websites/A/Armorgames/presence.ts
Labels: presence update

#6610 feat(WorldHideaway): add covers, buttons & privacy mode
  websites/W/Worldhideaway/dist/metadata.json
  websites/W/Worldhideaway/presence.ts
Labels: presence update

#6609 feat(Q-Dance): add buttons, multi lang with settings
  websites/Q/Q-dance/dist/metadata.json
  websites/Q/Q-dance/presence.ts
Labels: presence update

#6622 fix(AniMixPlay): fix empty parentheses
  websites/A/AniMixPlay/dist/metadata.json
  websites/A/AniMixPlay/presence.ts
Labels: presence update

#6630 feat(Epic Games): cover, buttons, privacy & fixes
  websites/E/Epic Games/dist/metadata.json
  websites/E/Epic Games/presence.ts
Labels: presence update

#6621 feat(Videoland): buttons, cover & privacy settings
  websites/V/Videoland/dist/metadata.json
  websites/V/Videoland/presence.ts
Labels: lang: needs review, presence update

#6651 feat(YouTube Music): Update presence descriptions
  websites/Y/YouTube Music/dist/metadata.json
Labels: presence update

#6612 feat(Los Angeles Times): add presence
  websites/L/Los Angeles Times/dist/metadata.json
  websites/L/Los Angeles Times/presence.ts
  websites/L/Los Angeles Times/tsconfig.json
Labels: metadata approved, new presence

#6639 chore(Neovel): change if statements for settings
  websites/N/Neovel/dist/metadata.json
  websites/N/Neovel/presence.ts
Labels: presence update

#6631 feat(Animea): add new presence
  websites/A/Animea/dist/metadata.json
  websites/A/Animea/iframe.ts
  websites/A/Animea/presence.ts
  websites/A/Animea/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6644 feat(OpenSea): add presence
  websites/O/OpenSea/dist/metadata.json
  websites/O/OpenSea/presence.ts
  websites/O/OpenSea/tsconfig.json
Labels: new presence

#6649 fix(VLC): fix error on display of track number
  websites/V/VLC/dist/metadata.json
  websites/V/VLC/presence.ts
Labels: presence update

#6657 chore(TeleCine): remove presence
  websites/T/TeleCine/dist/metadata.json
  websites/T/TeleCine/presence.ts
  websites/T/TeleCine/tsconfig.json
Labels: presence deletion

#6624 feat(Kijk): cover, fixes & switches
  websites/K/Kijk/dist/metadata.json
  websites/K/Kijk/presence.ts
Labels: presence update

#6650 feat(MangaFreak): add presence
  websites/M/MangaFreak/dist/metadata.json
  websites/M/MangaFreak/presence.ts
  websites/M/MangaFreak/tsconfig.json
Labels: new presence

#6641 feat(Crunchyroll): add series page support and multiples fix
  websites/C/Crunchyroll/dist/metadata.json
  websites/C/Crunchyroll/presence.ts
Labels: presence update

#6652 feat(JoJo's Bizarre Encyclopedia): add presence
  websites/J/JoJo's Bizarre Encyclopedia/dist/metadata.json
  websites/J/JoJo's Bizarre Encyclopedia/presence.ts
  websites/J/JoJo's Bizarre Encyclopedia/tsconfig.json
Labels: new presence

#6643 refactor(VRV): change code structure and more
  websites/V/VRV/dist/metadata.json
  websites/V/VRV/iframe.ts
  websites/V/VRV/presence.ts
Labels: presence update

#6636 feat(Deconreconstruction): add presence
  websites/D/Deconreconstruction/dist/metadata.json
  websites/D/Deconreconstruction/presence.ts
  websites/D/Deconreconstruction/tsconfig.json
Labels: new presence

#6626 feat(Tellingtone): add presence
  websites/T/Tellingtone/dist/metadata.json
  websites/T/Tellingtone/presence.ts
  websites/T/Tellingtone/tsconfig.json
Labels: lang: approved, new presence

#6638 feat(Dizilla): new domain & fix bugs
  websites/D/Dizilla/dist/metadata.json
  websites/D/Dizilla/presence.ts
Labels: presence update

#6658 feat(globoplay): adding support for podcasts, Telecine/STARZPLAY integration and some rebrands and fixes.
  websites/G/globoplay/dist/metadata.json
  websites/G/globoplay/presence.ts
Labels: presence update

#6666 fix(Messenger): fix wrong querySelector causing call bug
  websites/M/Messenger/dist/metadata.json
  websites/M/Messenger/presence.ts
Labels: presence update

#6656 refactor(Animes Vision): recode the whole presence
  websites/A/Animes Vision/dist/metadata.json
  websites/A/Animes Vision/presence.ts
Labels: presence update

#6669 fix(Sparknotes): fix bad display
  websites/S/Sparknotes/dist/metadata.json
  websites/S/Sparknotes/presence.ts
Labels: presence update

#6667 feat(Artfight): add presence
  websites/A/Artfight/dist/metadata.json
  websites/A/Artfight/presence.ts
  websites/A/Artfight/tsconfig.json
Labels: new presence

#6672 refactor(MangaDex): redo all codebase and add features
  websites/M/MangaDex/dist/metadata.json
  websites/M/MangaDex/presence.ts
Labels: presence update

#6605 feat(Musixmatch): presence rewrite
  websites/M/Musixmatch/dist/metadata.json
  websites/M/Musixmatch/presence.ts
Labels: presence update

#6676 fix(Dizilla): faulty regex
  websites/D/Dizilla/dist/metadata.json
Labels: presence update

#6619 feat(Archive of Our Own): add presence
  websites/A/Archive of Our Own/dist/metadata.json
  websites/A/Archive of Our Own/presence.ts
  websites/A/Archive of Our Own/tsconfig.json
Labels: new presence

#6674 fix(VLC): fix formatting error and display
  websites/V/VLC/dist/metadata.json
  websites/V/VLC/presence.ts
Labels: presence update

#6688 fix(YouTube): fix wrong channel name display
  websites/Y/YouTube/dist/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#6690 refactor(SOAP2DAY): change code structure and add setting
  websites/S/SOAP2DAY/dist/metadata.json
  websites/S/SOAP2DAY/presence.ts
Labels: presence update

#6693 feat(myCanal): add Show Cover setting
  websites/M/myCANAL/dist/metadata.json
  websites/M/myCANAL/presence.ts
Labels: presence update

#6685 feat(Deno): rewrite & more functions with settings
  websites/D/Deno/dist/metadata.json
  websites/D/Deno/presence.ts
Labels: presence update

#6686 fix(Discord): dm username
  websites/D/Discord/dist/metadata.json
  websites/D/Discord/presence.ts
Labels: presence update

#6670 feat(TV Time): recode & add buttons, covers & privacy
  websites/T/TV Time/dist/metadata.json
  websites/T/TV Time/presence.ts
Labels: presence update

#6709 feat(HBO GO): add new URL for Thailand
  websites/H/HBO GO/dist/metadata.json
Labels: presence update

#6712 feat(Patreon): add presence
  websites/P/Patreon/dist/metadata.json
  websites/P/Patreon/presence.ts
  websites/P/Patreon/tsconfig.json
Labels: new presence

#6692 feat(Tubi): multilang, buttons, covers, privacy & refactor
  websites/T/Tubi/dist/metadata.json
  websites/T/Tubi/presence.ts
Labels: presence update

#6714 feat(Alura): included presence when watching videos
  websites/A/Alura/dist/metadata.json
  websites/A/Alura/presence.ts
Labels: presence update

#6701 chore(NameMC): remove useless await
  websites/N/NameMC/dist/metadata.json
  websites/N/NameMC/presence.ts
Labels: presence update

#6704 feat(LookMovie): more site support & more settings
  websites/L/LookMovie/dist/metadata.json
  websites/L/LookMovie/presence.ts
Labels: presence update

#6716 fix(Picarto): updated logo, thumbnail and color
  websites/P/Picarto/dist/metadata.json
Labels: presence update

#6673 feat(Genshin Impact Map): add random preview & update data
  websites/G/Genshin Impact Map/dist/metadata.json
  websites/G/Genshin Impact Map/presence.ts
Labels: presence update

#6710 feat(The Odin Project): add presence
  websites/T/The Odin Project/dist/metadata.json
  websites/T/The Odin Project/presence.ts
  websites/T/The Odin Project/tsconfig.json
Labels: new presence

#6705 feat(LiveLinkBio): multilang, remove old sites & rewrite
  websites/L/LiveLinkBio/dist/metadata.json
  websites/L/LiveLinkBio/presence.ts
Labels: presence update
