Repository PreMiD/Activities, pull requests merged in 2022-12, with the labels that each got.

#7048 fix(Apple Music): wrong timestamps
  websites/A/Apple Music/metadata.json
  websites/A/Apple Music/presence.ts
Labels: presence update

#7049 chore(EA Origin): remove presence
  websites/E/EA Origin/metadata.json
  websites/E/EA Origin/presence.ts
Labels: presence deletion

#7055 feat(Discovery): rename presence & add go support
  websites/D/Discovery+/presence.ts
  websites/D/Discovery/metadata.json
  websites/D/Discovery/presence.ts
Labels: new presence

#7066 feat(AnimeDao): add settings & fix bugs
  websites/A/AnimeDao/iframe.ts
  websites/A/AnimeDao/metadata.json
  websites/A/AnimeDao/presence.ts
Labels: presence update

#7062 perf: multiple presence remove unnecessary slice
  websites/E/Epic Games/metadata.json
  websites/E/Epic Games/presence.ts
  websites/M/MUBI/metadata.json
  websites/M/MUBI/presence.ts
  websites/M/Marktplaats/metadata.json
  websites/M/Marktplaats/presence.ts
Labels: presence update, multiple presences

#7072 feat(IDLIX): add presence
  websites/I/IDLIX/iframe.ts
  websites/I/IDLIX/metadata.json
  websites/I/IDLIX/presence.ts
Labels: new presence

#7063 feat(Mee6): new site support
  websites/M/MEE6/metadata.json
  websites/M/MEE6/presence.ts
Labels: presence update

#7075 fix(Youtube): @username channel detection
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7083 fix(Facebook): fix fb.watch & fb.gg profile names
  websites/F/Facebook/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update

#7085 fix(Spotify Podcasts): fix presence
  websites/S/Spotify Podcasts/metadata.json
  websites/S/Spotify Podcasts/presence.ts
Labels: presence update

#7084 chore(AniMixPlay): delete presence
  websites/A/AniMixPlay/iframe.ts
  websites/A/AniMixPlay/metadata.json
  websites/A/AniMixPlay/presence.ts
Labels: presence deletion

#7064 feat(Modrinth): new presence
  websites/M/Modrinth/metadata.json
  websites/M/Modrinth/presence.ts
Labels: new presence

#7080 feat(Kinopub): add presence
  websites/K/Kinopub/iframe.ts
  websites/K/Kinopub/metadata.json
  websites/K/Kinopub/presence.ts
Labels: new presence

#7076 fix(Sezonluk Dizi): fix elements & change domain
  websites/S/Sezonluk Dizi/metadata.json
  websites/S/Sezonluk Dizi/presence.ts
Labels: presence update
