Repository PreMiD/Activities, pull requests merged in 2022-11, with the labels that each got.

#6950 feat(Flat): add presence
  websites/F/Flat/metadata.json
  websites/F/Flat/presence.ts
Labels: new presence

#6963 fix(Audible): multi-domain name support
  websites/A/Audible/metadata.json
Labels: presence update

#6947 feat(Google Earth): add presence
  websites/G/Google Earth/metadata.json
  websites/G/Google Earth/presence.ts
Labels: new presence

#6930 feat(JoJo's Bizarre Encyclopedia): update presence
  websites/J/JoJo's Bizarre Encyclopedia/metadata.json
  websites/J/JoJo's Bizarre Encyclopedia/presence.ts
Labels: presence update

#6955 feat(Discohook): add presence
  websites/D/Discohook/metadata.json
  websites/D/Discohook/presence.ts
Labels: new presence

#6941 fix(NetEase Cloud Music): fix and improve usage
  websites/#/网易云音乐/metadata.json
  websites/#/网易云音乐/presence.ts
  websites/S/Stake/metadata.json
Labels: presence update

#6962 fix(Caards): update presence
  websites/C/Caards/metadata.json
  websites/C/Caards/presence.ts
Labels: presence update

#6967 fix(dアニメストア): change new domain
  websites/D/dアニメストア/metadata.json
Labels: presence update

#6968 feat(Fly.io): add presence
  websites/F/Fly.io/metadata.json
  websites/F/Fly.io/presence.ts
Labels: new presence

#6958 fix(Dsc.gg): update presence
  websites/D/Dsc.gg/metadata.json
  websites/D/Dsc.gg/presence.ts
Labels: presence update

#6960 fix(WebProfiles): update presence
  websites/W/WebProfiles/metadata.json
  websites/W/WebProfiles/presence.ts
Labels: presence update

#6866 feat(Sofi): add presence
  websites/S/Sofi/metadata.json
  websites/S/Sofi/presence.ts
Labels: new presence

#6932 feat(YomuMangás): add presence
  websites/Y/YomuMangás/metadata.json
  websites/Y/YomuMangás/presence.ts
Labels: new presence

#6961 feat(Discord.style): update presence
  websites/D/Discord.style/metadata.json
  websites/D/Discord.style/presence.ts
Labels: presence update

#6937 feat(Discovery+): add presence
  websites/D/Discovery+/metadata.json
  websites/D/Discovery+/presence.ts
Labels: new presence

#6973 feat(OK): add presence
  websites/O/OK/iframe.ts
  websites/O/OK/metadata.json
  websites/O/OK/presence.ts
Labels: new presence

#6980 fix(Discord): fix presence
  websites/D/Discord/metadata.json
  websites/D/Discord/presence.ts
Labels: presence update

#6978 fix(RTL+): presence not working
  websites/R/RTL+/metadata.json
  websites/R/RTL+/presence.ts
Labels: presence update

#6989 chore: bump presences
  websites/#/网易云音乐/metadata.json
  websites/A/Audible/metadata.json
  websites/C/Caards/metadata.json
  websites/D/Discohook/metadata.json
  websites/D/Discord.style/metadata.json
  websites/D/Discord/metadata.json
  websites/D/Discovery+/metadata.json
  websites/D/Dsc.gg/metadata.json
  websites/D/dアニメストア/metadata.json
  websites/F/Flat/metadata.json
  websites/F/Fly.io/metadata.json
  websites/G/Google Earth/metadata.json
  websites/J/JoJo's Bizarre Encyclopedia/metadata.json
  websites/K/Kinopoisk/metadata.json
  websites/L/LoL Esports/metadata.json
  websites/O/OK/metadata.json
  websites/R/RTL+/metadata.json
  websites/S/Sofi/metadata.json
  websites/W/WebProfiles/metadata.json
Labels: multiple presences, chore

#6983 feat(Animeflix): add presence
  websites/A/Animeflix/metadata.json
  websites/A/Animeflix/presence.ts
Labels: new presence

#6974 feat(Rust Lang Book): add presence
  websites/R/Rust Lang Book/metadata.json
  websites/R/Rust Lang Book/presence.ts
Labels: new presence

#6976 feat(e-z): new pages and logo update
  websites/E/e-z/metadata.json
  websites/E/e-z/presence.ts
Labels: presence update

#6987 feat(DALL·E): add presence
  websites/D/DALL·E/metadata.json
  websites/D/DALL·E/presence.ts
Labels: new presence

#6990 feat(Cuevana 3): Updated / Fixed Url
  websites/C/Cuevana 3/metadata.json
  websites/C/Cuevana 3/presence.ts
Labels: presence update

#6998 chore: set core.quotePath to false on getDiff()
  .github/workflows/CI.yml
  tools/util.ts
Labels: repo maintenance

#6923 feat(Jackbox): add details for individual games
  websites/J/Jackbox/@types/index.d.ts
  websites/J/Jackbox/games/Party Pack 1/drawful.ts
  websites/J/Jackbox/games/Party Pack 1/drawful2.ts
  websites/J/Jackbox/games/Party Pack 1/drawful2international.ts
  websites/J/Jackbox/games/Party Pack 1/lieswatter.ts
  websites/J/Jackbox/games/Party Pack 1/wordspud.ts
  websites/J/Jackbox/games/Party Pack 1/ydkj2015.ts
  websites/J/Jackbox/games/Party Pack 2/auction.ts
  websites/J/Jackbox/games/Party Pack 2/bombintern.ts
  websites/J/Jackbox/games/Party Pack 2/earwax.ts
  websites/J/Jackbox/games/Party Pack 2/fibbage.ts
  websites/J/Jackbox/games/Party Pack 2/fibbage2.ts
  websites/J/Jackbox/games/Party Pack 3/awshirt.ts
  websites/J/Jackbox/games/Party Pack 3/fakinit.ts
  websites/J/Jackbox/games/Party Pack 3/pollposition.ts
  websites/J/Jackbox/games/Party Pack 3/quiplash.ts
  websites/J/Jackbox/games/Party Pack 3/quiplash2-international.ts
  websites/J/Jackbox/games/Party Pack 3/quiplash2.ts
  websites/J/Jackbox/games/Party Pack 3/triviadeath.ts
  websites/J/Jackbox/games/Party Pack 4/bracketeering.ts
  websites/J/Jackbox/games/Party Pack 4/fibbage3.ts
  websites/J/Jackbox/games/Party Pack 4/monstermingle.ts
  websites/J/Jackbox/games/Party Pack 4/overdrawn.ts
  websites/J/Jackbox/games/Party Pack 4/survivetheinternet.ts
  websites/J/Jackbox/games/Party Pack 5/patentlystupid.ts
  websites/J/Jackbox/games/Party Pack 5/rapbattle.ts
  websites/J/Jackbox/games/Party Pack 5/slingshoot.ts
  websites/J/Jackbox/games/Party Pack 5/splittheroom.ts
  websites/J/Jackbox/games/Party Pack 5/ydkj2018.ts
  websites/J/Jackbox/games/Party Pack 6/jokeboat.ts
  websites/J/Jackbox/games/Party Pack 6/pushthebutton.ts
  websites/J/Jackbox/games/Party Pack 6/ridictionary.ts
  websites/J/Jackbox/games/Party Pack 6/rolemodels.ts
  websites/J/Jackbox/games/Party Pack 6/triviadeath2.ts
  websites/J/Jackbox/games/Party Pack 7/blanky-blank.ts
  websites/J/Jackbox/games/Party Pack 7/everyday.ts
  websites/J/Jackbox/games/Party Pack 7/jackbox-talks.ts
  websites/J/Jackbox/games/Party Pack 7/quiplash3.ts
  websites/J/Jackbox/games/Party Pack 7/worldchamps.ts
  websites/J/Jackbox/games/Party Pack 8/apply-yourself.ts
  websites/J/Jackbox/games/Party Pack 8/drawful-animate.ts
  websites/J/Jackbox/games/Party Pack 8/murder-detectives.ts
  websites/J/Jackbox/games/Party Pack 8/survey-bomb.ts
  websites/J/Jackbox/games/Party Pack 8/the-wheel.ts
  websites/J/Jackbox/games/Party Pack 9/antique-freak.ts
  websites/J/Jackbox/games/Party Pack 9/fourbage.ts
  websites/J/Jackbox/games/Party Pack 9/htmf.ts
  websites/J/Jackbox/games/Party Pack 9/lineup.ts
  websites/J/Jackbox/games/Party Pack 9/range-game.ts
  websites/J/Jackbox/games/index.ts
  websites/J/Jackbox/games/unknown.ts
  websites/J/Jackbox/metadata.json
  websites/J/Jackbox/presence.ts
  websites/J/Jackbox/util.ts
Labels: presence update

#7005 fix(Tidal): presence not working after updates
  websites/T/Tidal/metadata.json
  websites/T/Tidal/presence.ts
Labels: new presence

#6994 feat(BeatLeader): add presence
  websites/B/BeatLeader/iframe.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: new presence

#7006 feat(Shoob): add paths and buttons
  websites/S/Shoob/metadata.json
  websites/S/Shoob/presence.ts
Labels: presence update

#7024 chore: fix invalid renovate cron
  .github/renovate.json
Labels: repo maintenance, chore

#7025 chore: run semid
  websites/A/Animeflix/metadata.json
  websites/A/Apple/metadata.json
  websites/C/Cuevana 3/metadata.json
  websites/D/Discohook/metadata.json
  websites/D/dアニメストア/metadata.json
  websites/O/OK/metadata.json
  websites/S/Sofi/metadata.json
  websites/T/Tidal/metadata.json
  websites/Y/YomuMangás/metadata.json
Labels: multiple presences

#7026 feat(Discogs): add presence
  websites/D/Discogs/metadata.json
  websites/D/Discogs/presence.ts
Labels: new presence

#7033 feat(Shoob): add card and user details
  websites/S/Shoob/metadata.json
  websites/S/Shoob/presence.ts
Labels: presence update

#7023 feat(ITV Hub): rebrand ITV Hub to ITVX
  websites/I/ITV Hub/presence.ts
  websites/I/ITVX/metadata.json
  websites/I/ITVX/presence.ts
Labels: new presence

#7032 feat(Bunpro): add community and add more details
  websites/B/Bunpro/metadata.json
  websites/B/Bunpro/presence.ts
Labels: presence update

#7030 chore: fix presenceValidator
  tools/auto/presenceValidator.ts
Labels: repo maintenance

#7031 feat(Stoodi): new presence
  websites/S/Stoodi/metadata.json
  websites/S/Stoodi/presence.ts
Labels: new presence

#7037 feat(MUBI): add presence
  websites/M/MUBI/metadata.json
  websites/M/MUBI/presence.ts
Labels: new presence

#7009 feat(HackTheBox): add presence
  websites/H/HackTheBox/metadata.json
  websites/H/HackTheBox/presence.ts
Labels: new presence
