Repository PreMiD/Activities, pull requests merged in 2022-09, with the labels that each got.

#6745 fix(Twitch): privacy setting doesn't clear buttons
  websites/T/Twitch/dist/metadata.json
  websites/T/Twitch/presence.ts
Labels: presence update

#6697 feat: add french translation for descriptions
  websites/A/AniList/dist/metadata.json
  websites/A/Animes Vision/dist/metadata.json
  websites/A/Artfight/dist/metadata.json
  websites/G/Gmail/dist/metadata.json
  websites/M/MangaDex/dist/metadata.json
  websites/M/MangaFreak/dist/metadata.json
  websites/S/SOAP2DAY/dist/metadata.json
  websites/S/Simplyaweeb/dist/metadata.json
  websites/S/Sitting on Clouds Radio/dist/metadata.json
  websites/V/VRV/dist/metadata.json
Labels: presence update

#6748 fix(Facebook): url for photo on profile
  websites/F/Facebook/dist/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update

#6734 feat(Kickstarter): add presence
  websites/K/Kickstarter/dist/metadata.json
  websites/K/Kickstarter/presence.ts
  websites/K/Kickstarter/tsconfig.json
Labels: new presence

#6738 fix(The Odin Project): fix minor stuff
  websites/T/The Odin Project/dist/metadata.json
  websites/T/The Odin Project/presence.ts
Labels: presence update

#6749 fix(Instagram): profile element changed
  websites/I/Instagram/dist/metadata.json
  websites/I/Instagram/presence.ts
Labels: presence update

#6752 feat(Toyhouse): add presence
  websites/T/Toyhouse/dist/metadata.json
  websites/T/Toyhouse/presence.ts
  websites/T/Toyhouse/tsconfig.json
Labels: new presence

#6747 feat(Craiyon): add presence
  websites/C/Craiyon/dist/metadata.json
  websites/C/Craiyon/presence.ts
  websites/C/Craiyon/tsconfig.json
Labels: new presence

#6754 feat(Stack Overflow): add buttons with setting
  websites/S/Stack Overflow/dist/metadata.json
  websites/S/Stack Overflow/presence.ts
Labels: presence update

#6753 feat(Stack Exchange): add buttons with setting
  websites/S/Stack Exchange/dist/metadata.json
  websites/S/Stack Exchange/presence.ts
Labels: presence update

#6755 feat(Skype): add multilang, privacy mode & fixes
  websites/S/Skype/dist/metadata.json
  websites/S/Skype/presence.ts
Labels: presence update

#6756 feat(Raven Code): change logo
  websites/R/Raven Code/dist/metadata.json
Labels: presence update

#6746 feat(War Thunder): add presence
  websites/W/War Thunder/dist/metadata.json
  websites/W/War Thunder/presence.ts
  websites/W/War Thunder/tsconfig.json
Labels: new presence

#6744 feat(Heroku): add presence
  websites/H/Heroku/dist/metadata.json
  websites/H/Heroku/presence.ts
  websites/H/Heroku/tsconfig.json
Labels: new presence

#6679 feat(EternalNetwork TM): add support for three new websites
  websites/E/EternalNetwork TM/dist/metadata.json
  websites/E/EternalNetwork TM/presence.ts
Labels: presence update

#6634 feat(NationStates): add presence
  websites/N/NationStates/dist/metadata.json
  websites/N/NationStates/presence.ts
  websites/N/NationStates/tsconfig.json
Labels: new presence

#6742 feat(Territorial): add presence
  websites/T/Territorial/dist/metadata.json
  websites/T/Territorial/presence.ts
  websites/T/Territorial/tsconfig.json
Labels: new presence

#6771 feat(MetaBrainz): add presence
  websites/M/MetaBrainz/dist/metadata.json
  websites/M/MetaBrainz/presence.ts
  websites/M/MetaBrainz/tsconfig.json
Labels: new presence

#6740 feat(Neko-sama): new presence
  websites/N/Neko-sama.fr/dist/metadata.json
  websites/N/Neko-sama.fr/iframe.ts
  websites/N/Neko-sama.fr/presence.ts
  websites/N/Neko-sama.fr/tsconfig.json
Labels: new presence

#6766 feat(Anime Sama): add presence
  websites/A/Anime Sama/dist/metadata.json
  websites/A/Anime Sama/iframe.ts
  websites/A/Anime Sama/presence.ts
  websites/A/Anime Sama/tsconfig.json
Labels: new presence

#6772 feat(MusicBrainz): add presence
  websites/M/MusicBrainz/dist/metadata.json
  websites/M/MusicBrainz/presence.ts
  websites/M/MusicBrainz/tsconfig.json
Labels: new presence

#6774 feat(MusicBrainz Picard): add presence
  websites/M/MusicBrainz Picard/dist/metadata.json
  websites/M/MusicBrainz Picard/presence.ts
  websites/M/MusicBrainz Picard/tsconfig.json
Labels: new presence

#6779 feat(Animevietsub): add presence
  websites/A/Animevietsub/dist/metadata.json
  websites/A/Animevietsub/presence.ts
  websites/A/Animevietsub/tsconfig.json
Labels: new presence

#6780 feat(Youtube): add shorts support & com post thumbnail
  websites/Y/YouTube/dist/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#6776 feat(CritiqueBrainz): add presence
  websites/C/CritiqueBrainz/dist/metadata.json
  websites/C/CritiqueBrainz/presence.ts
  websites/C/CritiqueBrainz/tsconfig.json
Labels: new presence

#6784 feat(AniList): add `buttons` setting and fix user avatar
  websites/A/AniList/dist/metadata.json
  websites/A/AniList/presence.ts
Labels: presence update

#6789 feat(FiveM): add privacy, buttons & covers
  websites/F/FiveM/dist/metadata.json
  websites/F/FiveM/presence.ts
Labels: presence update

#6794 fix(UKTV): fix title & add series
  websites/U/UKTV/metadata.json
  websites/U/UKTV/presence.ts
Labels: presence update

#6804 feat(ListenBrainz): add presence
  websites/L/ListenBrainz/metadata.json
  websites/L/ListenBrainz/presence.ts
Labels: new presence

#6806 fix(Wolvesville): fix presence
  websites/W/Wolvesville/metadata.json
  websites/W/Wolvesville/presence.ts
Labels: presence update

#6790 feat(BookBrainz): add presence
  websites/B/BookBrainz/metadata.json
  websites/B/BookBrainz/presence.ts
Labels: new presence

#6807 fix(Monos Chinos): fix queryselector
  websites/M/Monos Chinos/metadata.json
  websites/M/Monos Chinos/presence.ts
Labels: presence update

#6793 feat(5Mods): recoded presence with new features and settings
  websites/0-9/5Mods/metadata.json
  websites/0-9/5Mods/presence.ts
Labels: presence update

#6796 fix(Facebook): more profile detection
  websites/F/Facebook/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update

#6811 feat(D&D Beyond): add presence
  websites/D/D&D Beyond/metadata.json
  websites/D/D&D Beyond/presence.ts
Labels: new presence

#6782 feat(e-z): add presence
  websites/E/e-z/metadata.json
  websites/E/e-z/presence.ts
Labels: new presence

#6814 chore(4chan): abandoning presence
  websites/0-9/4chan/iframe.ts
  websites/0-9/4chan/metadata.json
  websites/0-9/4chan/presence.ts
Labels: presence update

#6799 feat(Foxford): add presence
  websites/F/Foxford/metadata.json
  websites/F/Foxford/presence.ts
Labels: new presence

#6823 feat(jut.su): add paths
  websites/J/jut.su/metadata.json
  websites/J/jut.su/presence.ts
Labels: presence update

#6820 feat(Canvas): add presence
  websites/C/Canvas/metadata.json
  websites/C/Canvas/presence.ts
Labels: new presence

#6816 feat(mod.io): add presence
  websites/M/mod.io/metadata.json
  websites/M/mod.io/presence.ts
Labels: new presence

#6826 fix(Youtube): fix shorts
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#6819 chore: update dependencies
  package.json
  util/tools/auto/presenceUpdater.ts
  yarn.lock
Labels: repo maintenance
