Repository PreMiD/Activities, pull requests merged in 2022-07, with the labels that each got.

#6397 ci: only run on pushes to main and prs
  .github/workflows/compileLint.yml
Labels: chore

#6400 refactor(tools): remove config files
  package.json
  tsconfig.json
  util/configs/tsconfig.auto.presenceUpdater.json
  util/configs/tsconfig.auto.schemaValidator.json
  util/configs/tsconfig.bumpChanged.json
  util/configs/tsconfig.compileChanged.json
  util/configs/tsconfig.massVer.json
  util/configs/tsconfig.metadataSorter.json
  util/configs/tsconfig.translator.json
  util/tools/auto/tsconfig.auto.json
  util/tools/tsconfig.json
Labels: chore

#6403 fix: why am I so incredibly stupid
  .github/workflows/SE.yml
  util/tools/util.ts
Labels: chore

#6404 refactor: monthly SE
  websites/H/HVNC/dist/metadata.json
  websites/P/Pixelmon Mod/dist/metadata.json
  websites/P/Plex/dist/metadata.json
  websites/R/Raven Code/dist/metadata.json
  websites/S/Sonic Retro/dist/metadata.json
  websites/T/Tidal/dist/metadata.json
Labels: chore

#6405 refactor(presenceUpdater): improve script
  util/tools/auto/presenceUpdater.ts
  util/tools/massVer.ts
  util/tools/metadataSorter.ts
  util/tools/util.ts
Labels: chore

#6382 fix(Hareshi): url
  websites/H/Hareshi/dist/metadata.json
  websites/H/Hareshi/presence.ts
Labels: presence update, semver: patch

#6270 feat(Trakt): new presence
  websites/T/Trakt/dist/metadata.json
  websites/T/Trakt/presence.ts
  websites/T/Trakt/tsconfig.json
Labels: metadata approved, new presence

#6332 feat(Discord Türkiye): new presence
  websites/D/Discord Turkiye/dist/metadata.json
  websites/D/Discord Turkiye/presence.ts
  websites/D/Discord Turkiye/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6376 fix(Speedtest): fixed ping selectors and live test
  websites/S/Speedtest/dist/metadata.json
  websites/S/Speedtest/presence.ts
Labels: presence update, semver: patch

#6289 feat(Wolvesville): show status, fix
  websites/W/Wolvesville/dist/metadata.json
  websites/W/Wolvesville/presence.ts
Labels: metadata approved, presence update, semver: minor

#6407 feat(SV): check if iframe is correct
  util/tools/auto/schemaValidator.ts
  util/tools/metadataSorter.ts
  util/tools/util.ts
Labels: chore

#6377 fix(Pocket Casts): make presence display page and audio listening to
  websites/P/Pocket Casts/dist/metadata.json
  websites/P/Pocket Casts/presence.ts
Labels: presence update, semver: patch

#6326 feat(Cda): presence rewrite
  websites/C/cda.pl/dist/metadata.json
  websites/C/cda.pl/presence.ts
Labels: metadata approved, lang: approved, presence update, semver: major

#6263 feat(Vizzy): new presence
  websites/V/Vizzy/dist/metadata.json
  websites/V/Vizzy/presence.ts
  websites/V/Vizzy/tsconfig.json
Labels: metadata approved, new presence

#6358 feat(jpdb): add presence
  websites/J/jpdb/dist/metadata.json
  websites/J/jpdb/presence.ts
  websites/J/jpdb/tsconfig.json
Labels: metadata approved, new presence

#6359 feat(picoCTF): add presence
  websites/P/picoCTF/dist/metadata.json
  websites/P/picoCTF/presence.ts
  websites/P/picoCTF/tsconfig.json
Labels: metadata approved, new presence

#6373 feat(Cuevana 3): fix url
  websites/C/Cuevana 3/dist/metadata.json
  websites/C/Cuevana 3/presence.ts
Labels: presence update, semver: patch

#6363 feat(ZARP Gaming): add presence
  websites/Z/ZARP Gaming/dist/metadata.json
  websites/Z/ZARP Gaming/presence.ts
  websites/Z/ZARP Gaming/tsconfig.json
Labels: metadata approved, new presence

#6423 feat(SOAP2DAY): add soap2day.rs to list of supported URLs
  websites/S/SOAP2DAY/dist/metadata.json
Labels: presence update

#6378 feat(Maliki): add new Presence
  websites/M/Maliki/dist/metadata.json
  websites/M/Maliki/iframe.ts
  websites/M/Maliki/presence.ts
  websites/M/Maliki/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6410 feat(Nightride.fm): new presence
  websites/N/Nightride.fm/dist/metadata.json
  websites/N/Nightride.fm/presence.ts
  websites/N/Nightride.fm/tsconfig.json
Labels: metadata approved, new presence

#6321 fix(Coub): updated page regex, adjusted buttons array
  websites/C/Coub/dist/metadata.json
  websites/C/Coub/presence.ts
Labels: presence update, semver: patch

#6342 feat(dod Games): new presence
  websites/D/dod Games/dist/metadata.json
  websites/D/dod Games/presence.ts
  websites/D/dod Games/tsconfig.json
Labels: lang: approved, new presence

#6422 feat(Raven Code): compatibility with new website design
  websites/R/Raven Code/dist/metadata.json
  websites/R/Raven Code/presence.ts
Labels: presence update, semver: minor

#6434 feat(Cytoid): new presence
  websites/C/Cytoid/dist/metadata.json
  websites/C/Cytoid/presence.ts
  websites/C/Cytoid/tsconfig.json
Labels: metadata approved, new presence

#6441 fix(TikTok): show user name and tag
  websites/T/TikTok/dist/metadata.json
  websites/T/TikTok/presence.ts
Labels: presence update, semver: patch

#6436 fix(Nightride.fm): fix user id of dev
  websites/N/Nightride.fm/dist/metadata.json
Labels: presence update, semver: patch

#6444 feat(Pixlr): new presence
  websites/P/Pixlr/dist/metadata.json
  websites/P/Pixlr/presence.ts
  websites/P/Pixlr/tsconfig.json
Labels: metadata approved, new presence

#6411 feat(AnimeGO): new presence
  websites/A/AnimeGO/dist/metadata.json
  websites/A/AnimeGO/iframe.ts
  websites/A/AnimeGO/presence.ts
  websites/A/AnimeGO/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6381 feat(Audible): new presence
  websites/A/Audible/dist/metadata.json
  websites/A/Audible/presence.ts
  websites/A/Audible/tsconfig.json
Labels: metadata approved, new presence

#6367 feat(GitHub): add privacy mode
  websites/G/GitHub/dist/metadata.json
  websites/G/GitHub/presence.ts
Labels: presence update, semver: minor

#6455 feat(Genshin Impact Map): update data
  websites/G/Genshin Impact Map/dist/metadata.json
  websites/G/Genshin Impact Map/presence.ts
Labels: presence update, semver: minor

#6371 feat(Flowlab): add presence
  websites/F/Flowlab/dist/metadata.json
  websites/F/Flowlab/presence.ts
  websites/F/Flowlab/tsconfig.json
Labels: metadata approved, new presence

#6438 feat(Plex): support local images
  websites/P/Plex/dist/metadata.json
  websites/P/Plex/presence.ts
Labels: presence update, semver: minor

#6437 feat(Jellyfin): support local images
  websites/J/Jellyfin/dist/metadata.json
  websites/J/Jellyfin/presence.ts
Labels: presence update

#6414 feat(Google Maps): new presence
  websites/G/Google Maps/dist/metadata.json
  websites/G/Google Maps/presence.ts
  websites/G/Google Maps/tsconfig.json
Labels: metadata approved, new presence

#6442 feat(Reddit): add privacy mode
  websites/R/Reddit/dist/metadata.json
  websites/R/Reddit/presence.ts
Labels: presence update, semver: minor

#6463 feat(BeatSaver): support playlists
  websites/B/BeatSaver/dist/metadata.json
  websites/B/BeatSaver/presence.ts
Labels: presence update, semver: minor

#6457 feat(Serializd): new presence
  websites/S/Serializd/dist/metadata.json
  websites/S/Serializd/presence.ts
  websites/S/Serializd/tsconfig.json
Labels: metadata approved, new presence

#6449 refactor(Mediafire): improved code
  websites/M/Mediafire/dist/metadata.json
  websites/M/Mediafire/presence.ts
Labels: presence update, semver: minor

#6408 feat(Airbnb): new presence
  websites/A/Airbnb/dist/metadata.json
  websites/A/Airbnb/presence.ts
  websites/A/Airbnb/tsconfig.json
Labels: metadata approved, new presence

#6451 feat(Roblox Forum): add new URLs + adds buttons
  websites/R/Roblox Forum/dist/metadata.json
  websites/R/Roblox Forum/presence.ts
Labels: presence update, semver: minor

#6461 feat(vscode.dev): add presence
  websites/V/vscode.dev/README.md
  websites/V/vscode.dev/dist/metadata.json
  websites/V/vscode.dev/presence.ts
  websites/V/vscode.dev/tsconfig.json
Labels: new presence

#6484 feat(Genshin Impact Map): add event time
  websites/G/Genshin Impact Map/dist/metadata.json
  websites/G/Genshin Impact Map/presence.ts
Labels: presence update, semver: minor

#6468 feat(Hitbloq): new presence
  websites/H/Hitbloq/dist/metadata.json
  websites/H/Hitbloq/presence.ts
  websites/H/Hitbloq/tsconfig.json
Labels: metadata approved, new presence

#6496 chore(Destiny): change author as requested
  websites/D/Destiny.gg/dist/metadata.json
Labels: presence update, semver: patch

#6469 feat(Neovel): add new presence
  websites/N/Neovel/dist/metadata.json
  websites/N/Neovel/presence.ts
  websites/N/Neovel/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6497 feat(Marktplaats): settings, fixes and perf
  websites/M/Marktplaats/dist/metadata.json
  websites/M/Marktplaats/presence.ts
Labels: presence update, semver: minor

#6510 chore(Gitignore): add .idea
  .gitignore
Labels: chore

#6516 fix(Discord): dm username
  websites/D/Discord/dist/metadata.json
  websites/D/Discord/presence.ts
Labels: presence update, semver: patch

#6505 Fix(flixTor): fix presence not showing
  websites/F/FlixTor/dist/metadata.json
  websites/F/FlixTor/presence.ts
Labels: presence update, semver: patch

#6504 feat(Crunchyroll): add cover
  websites/C/Crunchyroll/dist/metadata.json
  websites/C/Crunchyroll/presence.ts
Labels: presence update, semver: minor

#6493 refactor(Mega): rewrite & fixes
  websites/M/MEGA/dist/metadata.json
  websites/M/MEGA/presence.ts
Labels: presence update, semver: major

#6508 fix(Picarto): fix presence not showing
  websites/P/Picarto/dist/metadata.json
  websites/P/Picarto/presence.ts
Labels: presence update, semver: patch

#6409 feat(Wbijam): new presence
  websites/W/Wbijam/dist/metadata.json
  websites/W/Wbijam/iframe.ts
  websites/W/Wbijam/presence.ts
  websites/W/Wbijam/tsconfig.json
Labels: metadata approved, lang: needs review, new presence

#6467 feat(Homestuck^2): add presence
  websites/H/Homestuck^2/dist/metadata.json
  websites/H/Homestuck^2/presence.ts
  websites/H/Homestuck^2/tsconfig.json
Labels: metadata approved, new presence

#6502 fix(Animation Digital Network): rebrand
  websites/A/AnimationDigitalNetwork/dist/metadata.json
  websites/A/AnimationDigitalNetwork/presence.ts
  websites/A/AnimationDigitalNetwork/tsconfig.json
  websites/A/AnimeDigitalNetwork/dist/metadata.json
Labels: new presence

#6513 chore(HentaiVN): change domain
  websites/H/HentaiVN/dist/metadata.json
Labels: presence update, semver: major

#6509 feat(Snapchat): add presence
  websites/S/Snapchat/dist/metadata.json
  websites/S/Snapchat/presence.ts
  websites/S/Snapchat/tsconfig.json
Labels: metadata approved, new presence

#6521 fix(Homestuck^2): corrected domain support
  websites/H/Homestuck^2/dist/metadata.json
Labels: presence update, semver: patch

#6512 fix(Facebook): profile username
  websites/F/Facebook/dist/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update, semver: minor

#6524 fix(Raven Code): change client id
  websites/R/Raven Code/dist/metadata.json
  websites/R/Raven Code/presence.ts
Labels: presence update, semver: major

#6522 feat(9anime): website update
  websites/0-9/9anime/dist/metadata.json
  websites/0-9/9anime/presence.ts
Labels: presence update, semver: minor

#6515 feat(Minesweeper): add presence
  websites/M/Minesweeper/dist/metadata.json
  websites/M/Minesweeper/presence.ts
  websites/M/Minesweeper/tsconfig.json
Labels: metadata approved, new presence

#6520 feat(Crunchyroll): add showCover setting
  websites/C/Crunchyroll/dist/metadata.json
  websites/C/Crunchyroll/presence.ts
Labels: presence update, semver: minor

#6525 fix(Zoro.to): fix episode not showing
  websites/Z/Zoro/dist/metadata.json
  websites/Z/Zoro/presence.ts
Labels: presence update, semver: patch

#6452 feat(Alura): new presence
  websites/A/Alura/dist/metadata.json
  websites/A/Alura/presence.ts
  websites/A/Alura/tsconfig.json
Labels: metadata approved, lang: approved, new presence

#6529 refactor: monthly SE
  websites/A/Airbnb/dist/metadata.json
  websites/A/Alura/dist/metadata.json
  websites/C/CodinGame/dist/metadata.json
  websites/D/Destiny.gg/dist/metadata.json
  websites/D/Discord Turkiye/dist/metadata.json
  websites/D/dod Games/dist/metadata.json
  websites/H/HentaiVN/dist/metadata.json
  websites/H/Homestuck^2/dist/metadata.json
  websites/M/Minesweeper/dist/metadata.json
  websites/O/OpenStreetMap/dist/metadata.json
  websites/R/Raven Code/dist/metadata.json
  websites/S/Serializd/dist/metadata.json
  websites/S/Speedtest/dist/metadata.json
  websites/T/Trakt/dist/metadata.json
  websites/V/vscode.dev/dist/metadata.json
  websites/W/Wbijam/dist/metadata.json
  websites/Z/ZARP Gaming/dist/metadata.json
Labels: chore

#6528 fix(dod Games): fixed Tichu players count
  websites/D/dod Games/dist/metadata.json
  websites/D/dod Games/presence.ts
Labels: presence update, semver: patch

#6527 fix(sitting on clouds radio): fix presence not working
  websites/S/Sitting on Clouds Radio/dist/metadata.json
  websites/S/Sitting on Clouds Radio/presence.ts
Labels: presence update, semver: minor

#6517 refactor(anilist): rewrite and additions
  websites/A/AniList/dist/metadata.json
  websites/A/AniList/presence.ts
Labels: presence update, semver: major

#6533 fix(Neovel): change presence's color
  websites/N/Neovel/dist/metadata.json
Labels: presence update, semver: patch

#6473 refactor(COSMOTE TV): recode & improve functionality
  websites/C/Cosmote TV/dist/metadata.json
  websites/C/Cosmote TV/presence.ts
Labels: presence update, semver: major

#6559 feat(HBO Max): fix for new UI and support more pages
  websites/H/HBO Max/dist/metadata.json
  websites/H/HBO Max/presence.ts
Labels: presence update, semver: minor

#6552 feat(Merriam-Webster): add presence
  websites/M/Merriam-Webster/dist/metadata.json
  websites/M/Merriam-Webster/presence.ts
  websites/M/Merriam-Webster/tsconfig.json
Labels: metadata approved, new presence

#6558 fix(Neovel): fix wrong typo
  websites/N/Neovel/dist/metadata.json
  websites/N/Neovel/presence.ts
Labels: presence update, semver: patch

#6557 fix(9anime): undefined episode name
  websites/0-9/9anime/dist/metadata.json
  websites/0-9/9anime/presence.ts
Labels: presence update, semver: patch

#6532 chore(Alura): change author
  websites/A/Alura/dist/metadata.json
Labels: presence update, semver: patch

#6556 feat(Facebook): add facebook watch logo
  websites/F/Facebook/dist/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update, semver: minor

#6536 chore(Wikia.org): remove presence
  websites/W/Wikia.org/dist/metadata.json
  websites/W/Wikia.org/presence.ts
  websites/W/Wikia.org/tsconfig.json
Labels: presence deletion

#6518 refactor(YouTube Music): recode presence
  websites/Y/YouTube Music/dist/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update, semver: major
