Repository PreMiD/Activities, pull requests merged in 2023-08, with the labels that each got.

#7522 chore(KickAssAnime): fix regex & support beta version
  websites/K/KickAssAnime/iframe.ts
  websites/K/KickAssAnime/metadata.json
  websites/K/KickAssAnime/presence.ts
Labels: presence update

#7537 chore(라프텔): update assets
  websites/#/라프텔/metadata.json
  websites/#/라프텔/presence.ts
Labels: repo maintenance, chore

#7533 fix(Rádio Animu): add a fallback message
  websites/R/Rádio Animu/metadata.json
  websites/R/Rádio Animu/presence.ts
Labels: presence update

#7547 chore(Yugen Anime): change domain & selectors
  websites/Y/Yugen Anime/iframe.ts
  websites/Y/Yugen Anime/metadata.json
  websites/Y/Yugen Anime/presence.ts
Labels: presence update

#7546 chore(aniwave): rebrand from 9anime & add features
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
  websites/A/aniwave/iframe.ts
  websites/A/aniwave/metadata.json
  websites/A/aniwave/presence.ts
Labels: new presence, presence deletion

#7545 fix(Tidal): update songTitle selector to account for update
  websites/T/Tidal/metadata.json
  websites/T/Tidal/presence.ts
Labels: presence update

#7544 fix(bilibili): video title & upload name fix
  websites/B/bilibili/metadata.json
  websites/B/bilibili/presence.ts
Labels: presence update

#7539 perf(Dumpert): improve presence code
  websites/D/Dumpert/metadata.json
  websites/D/Dumpert/presence.ts
Labels: presence update

#7542 feat(Yandex Music): add track cover image
  websites/Y/Yandex Music/metadata.json
  websites/Y/Yandex Music/presence.ts
Labels: presence update

#7534 feat(LCPDFR): new presence
  websites/L/LCPDFR/metadata.json
  websites/L/LCPDFR/presence.ts
Labels: new presence

#7553 chore: update assets
  websites/D/Dumpert/metadata.json
  websites/D/Dumpert/presence.ts
  websites/L/LCPDFR/metadata.json
  websites/L/LCPDFR/presence.ts
Labels: repo maintenance, chore

#7532 feat(PhysicsWallah): new presence
  websites/P/Physics Wallah/metadata.json
  websites/P/Physics Wallah/presence.ts
Labels: new presence

#7555 chore(Physics Wallah): update assets
  websites/P/Physics Wallah/metadata.json
  websites/P/Physics Wallah/presence.ts
Labels: presence update, chore

#7554 fix(AssetManager): deleting should now actually work
  tools/auto/assetsUpdater.ts
  tools/classes/AssetsManager.ts
  websites/A/aniwave/metadata.json
  websites/A/aniwave/presence.ts
  websites/K/Kick/metadata.json
  websites/K/Kick/presence.ts
Labels: repo maintenance

#7561 chore(AssetsManager): fix util import
  tools/classes/AssetsManager.ts
Labels: repo maintenance, chore

#7563 fix(FMovies): fix bugs
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence update

#7556 feat(MoviesJoy): add presence
  websites/M/MoviesJoy/iframe.ts
  websites/M/MoviesJoy/metadata.json
  websites/M/MoviesJoy/presence.ts
Labels: new presence

#7550 feat(Anime-Odcinki): add presence
  websites/A/Anime-Odcinki/iframe.ts
  websites/A/Anime-Odcinki/metadata.json
  websites/A/Anime-Odcinki/presence.ts
Labels: new presence

#7569 fix(FMovies): Fix Season and Episode Bug
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence update

#7567 feat(Fire Emblem Heroes): add presence
  websites/F/Fire Emblem Heroes/metadata.json
  websites/F/Fire Emblem Heroes/pages/cyl.ts
  websites/F/Fire Emblem Heroes/pages/fehpass.ts
  websites/F/Fire Emblem Heroes/pages/guide.ts
  websites/F/Fire Emblem Heroes/pages/main.ts
  websites/F/Fire Emblem Heroes/pages/newguide.ts
  websites/F/Fire Emblem Heroes/pages/support.ts
  websites/F/Fire Emblem Heroes/presence.ts
  websites/F/Fire Emblem Heroes/util.ts
Labels: new presence

#7557 feat(OgladajAnime): add presence
  websites/O/ogladajanime/metadata.json
  websites/O/ogladajanime/presence.ts
Labels: new presence

#7572 chore: update assets
  websites/F/Fire Emblem Heroes/metadata.json
  websites/F/Fire Emblem Heroes/util.ts
  websites/O/ogladajanime/metadata.json
  websites/O/ogladajanime/presence.ts
Labels: repo maintenance, chore

#7574 chore(deps): update no-one-time-vars
  package-lock.json
  package.json
  websites/F/Fire Emblem Heroes/metadata.json
  websites/F/Fire Emblem Heroes/util.ts
Labels: dependencies, chore

#7578 fix(Bunpro): update dashboard selectors
  websites/B/Bunpro/metadata.json
  websites/B/Bunpro/presence.ts
Labels: presence update

#7580 fix(Youtube): fix & optimize yt-shorts
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7581 fix(Tidal): update selector
  websites/T/Tidal/metadata.json
  websites/T/Tidal/presence.ts
Labels: presence update

#7576 feat(Moopa): add presence
  websites/M/Moopa/metadata.json
  websites/M/Moopa/presence.ts
Labels: new presence

#7582 fix(Asura Scans): update domains
  websites/A/Asura Scans/metadata.json
Labels: presence update

#7583 chore(Moopa): update assets
  websites/M/Moopa/metadata.json
  websites/M/Moopa/presence.ts
Labels: repo maintenance, chore

#7591 feat(Mastodon): add social.vivaldi.net as a supported url
  websites/M/Mastodon/metadata.json
Labels: presence update

#7592 chore: update assets
  websites/M/Mastodon/metadata.json
Labels: repo maintenance, chore

#7594 feat(Canvas): hide course name in privacy mode
  websites/C/Canvas/metadata.json
  websites/C/Canvas/presence.ts
Labels: presence update

#7587 feat(ANIMETV7): add presence
  websites/A/ANIMETV7/metadata.json
  websites/A/ANIMETV7/presence.ts
Labels: new presence

#7597 feat(VRoid): add presence
  websites/V/VRoid/metadata.json
  websites/V/VRoid/presence.ts
Labels: new presence

#7598 chore(VRoid): update assets
  websites/V/VRoid/metadata.json
  websites/V/VRoid/presence.ts
Labels: repo maintenance, chore

#7609 fix(Asura Scans): add new domain
  websites/A/Asura Scans/metadata.json
Labels: presence update

#7604 feat(Mahara-Tech): add presence
  websites/M/Mahara-Tech/iframe.ts
  websites/M/Mahara-Tech/metadata.json
  websites/M/Mahara-Tech/presence.ts
Labels: new presence

#7610 chore(Mahara-Tech): update assets
  websites/M/Mahara-Tech/metadata.json
  websites/M/Mahara-Tech/presence.ts
Labels: repo maintenance, chore
