Repository PreMiD/Activities, pull requests merged in 2023-02, with the labels that each got.

#7143 chore(Microsoft 365): rebrand & apply fixes
  websites/M/Microsoft 365/iframe.ts
  websites/M/Microsoft 365/metadata.json
  websites/M/Microsoft 365/presence.ts
  websites/O/Office/presence.ts
Labels: presence update

#7113 feat(Vodafone FM): add new presence
  websites/V/Vodafone FM/metadata.json
  websites/V/Vodafone FM/presence.ts
Labels: new presence

#7137 feat(Di.FM): add track cover art
  websites/D/Di.FM/metadata.json
  websites/D/Di.FM/presence.ts
Labels: presence update

#7138 feat(Richup.io): add presence
  websites/R/Richup.io/metadata.json
  websites/R/Richup.io/presence.ts
Labels: new presence

#7152 refactor(ComickK): fix wrong website link and simplify code
  websites/C/ComicK/metadata.json
  websites/C/ComicK/presence.ts
Labels: presence update

#7153 fix(Apple TV+): fix breaking bugs
  websites/A/Apple TV+/metadata.json
  websites/A/Apple TV+/presence.ts
Labels: presence update

#7155 feat(Canvas): add privacy mode
  websites/C/Canvas/metadata.json
  websites/C/Canvas/presence.ts
Labels: presence update

#7157 feat(Skribbl.io): update presence and add details
  websites/S/Skribbl.io/metadata.json
  websites/S/Skribbl.io/presence.ts
Labels: presence update

#7149 refactor(pixiv): redo codebase and fix bugs
  websites/P/pixiv/metadata.json
  websites/P/pixiv/presence.ts
Labels: presence update

#7156 refactor: monthly SE
  websites/0-9/1CAK/metadata.json
  websites/I/I Love Music/metadata.json
  websites/N/Nuxt.js/metadata.json
  websites/O/Otakudesu/metadata.json
Labels: multiple presences, chore

#7164 feat(Anime genzai): add presence
  websites/A/Anime Genzai/iframe.ts
  websites/A/Anime Genzai/metadata.json
  websites/A/Anime Genzai/presence.ts
Labels: new presence

#7166 fix(TRanimeizle): change metadata url
  websites/T/TRanimeizle/metadata.json
  websites/T/TRanimeizle/presence.ts
Labels: presence update

#7167 feat(Zerion): add presence
  websites/Z/Zerion/iframe.ts
  websites/Z/Zerion/metadata.json
  websites/Z/Zerion/presence.ts
Labels: new presence

#7186 feat(Showtime): recode presence and add skyshowtime support
  websites/S/Showtime/metadata.json
  websites/S/Showtime/presence.ts
Labels: presence update

#7184 fix(YouTube Music): not parsing hours on timestamp
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update

#7176 feat(G2G): add presence
  websites/G/G2G/metadata.json
  websites/G/G2G/presence.ts
Labels: new presence

#7191 chore(BetterAnime): delete presence
  websites/B/BetterAnime/iframe.ts
  websites/B/BetterAnime/metadata.json
  websites/B/BetterAnime/presence.ts
Labels: presence deletion

#7192 fix(Myanimelist.vip): change name and domain
  websites/A/Animes Dublado/iframe.ts
  websites/A/Animes Dublado/metadata.json
  websites/A/Animes Dublado/presence.ts
  websites/M/MyAnimeList.vip/metadata.json
Labels: presence update

#7189 fix(AnimesOnlineGames): change name and domain
  websites/A/Animes Games/metadata.json
  websites/A/Animes Games/presence.ts
Labels: presence update

#7187 fix(KickAssAnime): change regex
  websites/K/KickAssAnime/metadata.json
Labels: presence update, chore
