Repository PreMiD/Activities, pull requests merged in 2023-01, with the labels that each got.

#7059 feat(BreathFM): add presence
  websites/B/BreathFM/metadata.json
  websites/B/BreathFM/presence.ts
Labels: new presence

#7074 fix(I Love Music): rewrite presence
  websites/I/I Love Music/metadata.json
  websites/I/I Love Music/presence.ts
Labels: presence update

#7092 feat(Yugen Anime): add presence
  websites/Y/Yugen Anime/iframe.ts
  websites/Y/Yugen Anime/metadata.json
  websites/Y/Yugen Anime/presence.ts
Labels: new presence

#7088 fix(Github): show in all PR tabs
  websites/G/GitHub/metadata.json
  websites/G/GitHub/presence.ts
Labels: presence update

#7089 perf(1CAK): improve perf
  websites/0-9/1CAK/metadata.json
  websites/0-9/1CAK/presence.ts
Labels: presence update

#7091 perf(FurAffinity): optimize code
  websites/F/FurAffinity/metadata.json
  websites/F/FurAffinity/presence.ts
Labels: presence update

#7087 feat(Pokéflix): add presence
  websites/P/Pokéflix/iframe.ts
  websites/P/Pokéflix/metadata.json
  websites/P/Pokéflix/presence.ts
Labels: new presence

#7086 feat(TempestFansub): add presence
  websites/T/Tempest Fansub/metadata.json
  websites/T/Tempest Fansub/presence.ts
Labels: new presence

#7071 feat(India Today News): add presence
  websites/I/India Today News/iframe.ts
  websites/I/India Today News/metadata.json
  websites/I/India Today News/presence.ts
Labels: new presence

#6957 chore: remove ci on push
  .github/workflows/CI.yml
Labels: repo maintenance

#7108 fix(REYFM): new domain
  websites/R/REYFM/metadata.json
  websites/R/REYFM/presence.ts
Labels: presence update

#7111 fix(BeatLeader): fix leaderboard pages
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7102 fix(Wiki.gg): rewrite/fix all issues
  websites/W/Wiki.gg/metadata.json
  websites/W/Wiki.gg/presence.ts
Labels: presence update

#7078 feat(Cracked.io): add presence
  websites/C/Cracked.io/metadata.json
  websites/C/Cracked.io/presence.ts
Labels: new presence

#7128 fix(Anime Sama): fix presence not working due to website change
  websites/A/Anime Sama/metadata.json
  websites/A/Anime Sama/presence.ts
Labels: presence update

#7129 feat(Asura Scans): add turkish branch domain
  websites/A/Asura Scans/metadata.json
  websites/A/Asura Scans/presence.ts
Labels: presence update

#7130 feat(jut.su): more paths, some grammar corrections, switch case
  websites/J/jut.su/metadata.json
  websites/J/jut.su/presence.ts
Labels: presence update

#7095 perf(Nuxt.js): optimize code
  websites/N/Nuxt.js/metadata.json
  websites/N/Nuxt.js/presence.ts
Labels: presence update

#7146 refactor: monthly SE
  websites/F/FurAffinity/metadata.json
  websites/H/HackTheBox/metadata.json
  websites/O/Otakudesu/metadata.json
  websites/P/Panda Novel/metadata.json
  websites/W/Wiki.gg/metadata.json
Labels: chore
