Repository PreMiD/Activities, pull requests merged in 2023-10, with the labels that each got.

#7642 fix(wcostream): update domain
  websites/W/Wcostream/metadata.json
Labels: presence update

#7639 fix(fmovies): domain changed
  websites/F/FMovies/metadata.json
Labels: presence update

#7641 fix(Anontpp): update domain to "goplay.pw"
  websites/A/Anontpp/metadata.json
Labels: presence update

#7643 chore: update assets
  websites/A/Anontpp/metadata.json
Labels: repo maintenance, chore

#7637 feat(OpenFING): add presence
  websites/O/OpenFING/iframe.ts
  websites/O/OpenFING/metadata.json
  websites/O/OpenFING/presence.ts
Labels: new presence

#7647 chore(OpenFING): update assets
  websites/O/OpenFING/metadata.json
  websites/O/OpenFING/presence.ts
Labels: repo maintenance, chore

#7649 fix(Rádio Animu): switch the clientid
  websites/R/Rádio Animu/metadata.json
  websites/R/Rádio Animu/presence.ts
Labels: presence update

#7638 fix(discord.js): url didnt support old docs
  websites/D/Discord.js/metadata.json
  websites/D/Discord.js/presence.ts
Labels: presence update

#7654 feat(v0): add presence
  websites/V/v0/metadata.json
  websites/V/v0/presence.ts
Labels: new presence

#7650 fix(Asura Scans): update domain
  websites/A/Asura Scans/metadata.json
Labels: presence update

#7657 feat(GoAnimes): add presence
  websites/G/GoAnimes/iframe.ts
  websites/G/GoAnimes/metadata.json
  websites/G/GoAnimes/presence.ts
Labels: new presence

#7653 feat(OneTouchTV): add presence
  websites/O/OneTouchTV/iframe.ts
  websites/O/OneTouchTV/metadata.json
  websites/O/OneTouchTV/presence.ts
Labels: new presence

#7658 chore: update assets
  websites/G/GoAnimes/metadata.json
  websites/G/GoAnimes/presence.ts
  websites/V/v0/metadata.json
  websites/V/v0/presence.ts
Labels: presence update, chore

#7660 chore: update assets
  websites/O/OneTouchTV/metadata.json
  websites/O/OneTouchTV/presence.ts
Labels: repo maintenance, chore

#7662 fix(Trello): update query selectors
  websites/T/Trello/metadata.json
  websites/T/Trello/presence.ts
Labels: presence update

#7664 feat(Akinator): add more functionallity
  websites/A/Akinator/metadata.json
  websites/A/Akinator/presence.ts
Labels: presence update

#7666 fix(ITVX): fix videos presence due to data structure change
  websites/I/ITVX/metadata.json
  websites/I/ITVX/presence.ts
Labels: presence update

#7659 feat(E-Pal): add presence
  websites/E/E-PAL/metadata.json
  websites/E/E-PAL/presence.ts
Labels: new presence

#7663 fix(BeatSaver): update selectors and fixes
  websites/B/BeatSaver/iframe.ts
  websites/B/BeatSaver/metadata.json
  websites/B/BeatSaver/presence.ts
Labels: presence update

#7667 chore(ITVX): update assets
  websites/I/ITVX/metadata.json
Labels: chore

#7670 fix(E-PAL): correct service name
  websites/E/E-PAL/metadata.json
Labels: presence update

#7665 feat(Sosac): add thumbnails
  websites/S/Sosac/metadata.json
  websites/S/Sosac/presence.ts
Labels: presence update

#7672 chore(E-PAL): update assets
  websites/E/E-PAL/metadata.json
  websites/E/E-PAL/presence.ts
Labels: repo maintenance, chore

#7674 chore(Sosac): update assets
  websites/S/Sosac/metadata.json
Labels: repo maintenance, chore

#7671 feat(Pixelmon Mod): add features & rewrite presence
  websites/P/Pixelmon Mod/metadata.json
  websites/P/Pixelmon Mod/presence.ts
Labels: presence update

#7661 feat(Discord SFX): add presence
  websites/D/Discord SFX/metadata.json
  websites/D/Discord SFX/presence.ts
Labels: new presence

#7681 chore(Discord SFX): update assets
  websites/D/Discord SFX/metadata.json
  websites/D/Discord SFX/presence.ts
  websites/P/Pixelmon Mod/metadata.json
Labels: presence update, repo maintenance, chore

#7678 chore: fix util.getDiff('removed')
  tools/util.ts
Labels: repo maintenance, chore

#7682 fix(Discord.js): add tags
  websites/D/Discord.js/metadata.json
Labels: presence update

#7669 chore(BeatSaver): update assets
  websites/B/BeatSaver/metadata.json
Labels: new presence, repo maintenance, chore

#7685 chore(BeatSaver): update assets
  websites/B/BeatSaver/metadata.json
  websites/B/BeatSaver/presence.ts
Labels: repo maintenance, chore

#7673 feat(VtuberWiki): add presence
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: new presence

#7684 fix(YouTube): fix channel url in button
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7683 fix(Reaper Scans): update query selector for reading percentage
  websites/R/Reaper Scans/metadata.json
  websites/R/Reaper Scans/presence.ts
Labels: presence update

#7686 feat(Niantic Wayfarer): update selectors and add details
  websites/N/Niantic Wayfarer/metadata.json
  websites/N/Niantic Wayfarer/presence.ts
Labels: presence update

#7691 chore(Niantic Wayfarer): update assets
  websites/N/Niantic Wayfarer/metadata.json
Labels: presence update, repo maintenance, chore

#7690 chore(VtuberWiki): update assets
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: presence update, repo maintenance, chore

#7695 fix(VtuberWiki): username is incorrect due to a name change
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: presence update

#7696 chore(VtuberWiki): update assets
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: repo maintenance, chore

#7692 feat(pass Culture): add "pass culture" presence
  websites/P/pass Culture/metadata.json
  websites/P/pass Culture/presence.ts
Labels: new presence

#7702 chore(pass Culture): update assets
  websites/P/pass Culture/metadata.json
  websites/P/pass Culture/presence.ts
Labels: repo maintenance, chore

#7701 fix(VtuberWiki): fixed typo and missing images
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: presence update

#7700 fix(GitHub): resolve "undefined"
  websites/G/GitHub/metadata.json
  websites/G/GitHub/presence.ts
Labels: presence update

#7689 feat(atomicradio): add atomicradio presence
  websites/A/atomicradio/metadata.json
  websites/A/atomicradio/presence.ts
Labels: new presence

#7703 chore(atomicradio): update assets
  websites/A/atomicradio/metadata.json
  websites/A/atomicradio/presence.ts
Labels: repo maintenance, chore

#7707 feat(MonBureauNumerique): add MonBureauNumerique presence
  websites/M/MonBureauNumérique/metadata.json
  websites/M/MonBureauNumérique/presence.ts
Labels: new presence

#7706 feat(ッツ Reader): add presence
  websites/#/ッツ Ebook Reader/metadata.json
  websites/#/ッツ Ebook Reader/presence.ts
Labels: new presence

#7704 feat(YouTube): refactor and update selectors
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util.ts
  websites/Y/YouTube/video_sources/default.ts
  websites/Y/YouTube/video_sources/embed.ts
  websites/Y/YouTube/video_sources/movies.ts
  websites/Y/YouTube/video_sources/old.ts
  websites/Y/YouTube/video_sources/shorts.ts
  websites/Y/YouTube/video_sources/tv.ts
Labels: presence update

#7599 fix(Twitter): rename to X.com
  websites/T/Twitter/metadata.json
  websites/X/X.com/metadata.json
  websites/X/X.com/presence.ts
Labels: new presence, presence deletion

#7711 chore(MonBureauNumérique): update assets
  websites/M/MonBureauNumérique/metadata.json
  websites/M/MonBureauNumérique/presence.ts
Labels: repo maintenance, chore

#7712 chore(X.com): update assets
  websites/X/X.com/metadata.json
  websites/X/X.com/presence.ts
Labels: repo maintenance, chore
