Repository PreMiD/Activities, pull requests merged in 2023-11, with the labels that each got.

#7713 feat(Bluesky): add Bluesky presence
  websites/B/Bluesky/metadata.json
  websites/B/Bluesky/presence.ts
Labels: new presence

#7720 chore(Bluesky): update assets
  websites/B/Bluesky/metadata.json
  websites/B/Bluesky/presence.ts
Labels: presence update, repo maintenance, chore

#7719 fix(TwitCasting): update selector
  websites/T/TwitCasting/metadata.json
  websites/T/TwitCasting/presence.ts
Labels: presence update

#7699 feat(Discord SFX): add features
  websites/D/Discord SFX/metadata.json
  websites/D/Discord SFX/presence.ts
Labels: presence update

#7723 feat(AssetsManager): add detection of query strings on image assets
  tools/classes/AssetsManager.ts
Labels: repo maintenance

#7721 chore(Spyke): update assets
  websites/S/Spyke/metadata.json
  websites/S/Spyke/presence.ts
Labels: repo maintenance, chore

#7717 feat(Vizjer): add Vizjer presence
  websites/V/Vizjer/iframe.ts
  websites/V/Vizjer/metadata.json
  websites/V/Vizjer/presence.ts
Labels: new presence

#7726 chore(Vizjer): update assets
  websites/V/Vizjer/metadata.json
  websites/V/Vizjer/presence.ts
Labels: repo maintenance, chore

#7727 feat(atomicradio): fix presence and added space names
  websites/A/atomicradio/metadata.json
  websites/A/atomicradio/presence.ts
Labels: presence update

#7728 feat(Marktplaats): rewrite presence
  websites/M/Marktplaats/metadata.json
  websites/M/Marktplaats/presence.ts
Labels: presence update

#7731 chore(Marktplaats): update assets
  websites/M/Marktplaats/metadata.json
  websites/M/Marktplaats/presence.ts
Labels: presence update, repo maintenance, chore

#7589 feat(Jackbox): add party pack 10 games
  websites/J/Jackbox/games/Party Pack 10/awshirt2.ts
  websites/J/Jackbox/games/Party Pack 10/nopus-opus.ts
  websites/J/Jackbox/games/Party Pack 10/risky-text.ts
  websites/J/Jackbox/games/Party Pack 10/time-trivia.ts
  websites/J/Jackbox/games/Party Pack 10/us-them.ts
  websites/J/Jackbox/games/index.ts
  websites/J/Jackbox/metadata.json
  websites/J/Jackbox/presence.ts
  websites/J/Jackbox/util.ts
Labels: presence update

#7737 chore(Jackbox): update assets
  websites/J/Jackbox/games/Party Pack 10/awshirt2.ts
  websites/J/Jackbox/games/Party Pack 10/nopus-opus.ts
  websites/J/Jackbox/games/Party Pack 10/risky-text.ts
  websites/J/Jackbox/games/Party Pack 10/time-trivia.ts
  websites/J/Jackbox/games/Party Pack 10/us-them.ts
Labels: repo maintenance, chore

#7739 feat(Character.AI): add presence
  websites/C/Character.AI/metadata.json
  websites/C/Character.AI/presence.ts
Labels: new presence

#7738 feat(BeatLeader): more settings & legacy mode
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7749 chore(Flightradar24): update assets
  websites/F/Flightradar24/metadata.json
  websites/F/Flightradar24/presence.ts
Labels: repo maintenance, chore

#7747 chore(Character.AI): update assets
  websites/C/Character.AI/metadata.json
  websites/C/Character.AI/presence.ts
Labels: repo maintenance, chore

#7740 feat(Poolsuite FM): add presence
  websites/P/Poolsuite FM/metadata.json
  websites/P/Poolsuite FM/presence.ts
Labels: new presence

#7753 feat(draw.io): add presence
  websites/D/draw.io/metadata.json
  websites/D/draw.io/presence.ts
Labels: new presence

#7756 feat(Smash Pros): add presence
  websites/S/Smash Pros/metadata.json
  websites/S/Smash Pros/presence.ts
Labels: new presence

#7758 chore(Smash Pros): update assets
  websites/P/Poolsuite FM/metadata.json
  websites/S/Smash Pros/metadata.json
  websites/S/Smash Pros/presence.ts
Labels: repo maintenance, chore

#7748 chore(BeatLeader): update assets
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: repo maintenance, chore

#7752 chore(Poolsuite FM): update assets
  websites/P/Poolsuite FM/metadata.json
  websites/P/Poolsuite FM/presence.ts
Labels: repo maintenance, chore

#7762 chore(BeatLeader): force imgur link for christmas asset
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: repo maintenance, chore

#7757 chore(draw.io): update assets
  websites/D/draw.io/metadata.json
  websites/D/draw.io/presence.ts
  websites/P/Poolsuite FM/metadata.json
Labels: repo maintenance, chore

#7768 fix(Beatleader): fix playlists
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7766 fix(Character.AI): add /chat
  websites/C/Character.AI/metadata.json
  websites/C/Character.AI/presence.ts
Labels: presence update

#7769 chore(BeatLeader): update assets
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: repo maintenance, chore

#7770 fix(Niantic Wayfarer): update query selectors for new UI
  websites/N/Niantic Wayfarer/metadata.json
  websites/N/Niantic Wayfarer/presence.ts
Labels: presence update

#7771 chore(Niantic Wayfarer): update assets
  websites/N/Niantic Wayfarer/metadata.json
  websites/N/Niantic Wayfarer/presence.ts
Labels: repo maintenance, chore

#7773 feat(Vizjer): add iframe urls
  websites/V/Vizjer/metadata.json
Labels: presence update

#7774 chore(Vizjer): format metadata
  websites/V/Vizjer/metadata.json
Labels: repo maintenance, chore
