Repository PreMiD/Activities, pull requests merged in 2023-04, with the labels that each got.

#7261 refactor: monthly SE
  websites/A/AnkiWeb/metadata.json
  websites/C/Chessly/metadata.json
  websites/I/Instagram/metadata.json
  websites/T/Ticketer/metadata.json
  websites/V/Video Game Mods/metadata.json
Labels: chore

#7279 feat(Scribd): add presence
  websites/S/Scribd/metadata.json
  websites/S/Scribd/presence.ts
Labels: new presence

#7277 fix(LeetCode): Problem Titles
  websites/L/LeetCode/metadata.json
  websites/L/LeetCode/presence.ts
Labels: presence update

#7273 feat(Currys): add presence
  websites/C/Currys/metadata.json
  websites/C/Currys/presence.ts
Labels: new presence

#7272 feat(Papara Topluluk): add presence
  websites/P/Papara Topluluk/metadata.json
  websites/P/Papara Topluluk/presence.ts
Labels: new presence

#7252 feat(Hacker News): add presence
  websites/H/Hacker News/metadata.json
  websites/H/Hacker News/presence.ts
Labels: new presence

#7251 feat(Rate My Professors): add presence
  websites/R/Rate My Professors/metadata.json
  websites/R/Rate My Professors/presence.ts
Labels: new presence

#7235 feat(Facebook): rewrite presence & add web.facebook.com support
  websites/F/Facebook/metadata.json
  websites/F/Facebook/presence.ts
Labels: presence update

#7280 feat(Viu): cover art & support for new version
  websites/V/Viu/metadata.json
  websites/V/Viu/presence.ts
Labels: presence update

#7284 feat(3388): add presence
  websites/0-9/3388/metadata.json
  websites/0-9/3388/presence.ts
Labels: new presence

#7289 fix: multiple presences fix warnings
  websites/G/Gogoanime/metadata.json
  websites/G/Gogoanime/presence.ts
  websites/S/Scribd/metadata.json
  websites/S/Scribd/presence.ts
Labels: presence update, multiple presences

#7290 revert: chore(BetterAnime): delete presence (#7191)
  websites/B/BetterAnime/iframe.ts
  websites/B/BetterAnime/metadata.json
  websites/B/BetterAnime/presence.ts
Labels: new presence, chore

#7292 feat(LiveLinkBio): add more details
  websites/L/LiveLinkBio/metadata.json
  websites/L/LiveLinkBio/presence.ts
Labels: presence update

#7301 refactor(Wolfy): Change static selectors to more polyvalent
  websites/W/Wolfy/metadata.json
  websites/W/Wolfy/presence.ts
Labels: presence update

#7299 feat(AnimeVost): add presence
  websites/A/AnimeVost/iframe.ts
  websites/A/AnimeVost/metadata.json
  websites/A/AnimeVost/presence.ts
Labels: new presence

#7324 chore(SimplyAWeeb): delete presence
  websites/S/Simplyaweeb/iframe.ts
  websites/S/Simplyaweeb/metadata.json
  websites/S/Simplyaweeb/presence.ts
Labels: presence deletion

#7312 fix(9anime): fix presence
  websites/0-9/9anime/iframe.ts
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
Labels: presence update

#7322 chore(HentaiVN): Change domain.
  websites/H/HentaiVN/metadata.json
Labels: presence update
