Repository PreMiD/Activities, pull requests merged in 2023-12, with the labels that each got.

#7760 feat(Duolingo): rewrite presence
  websites/D/Duolingo/metadata.json
  websites/D/Duolingo/presence.ts
Labels: presence update

#7783 chore(Duolingo): update assets
  websites/D/Duolingo/metadata.json
  websites/D/Duolingo/presence.ts
  websites/V/VtuberWiki/metadata.json
Labels: repo maintenance, chore

#7775 perf(YouTube): add fallback to settings retrieval
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util.ts
Labels: presence update

#7801 fix(BeatLeader): various smallimage fixes
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7802 chore(Coursera): update assets
  websites/C/Coursera/metadata.json
  websites/C/Coursera/presence.ts
Labels: presence update, repo maintenance, chore

#7803 fix(ChatGPT): fix word/asked amount not being displayed
  websites/C/ChatGPT/metadata.json
  websites/C/ChatGPT/presence.ts
Labels: presence update

#7804 feat(VtuberWiki): add the new sdk endpoint
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: presence update

#7806 feat(VtuberWiki): add new agencies wiki endpoint
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: presence update

#7805 fix(YouTube Music): no href temp fix
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update

#7808 feat(Reaper Scans): add new domain
  websites/R/Reaper Scans/metadata.json
Labels: presence update

#7807 perf(X.com): remove unnecessary creation of presence objects
  websites/X/X.com/metadata.json
  websites/X/X.com/presence.ts
Labels: presence update

#7813 fix(Netflix): fix presence for alpha/beta extension
  websites/N/Netflix/metadata.json
  websites/N/Netflix/presence.ts
Labels: presence update

#7809 feat(Duolingo): v3.2.0
  websites/D/Duolingo/metadata.json
  websites/D/Duolingo/presence.ts
  websites/D/Duolingo/util.ts
Labels: presence update

#7811 fix(KissAsian): fix presence
  websites/K/KissAsian/iframe.ts
  websites/K/KissAsian/metadata.json
  websites/K/KissAsian/presence.ts
Labels: presence update

#7816 chore(deps): bump pmd from 1.1.2 to 1.2.0
  package-lock.json
  package.json
Labels: dependencies, chore

#7812 feat(wumpus.store): add presence
  websites/W/wumpus.store/metadata.json
  websites/W/wumpus.store/presence.ts
Labels: new presence

#7823 fix(MangaFire): fix presence to accommodate site v2
  websites/M/MangaFire/metadata.json
  websites/M/MangaFire/presence.ts
Labels: presence update

#7819 fix(VtuberWiki): update image path for agencies
  websites/V/VtuberWiki/metadata.json
  websites/V/VtuberWiki/presence.ts
Labels: presence update

#7818 chore(wumpus.store): update assets
  websites/W/wumpus.store/metadata.json
  websites/W/wumpus.store/presence.ts
Labels: presence update, chore

#7824 chore: update assets
  websites/V/VtuberWiki/metadata.json
Labels: presence update, chore

#7817 feat(WaniKani): add recent mistakes page
  websites/W/WaniKani/metadata.json
  websites/W/WaniKani/presence.ts
Labels: presence update

#7831 feat(TikTok): rewrite presence
  websites/T/TikTok/metadata.json
  websites/T/TikTok/presence.ts
Labels: presence update

#7830 fix(GitHub): fix images & show org repo's tab
  websites/G/GitHub/metadata.json
  websites/G/GitHub/presence.ts
Labels: presence update

#7834 chore(Radio Garden): update assets
  websites/R/Radio Garden/metadata.json
  websites/R/Radio Garden/presence.ts
Labels: repo maintenance, chore

#7832 feat(WhatsApp): rewrite presence & add features
  websites/W/WhatsApp/metadata.json
  websites/W/WhatsApp/presence.ts
Labels: presence update

#7835 feat(Tetris): add presence
  websites/T/Tetris/iframe.ts
  websites/T/Tetris/metadata.json
  websites/T/Tetris/presence.ts
Labels: new presence

#7840 chore(Tetris): update assets
  websites/T/Tetris/metadata.json
  websites/T/Tetris/presence.ts
Labels: presence update, repo maintenance, chore

#7838 fix(Otakudesu): changing to new url domain (.cam)
  websites/O/Otakudesu/metadata.json
Labels: presence update

#7829 feat(Instagram): rewrite presence
  websites/I/Instagram/metadata.json
  websites/I/Instagram/presence.ts
Labels: presence update

#7842 chore(Instagram): update assets
  websites/I/Instagram/metadata.json
  websites/I/Instagram/presence.ts
  websites/O/Otakudesu/metadata.json
Labels: repo maintenance, chore

#7845 feat(Taiyō): Add presence
  websites/T/Taiyō/metadata.json
  websites/T/Taiyō/presence.ts
Labels: new presence

#7846 feat(Score Saber): updates and fixes
  websites/S/Score Saber/metadata.json
  websites/S/Score Saber/presence.ts
Labels: presence update

#7851 chore(Score Saber): update assets
  websites/S/Score Saber/metadata.json
  websites/S/Score Saber/presence.ts
Labels: presence update, repo maintenance, chore

#7850 chore(Taiyō): update assets
  websites/T/Taiyō/metadata.json
  websites/T/Taiyō/presence.ts
Labels: presence update, repo maintenance, chore

#7854 fix(Hypixel): fixes most apparent issues
  websites/H/Hypixel/metadata.json
  websites/H/Hypixel/presence.ts
Labels: presence update

#7847 feat(ArcViewer): add presence
  websites/A/ArcViewer/metadata.json
  websites/A/ArcViewer/presence.ts
Labels: new presence

#7849 fix(BeatLeader): update metadata and small images
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7856 chore(ArcViewer): update assets
  websites/A/ArcViewer/metadata.json
  websites/A/ArcViewer/presence.ts
Labels: repo maintenance, chore

#7857 chore(BeatLeader): update assets
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: repo maintenance, chore

#7843 feat(Is it Christmas): add presence
  websites/I/Is it Christmas/metadata.json
  websites/I/Is it Christmas/presence.ts
Labels: new presence

#7844 feat(Craiyon): update selectors, add blog, search
  websites/C/Craiyon/metadata.json
  websites/C/Craiyon/presence.ts
Labels: presence update

#7848 refactor(Jackbox): update `getLogs` usage
  websites/J/Jackbox/metadata.json
  websites/J/Jackbox/presence.ts
Labels: presence update
