Repository PreMiD/Activities, pull requests merged in 2023-06, with the labels that each got.

#7383 fix(Zoro): Add List of Zoro all domains
  websites/Z/Zoro/metadata.json
Labels: presence update

#7397 chore: rearrage lint commands
  package.json
Labels: repo maintenance, chore

#7388 feat(AssetsManager): automatically upload assets to Recodive's CDN
  .github/workflows/AssetsUpdater.yml
  package-lock.json
  package.json
  tools/auto/assetsUpdater.ts
  tools/classes/AssetsManager.ts
Labels: repo maintenance

#7401 feat(AssetsManager): improvements
  .github/workflows/AssetsUpdater.yml
  tools/auto/assetsUpdater.ts
  tools/classes/AssetsManager.ts
Labels: repo maintenance

#7394 feat(feds): add presence
  websites/F/feds/metadata.json
  websites/F/feds/presence.ts
Labels: new presence

#7402 chore: update assets
  websites/F/feds/metadata.json
  websites/F/feds/presence.ts
Labels: repo maintenance, chore

#7309 feat(Memrise): add presence
  websites/M/Memrise/metadata.json
  websites/M/Memrise/presence.ts
Labels: new presence

#7405 chore(Memrise): update assets
  websites/M/Memrise/metadata.json
  websites/M/Memrise/presence.ts
Labels: chore

#7403 fix(Voiranime): missing settings + anime info page fix
  websites/V/Voiranime/metadata.json
  websites/V/Voiranime/presence.ts
Labels: new presence

#7380 feat(Sorryfield): add new presence
  websites/S/Sorryfield/metadata.json
  websites/S/Sorryfield/presence.ts
Labels: lang: needs review, new presence

#7411 fix(Plex): Cover Images
  websites/P/Plex/metadata.json
  websites/P/Plex/presence.ts
Labels: presence update

#7409 feat(Mastodon): add timestamps, privacy mode and a new pathname
  websites/M/Mastodon/metadata.json
  websites/M/Mastodon/presence.ts
Labels: presence update

#7414 chore: update assets
  websites/P/PlayScrabble/metadata.json
  websites/P/PlayScrabble/presence.ts
Labels: chore

#7416 fix(Bunpro): update selectors and pathnames
  websites/B/Bunpro/metadata.json
  websites/B/Bunpro/presence.ts
Labels: presence update

#7424 chore(Taiko Web): remove presence
  websites/T/Taiko Web/metadata.json
  websites/T/Taiko Web/presence.ts
Labels: presence deletion

#7421 feat(Rumble): add presence
  websites/R/Rumble/metadata.json
  websites/R/Rumble/presence.ts
Labels: new presence

#7437 fix(GitHub): organization page
  websites/G/GitHub/metadata.json
  websites/G/GitHub/presence.ts
Labels: presence update

#7440 fix(Disney+): fix presence
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
Labels: presence update

#7446 chore: update assets
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
Labels: repo maintenance, chore
