Repository PreMiD/Activities, pull requests merged in 2023-09, with the labels that each got.

#7596 feat(Sosac): add presence
  websites/S/Sosac/iframe.ts
  websites/S/Sosac/metadata.json
  websites/S/Sosac/presence.ts
Labels: new presence

#7615 fix(movie-web): showing wrong episode number
  websites/M/movie-web/metadata.json
  websites/M/movie-web/presence.ts
Labels: presence update

#7611 feat(Mahara tech): adding quiz detection
  websites/M/Mahara-Tech/metadata.json
  websites/M/Mahara-Tech/presence.ts
Labels: presence update

#7607 feat(SideQuest): add presence
  websites/S/SideQuest/metadata.json
  websites/S/SideQuest/presence.ts
Labels: new presence

#7619 chore: update assets
  websites/M/Mahara-Tech/metadata.json
  websites/S/SideQuest/metadata.json
  websites/S/SideQuest/presence.ts
Labels: repo maintenance, chore

#7623 feat(watch.lonelil.com): add presence
  websites/W/watch.lonelil.com/metadata.json
  websites/W/watch.lonelil.com/presence.ts
Labels: new presence

#7588 feat(osu!ppy): add buttons and multiLang
  websites/O/osu ppy/metadata.json
  websites/O/osu ppy/presence.ts
Labels: presence update

#7624 feat(Sorryfield): add timestamp and more paths
  websites/S/Sorryfield/metadata.json
  websites/S/Sorryfield/presence.ts
Labels: presence update

#7626 chore(watch.lonelil.com): update assets
  websites/W/watch.lonelil.com/metadata.json
  websites/W/watch.lonelil.com/presence.ts
Labels: repo maintenance, chore

#7632 feat(Radiko): add listen button
  websites/R/Radiko/metadata.json
  websites/R/Radiko/presence.ts
Labels: presence update

#7636 fix(Genius): change query selectors
  websites/G/Genius/metadata.json
  websites/G/Genius/presence.ts
Labels: presence update
