Repository PreMiD/Activities, pull requests merged in 2023-05, with the labels that each got.

#7327 fix(YomuMangás): update presence to new version
  websites/Y/YomuMangás/metadata.json
  websites/Y/YomuMangás/presence.ts
Labels: presence update

#7319 chore(AnimeVost): no one time variables
  websites/A/AnimeVost/metadata.json
  websites/A/AnimeVost/presence.ts
Labels: presence update, chore

#7328 feat(Aodesu): add presence
  websites/A/Aodesu/iframe.ts
  websites/A/Aodesu/metadata.json
  websites/A/Aodesu/presence.ts
Labels: new presence

#7314 fix(Youtube): errors on brave
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7342 fix(Animevietsub, Nettruyen): update url
  websites/A/Animevietsub/metadata.json
  websites/N/Nettruyen/metadata.json
Labels: presence update

#7343 fix(Shikimori): update url
  websites/S/Shikimori/metadata.json
Labels: presence update

#7339 fix(ITVX): fix live channel presence due to data structure change
  websites/I/ITVX/metadata.json
  websites/I/ITVX/presence.ts
Labels: presence update

#7352 fix(svtplay): update query selectors
  websites/S/SVT Play/metadata.json
  websites/S/SVT Play/presence.ts
Labels: presence update

#7333 feat(Zee5): add presence
  websites/Z/Zee5/metadata.json
  websites/Z/Zee5/presence.ts
Labels: new presence

#7362 fix(TempestFansub): domain changes
  websites/T/Tempest Fansub/metadata.json
  websites/T/Tempest Fansub/presence.ts
Labels: presence update

#7344 feat(NgewibuTV): add new presence
  websites/N/Ngewibu/metadata.json
  websites/N/Ngewibu/presence.ts
Labels: new presence

#7367 fix(WaniKani): update paths, selectors, and assets
  websites/W/WaniKani/metadata.json
  websites/W/WaniKani/presence.ts
Labels: presence update

#7350 feat(MangaKatana): add presence
  websites/M/MangaKatana/metadata.json
  websites/M/MangaKatana/presence.ts
Labels: new presence

#7363 feat(アイドルマスターシャイニーカラーズ): add new presence
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
  websites/#/アイドルマスターシャイニーカラーズ/presence.ts
Labels: new presence

#7374 fix(brain.fm): update querySelectors of my.brain.fm
  websites/B/Brain.fm/metadata.json
  websites/B/Brain.fm/presence.ts
Labels: presence update

#7376 fix(BeatLeader): fix small images
  websites/B/BeatLeader/iframe.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7377 chore(ChatGPT): fix enum merging
  websites/C/ChatGPT/metadata.json
  websites/C/ChatGPT/presence.ts
Labels: presence update, chore

#7346 feat(Perplexity): add new presence
  websites/P/Perplexity/metadata.json
  websites/P/Perplexity/presence.ts
Labels: new presence

#7360 fix(paramout+): fix presence and bump version
  websites/P/Paramount+/metadata.json
  websites/P/Paramount+/presence.ts
Labels: presence update

#7375 feat(Goodreads): Update goodreads presence v1.1.0
  websites/G/Goodreads/metadata.json
  websites/G/Goodreads/presence.ts
Labels: presence update

#7356 feat(Mastodon): add new presence
  websites/M/Mastodon/metadata.json
  websites/M/Mastodon/presence.ts
Labels: new presence

#7381 chore: change author
  websites/P/Paramount+/metadata.json
Labels: presence update, chore

#7347 feat(OtakuEyes): add new presences
  websites/O/OtakuEyes/metadata.json
  websites/O/OtakuEyes/presence.ts
Labels: new presence

#7385 feat(Songsterr): add presence
  websites/S/Songsterr/metadata.json
  websites/S/Songsterr/presence.ts
Labels: new presence
