Repository PreMiD/Activities, pull requests merged in 2023-03, with the labels that each got.

#7203 refactor: monthly SE
  websites/A/Animes Games/metadata.json
  websites/G/G2G/metadata.json
Labels: chore

#7196 fix(Animes Vision): logo
  websites/A/Animes Vision/metadata.json
  websites/A/Animes Vision/presence.ts
Labels: presence update

#7195 refactor(Voiranime): redo codebase and fix url
  websites/V/Voiranime/metadata.json
  websites/V/Voiranime/presence.ts
Labels: presence update

#7197 feat(Video Game Mods): add presence
  websites/V/Video Game Mods/metadata.json
  websites/V/Video Game Mods/presence.ts
Labels: new presence

#7188 chore(Discord): change incidentView strings
  websites/D/Discord/metadata.json
  websites/D/Discord/presence.ts
Labels: presence update

#7214 feat(Showtime): add logo setting & add tags
  websites/S/Showtime/metadata.json
  websites/S/Showtime/presence.ts
Labels: presence update

#7177 feat(R/a/dio): add presence
  websites/R/R-a-d.io/metadata.json
  websites/R/R-a-d.io/presence.ts
Labels: new presence

#7199 feat(MultiTwitch): add presence
  websites/M/MultiTwitch/metadata.json
  websites/M/MultiTwitch/presence.ts
Labels: new presence

#7208 feat(MangaFire): add presence
  websites/M/MangaFire/metadata.json
  websites/M/MangaFire/presence.ts
Labels: new presence

#7213 feat(ticketer): add presence
  websites/T/Ticketer/metadata.json
  websites/T/Ticketer/presence.ts
Labels: new presence

#7215 feat(Necord): add presence
  websites/N/Necord/metadata.json
  websites/N/Necord/presence.ts
Labels: new presence

#7217 fix(TempestFansub): domain update and some changes
  websites/T/Tempest Fansub/metadata.json
  websites/T/Tempest Fansub/presence.ts
Labels: presence update

#7227 feat(signed.host): add presence
  websites/S/signed.host/metadata.json
  websites/S/signed.host/presence.ts
Labels: new presence

#7225 feat(MyAnimeList): add space between some titles and add buttons
  websites/M/MyAnimeList/metadata.json
  websites/M/MyAnimeList/presence.ts
Labels: presence update

#7232 fix(Instagram): update logo
  websites/I/Instagram/metadata.json
  websites/I/Instagram/presence.ts
Labels: presence update

#7223 feat(TabNews): add presence
  websites/T/TabNews/metadata.json
  websites/T/TabNews/presence.ts
Labels: new presence

#7222 feat(Coup Critique): add new presence
  websites/C/Coup Critique/metadata.json
  websites/C/Coup Critique/presence.ts
Labels: new presence

#7218 feat(Youtube): add unsupported pages & optimize presence (for v2.5)
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7234 docs(Guidelines): update for up-to-date guidelines and structure
  .github/CONTRIBUTING.md
Labels: repo maintenance

#7236 fix(Tidal): fix artists not being seperated after update
  websites/T/Tidal/metadata.json
  websites/T/Tidal/presence.ts
Labels: presence update

#7239 feat(PaperMC): add presence
  websites/P/PaperMC/metadata.json
  websites/P/PaperMC/presence.ts
Labels: new presence

#7240 feat(AnkiWeb): add presence
  websites/A/AnkiWeb/metadata.json
  websites/A/AnkiWeb/presence.ts
Labels: new presence

#7241 feat(BeatLeader): add unsupported pages & fixes
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7242 feat(Chessly): add presence
  websites/C/Chessly/metadata.json
  websites/C/Chessly/presence.ts
Labels: new presence

#7248 fix(Wcostream): update urls and images
  websites/W/Wcostream/metadata.json
  websites/W/Wcostream/presence.ts
Labels: presence update
