Repository PreMiD/Activities, pull requests merged in 2023-07, with the labels that each got.

#7447 perf: cache eslint and prettier
  .gitignore
  package.json
Labels: repo maintenance

#7445 feat(PeaceScans): add presence
  websites/P/PeaceScans/metadata.json
  websites/P/PeaceScans/presence.ts
Labels: new presence

#7467 chore(PeaceScans): update assets
  websites/P/PeaceScans/metadata.json
  websites/P/PeaceScans/presence.ts
Labels: repo maintenance, chore

#7469 fix(SimulatorHits): Update API Domain
  websites/S/SimulatorHits/metadata.json
  websites/S/SimulatorHits/presence.ts
Labels: presence update

#7456 chore(AnimeVietSub): change domain
  websites/A/Animevietsub/metadata.json
Labels: presence update

#7449 feat(galaxy): add presence
  websites/G/galaxy/metadata.json
  websites/G/galaxy/presence.ts
Labels: new presence

#7472 chore(galaxy): update assets
  websites/G/galaxy/metadata.json
  websites/G/galaxy/presence.ts
Labels: repo maintenance, chore

#7471 chore(SimulatorHits): prettify files
  websites/S/SimulatorHits/metadata.json
Labels: repo maintenance, chore

#7460 fix(MyCanal): changed new path to img tag
  websites/M/myCANAL/metadata.json
  websites/M/myCANAL/presence.ts
Labels: presence update

#7476 feat(Navidrome): add presence
  websites/N/Navidrome/metadata.json
  websites/N/Navidrome/presence.ts
Labels: new presence

#7479 feat(Holodex): add cover
  websites/H/Holodex/iframe.ts
  websites/H/Holodex/metadata.json
  websites/H/Holodex/presence.ts
Labels: presence update

#7478 feat(Stremio): add Stremio 5 & rewrite presence
  websites/S/Stremio/metadata.json
  websites/S/Stremio/presence.ts
Labels: presence update

#7486 chore: update assets
  websites/N/Navidrome/metadata.json
  websites/N/Navidrome/presence.ts
Labels: repo maintenance

#7487 chore: update assets
  websites/T/Tempest Fansub/metadata.json
  websites/T/Tempest Fansub/presence.ts
Labels: repo maintenance

#7489 chore(アイドルマスターシャイニーカラーズ): Added tags and some codes for the latest version of this game
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
  websites/#/アイドルマスターシャイニーカラーズ/presence.ts
Labels: presence update

#7463 feat(Kick): add presence
  websites/K/Kick/metadata.json
  websites/K/Kick/presence.ts
Labels: new presence

#7465 feat(movie-web): add presence
  websites/M/movie-web/metadata.json
  websites/M/movie-web/presence.ts
Labels: new presence

#7480 feat(AniWatch.to): added aniWatch and removed zoro
  websites/A/AniWatch/iframe.ts
  websites/A/AniWatch/metadata.json
  websites/A/AniWatch/presence.ts
  websites/Z/Zoro/metadata.json
  websites/Z/Zoro/presence.ts
Labels: presence update

#7499 fix(9anime): fix issue with DOM selector
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
Labels: presence update

#7495 feat(youtube): add playlist title & queue as replaceable string
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7494 chore: update assets
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
  websites/M/movie-web/metadata.json
  websites/M/movie-web/presence.ts
Labels: repo maintenance, chore

#7513 chore: update assets
  websites/A/AniWatch/metadata.json
Labels: repo maintenance, chore

#7512 fix(YouTube): not working outside playlist
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#7517 chore: update assets
  websites/A/AniWatch/metadata.json
  websites/A/AniWatch/presence.ts
Labels: repo maintenance, chore

#7524 fix(bilibilitv): thumbnail and null property access error
  websites/B/bilibilitv/metadata.json
  websites/B/bilibilitv/presence.ts
Labels: presence update

#7523 chore(Doronime): update domain
  websites/D/Doronime/metadata.json
  websites/D/Doronime/presence.ts
Labels: presence update

#7521 fix(Fbox): fix cover not loading
  websites/F/fbox.to/metadata.json
  websites/F/fbox.to/presence.ts
Labels: presence update

#7491 fix(Cuevana): fix presence & add regex
  websites/C/Cuevana 3/metadata.json
  websites/C/Cuevana 3/presence.ts
Labels: presence update

#7529 chore: prettify files
  websites/B/bilibilitv/metadata.json
  websites/C/Cuevana 3/metadata.json
Labels: repo maintenance, chore

#7518 fix(MyCanal): rechanged path for channel's img tag
  websites/M/myCANAL/metadata.json
  websites/M/myCANAL/presence.ts
Labels: presence update

#7516 fix(fmovies): fix presence bug
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence update

#7501 feat(aha): add presence
  websites/A/aha/metadata.json
  websites/A/aha/presence.ts
Labels: new presence

#7490 fix(Neko-sama.fr): change image check
  websites/N/Neko-sama.fr/metadata.json
  websites/N/Neko-sama.fr/presence.ts
Labels: presence update

#7530 chore: update assets
  websites/A/aha/metadata.json
  websites/A/aha/presence.ts
Labels: repo maintenance, chore

#7404 feat(FRAnime): new presence
  websites/F/FRAnime/metadata.json
  websites/F/FRAnime/presence.ts
Labels: new presence

#7536 chore: update assets
  websites/F/FRAnime/metadata.json
  websites/F/FRAnime/presence.ts
Labels: repo maintenance, chore

#7525 feat(라프텔): new presence
  websites/#/라프텔/metadata.json
  websites/#/라프텔/presence.ts
Labels: new presence
