Repository PreMiD/Activities, pull requests merged in 2024-01, with the labels that each got.

#7868 chore(BBC): implement Assets & fix bug
  websites/B/BBC/metadata.json
  websites/B/BBC/presence.ts
Labels: presence update

#7863 chore(Is it Christmas): update assets
  websites/I/Is it Christmas/metadata.json
  websites/I/Is it Christmas/presence.ts
Labels: presence update, repo maintenance, chore

#7861 feat(FMovies): add regex & support more versions
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence update

#7866 feat(SlimeRead): add presence
  websites/S/SlimeRead/metadata.json
  websites/S/SlimeRead/presence.ts
Labels: new presence

#7859 refactor(Taiyō): add button, new page and refactor code
  websites/T/Taiyō/metadata.json
  websites/T/Taiyō/presence.ts
Labels: presence update

#7879 fix(movie-web): resolve metadata parsing issue
  websites/M/movie-web/metadata.json
  websites/M/movie-web/presence.ts
Labels: presence update

#7878 feat(discord ID): rewrite presence
  websites/D/Discord ID/metadata.json
  websites/D/Discord ID/presence.ts
Labels: presence update

#7881 chore(SlimeRead): update assets
  websites/S/SlimeRead/metadata.json
  websites/S/SlimeRead/presence.ts
Labels: repo maintenance, chore

#7877 feat(000Webhost): rewrite presence
  websites/0-9/000webhost/metadata.json
  websites/0-9/000webhost/presence.ts
Labels: presence update

#7874 feat(2048Verse): add presence
  websites/0-9/2048Verse/metadata.json
  websites/0-9/2048Verse/presence.ts
Labels: new presence

#7872 feat(Vidoza): add presence
  websites/V/Vidoza/metadata.json
  websites/V/Vidoza/presence.ts
Labels: new presence

#7876 feat(アイドルマスターシャイニーカラーズ): add some codes and tag
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
  websites/#/アイドルマスターシャイニーカラーズ/presence.ts
Labels: presence update

#7882 feat(BeatLeader): add logo & fix selector
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#7888 chore(2048Verse): update assets
  websites/0-9/000webhost/metadata.json
  websites/0-9/000webhost/presence.ts
  websites/0-9/2048Verse/metadata.json
  websites/0-9/2048Verse/presence.ts
Labels: repo maintenance, chore

#7892 fix(BBC): resolve new deepscan issue
  websites/B/BBC/metadata.json
  websites/B/BBC/presence.ts
Labels: presence update

#7889 chore(Vidoza): update assets
  websites/V/Vidoza/metadata.json
  websites/V/Vidoza/presence.ts
Labels: repo maintenance, chore

#7895 chore(アイドルマスターシャイニーカラーズ): format metadata
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
Labels: repo maintenance, chore

#7862 feat(Doodstreams): add presence
  websites/D/Doodstreams/metadata.json
  websites/D/Doodstreams/presence.ts
Labels: new presence

#7869 feat(FlaviBot): add presence
  websites/F/FlaviBot/metadata.json
  websites/F/FlaviBot/presence.ts
Labels: new presence

#7897 chore(BBC): update deepscan fix
  websites/B/BBC/metadata.json
  websites/B/BBC/presence.ts
Labels: repo maintenance, chore

#7899 chore(Doodstreams): update assets
  websites/D/Doodstreams/metadata.json
  websites/D/Doodstreams/presence.ts
Labels: repo maintenance, chore

#7860 feat(Roblox): rewrite presence
  websites/R/Roblox/metadata.json
  websites/R/Roblox/presence.ts
Labels: presence update

#7900 chore(FlaviBot): update assets
  websites/F/FlaviBot/metadata.json
  websites/F/FlaviBot/presence.ts
Labels: repo maintenance, chore

#7884 feat(KEXP): add presence
  websites/K/KEXP/metadata.json
  websites/K/KEXP/presence.ts
Labels: new presence

#7903 fix(FMovies): fix wrong if/elseif/else
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence update

#7904 fix(MUBI): change switch due to different path layout
  websites/M/MUBI/metadata.json
  websites/M/MUBI/presence.ts
Labels: presence update

#7906 chore(KEXP): update assets
  websites/K/KEXP/metadata.json
  websites/K/KEXP/presence.ts
Labels: repo maintenance, chore

#7910 feat(KEXP): copies and thumbnail improvements
  websites/K/KEXP/metadata.json
  websites/K/KEXP/presence.ts
Labels: presence update

#7911 chore(KEXP): update assets
  websites/K/KEXP/metadata.json
Labels: presence update, repo maintenance, chore

#7909 feat(MUBI): add viewState
  websites/M/MUBI/metadata.json
  websites/M/MUBI/presence.ts
Labels: presence update

#7893 perf(Reddit): fix switching client, which lags browser
  websites/R/Reddit/metadata.json
  websites/R/Reddit/presence.ts
Labels: presence update

#7913 chore(Reddit): update assets
  websites/R/Reddit/metadata.json
  websites/R/Reddit/presence.ts
Labels: repo maintenance, chore

#7916 chore(ComicK): update domain
  websites/C/ComicK/metadata.json
Labels: presence update

#7917 chore(ComicK): format metadata
  websites/C/ComicK/metadata.json
Labels: repo maintenance, chore

#7915 feat(CacaX): add presence
  websites/C/CacaX/metadata.json
  websites/C/CacaX/presence.ts
Labels: new presence

#7918 chore(CacaX): update assets
  websites/C/CacaX/metadata.json
  websites/C/CacaX/presence.ts
Labels: presence update, repo maintenance, chore

#7923 refactor(SlimeRead): add new case branches and change hex color
  websites/S/SlimeRead/metadata.json
  websites/S/SlimeRead/presence.ts
Labels: presence update

#7921 feat(Notespace): add presence
  websites/N/Notespace/metadata.json
  websites/N/Notespace/presence.ts
Labels: new presence

#7925 chore(Notespace): update assets
  websites/N/Notespace/metadata.json
  websites/N/Notespace/presence.ts
Labels: presence update, repo maintenance, chore

#7919 fix(AnimeSuge): fix issues by rewriting presence
  websites/A/AnimeSuge/metadata.json
  websites/A/AnimeSuge/presence.ts
Labels: presence update

#7926 feat(Planet Minecraft): add presence
  websites/P/Planet Minecraft/metadata.json
  websites/P/Planet Minecraft/presence.ts
Labels: new presence

#7928 fix(Planet Minecraft): wrong label
  websites/P/Planet Minecraft/metadata.json
  websites/P/Planet Minecraft/presence.ts
Labels: presence update

#7930 fix(Animevietsub): update url
  websites/A/Animevietsub/metadata.json
Labels: presence update

#7939 fix(BeatSaver): update small images
  websites/B/BeatSaver/metadata.json
  websites/B/BeatSaver/presence.ts
Labels: presence update

#7938 feat(SoundCloud): add hide when paused
  websites/S/SoundCloud/metadata.json
  websites/S/SoundCloud/presence.ts
Labels: presence update

#7940 chore(BeatSaver): update assets
  websites/B/BeatSaver/metadata.json
  websites/B/BeatSaver/presence.ts
Labels: presence update, repo maintenance, chore

#7935 feat(4chan): add presence
  websites/0-9/4chan/metadata.json
  websites/0-9/4chan/presence.ts
Labels: new presence

#7946 chore(This Website Will Self Destruct): remove presence
  websites/T/This Website Will Self Destruct/metadata.json
  websites/T/This Website Will Self Destruct/presence.ts
Labels: presence deletion

#7945 chore: resolve compilation issues
  websites/A/Anihub/metadata.json
  websites/A/Anihub/presence.ts
  websites/A/Anontpp/metadata.json
  websites/A/Anontpp/presence.ts
  websites/A/aniwave/metadata.json
  websites/A/aniwave/presence.ts
  websites/B/Board Game Online/metadata.json
  websites/B/Board Game Online/presence.ts
  websites/C/Crowdin/metadata.json
  websites/C/Crowdin/presence.ts
  websites/C/Currys/metadata.json
  websites/C/Currys/presence.ts
  websites/D/Duolingo/metadata.json
  websites/D/Duolingo/presence.ts
  websites/E/Emby/metadata.json
  websites/E/Emby/presence.ts
  websites/G/GameBanana/metadata.json
  websites/G/GameBanana/presence.ts
  websites/G/Gogoanime/metadata.json
  websites/G/Gogoanime/presence.ts
  websites/G/Google Domains/metadata.json
  websites/G/Google Domains/presence.ts
  websites/J/Jellyfin/metadata.json
  websites/J/Jellyfin/presence.ts
  websites/L/Letterboxd/metadata.json
  websites/L/Letterboxd/presence.ts
  websites/M/MangaLife/metadata.json
  websites/M/MangaLife/presence.ts
  websites/M/MyDramaList/metadata.json
  websites/M/MyDramaList/presence.ts
  websites/N/Netflix/metadata.json
  websites/N/Netflix/presence.ts
  websites/S/Shazam/metadata.json
  websites/S/Shazam/presence.ts
  websites/S/SoloLearn/metadata.json
  websites/S/SoloLearn/presence.ts
  websites/S/signed.host/metadata.json
  websites/S/signed.host/presence.ts
  websites/T/TheSite/metadata.json
  websites/T/TheSite/presence.ts
  websites/U/UserBenchmark/metadata.json
  websites/U/UserBenchmark/presence.ts
  websites/V/V LIVE/metadata.json
  websites/V/V LIVE/presence.ts
  websites/V/VLC/metadata.json
  websites/V/VLC/presence.ts
  websites/W/Watcha/metadata.json
  websites/W/Watcha/presence.ts
Labels: multiple presences, repo maintenance, chore

#7948 chore(BoardGameGeek): update assets
  websites/B/BoardGameGeek/metadata.json
  websites/B/BoardGameGeek/presence.ts
Labels: presence update, repo maintenance, chore

#7951 chore(deps): bump pmd from 1.2.0 to 1.2.1
  package-lock.json
  package.json
Labels: dependencies, chore

#7947 feat(Emberspark Games): add presence
  websites/E/Emberspark Games/metadata.json
  websites/E/Emberspark Games/presence.ts
Labels: new presence

#7936 feat(Pinterest): rewrite presence
  websites/P/Pinterest/metadata.json
  websites/P/Pinterest/presence.ts
Labels: presence update

#7952 fix(Puray): rename puray to anim
  websites/A/Anim/metadata.json
  websites/A/Anim/presence.ts
Labels: new presence, presence deletion

#7955 chore(Emberspark Games): update assets
  websites/E/Emberspark Games/metadata.json
  websites/E/Emberspark Games/presence.ts
Labels: presence update, repo maintenance, chore

#7956 chore(Pinterest): update assets
  websites/P/Pinterest/metadata.json
  websites/P/Pinterest/presence.ts
Labels: presence update, repo maintenance, chore

#7958 chore(Anim): update assets
  websites/A/Anim/metadata.json
  websites/A/Anim/presence.ts
Labels: presence update, repo maintenance, chore

#7954 feat(YouTube): add UI to disable privacy mode on a per-video basis
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/index.ts
  websites/Y/YouTube/util/pvPrivacyUI.ts
Labels: presence update

#7962 chore(deps): bump pmd from 1.2.1 to 1.2.2
  package-lock.json
  package.json
Labels: dependencies, chore

#7953 fix(Tumblr): fix issues by rewriting presence
  websites/T/Tumblr/metadata.json
  websites/T/Tumblr/presence.ts
Labels: presence update

#7964 chore(PreMiD): downscale thumbnail for optimization
  websites/P/PreMiD/metadata.json
Labels: presence update, chore

#7967 chore(PreMiD): update assets
  websites/P/PreMiD/metadata.json
Labels: presence update, repo maintenance, chore

#7968 fix(YouTube): remove shorts cache
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/index.ts
  websites/Y/YouTube/util/pvPrivacyUI.ts
  websites/Y/YouTube/video_sources/default.ts
  websites/Y/YouTube/video_sources/embed.ts
  websites/Y/YouTube/video_sources/movies.ts
  websites/Y/YouTube/video_sources/old.ts
  websites/Y/YouTube/video_sources/shorts.ts
  websites/Y/YouTube/video_sources/tv.ts
Labels: presence update

#7963 feat(Warriorcats): add presence
  websites/W/Warriorcats/metadata.json
  websites/W/Warriorcats/presence.ts
Labels: new presence

#7973 chore: update assets
  websites/W/Warriorcats/metadata.json
  websites/W/Warriorcats/presence.ts
Labels: presence update, repo maintenance, chore

#7972 feat(YouTube): improve pvpui styling
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/pvPrivacyUI.ts
Labels: presence update

#7971 feat(Secret Hitler): add presence
  websites/S/Secret Hitler/metadata.json
  websites/S/Secret Hitler/presence.ts
Labels: new presence

#7975 chore(Secret Hitler): update assets
  websites/S/Secret Hitler/metadata.json
  websites/S/Secret Hitler/presence.ts
Labels: presence update, repo maintenance, chore

#7961 feat(Soundgasm): add presence
  websites/S/Soundgasm/metadata.json
  websites/S/Soundgasm/presence.ts
Labels: new presence

#7976 chore(Soundgasm): update assets
  websites/S/Soundgasm/metadata.json
  websites/S/Soundgasm/presence.ts
Labels: presence update, repo maintenance, chore

#7986 style(Warriorcats): Replaced lowercase letter with uppercase letter in the beginning of a sentence
  websites/W/Warriorcats/metadata.json
  websites/W/Warriorcats/presence.ts
Labels: presence update

#7983 feat(AniMi Club): added presence
  websites/A/AniMi Club/iframe.ts
  websites/A/AniMi Club/metadata.json
  websites/A/AniMi Club/presence.ts
Labels: new presence

#7989 style(Warriorcats): update metadata line ending
  websites/W/Warriorcats/metadata.json
Labels: presence update, repo maintenance, chore

#7990 chore(AniMi Club): update assets
  websites/A/AniMi Club/metadata.json
  websites/A/AniMi Club/presence.ts
Labels: presence update, repo maintenance, chore

#7982 fix(YouTube/pvPrivacyUI): stop privacy ui from blocking interactions
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/util/pvPrivacyUI.ts
Labels: presence update

#7969 feat(TuneIn): enhance presence functionality
  websites/T/TuneIn/metadata.json
  websites/T/TuneIn/presence.ts
Labels: presence update

#7996 chore(Odyssey): delete presence
  websites/O/Odyssey/metadata.json
  websites/O/Odyssey/presence.ts
Labels: presence deletion

#7998 chore(Contributing.md): fix issues & correct outdated text
  .github/CONTRIBUTING.md
Labels: repo maintenance

#7999 feat(WINDOWS93): add presence
  websites/W/WINDOWS93/iframe.ts
  websites/W/WINDOWS93/metadata.json
  websites/W/WINDOWS93/presence.ts
Labels: new presence

#8003 chore(WINDOWS93): update assets
  websites/W/WINDOWS93/metadata.json
  websites/W/WINDOWS93/presence.ts
Labels: presence update, repo maintenance, chore

#8002 feat(GX.games): add presence
  websites/G/GX.games/metadata.json
  websites/G/GX.games/presence.ts
Labels: new presence

#8000 feat(YouTube): improved thumbnail image
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/index.ts
Labels: presence update

#8004 chore(GX.games): update assets
  websites/G/GX.games/metadata.json
  websites/G/GX.games/presence.ts
Labels: presence update, repo maintenance, chore

#8006 feat(Lazada): add presence
  websites/L/Lazada/metadata.json
  websites/L/Lazada/presence.ts
Labels: new presence
