Repository PreMiD/Activities, pull requests merged in 2024-10, with the labels that each got.

#8768 chore(GoPlay): update assets
  websites/G/GoPlay/metadata.json
Labels: presence update, repo maintenance, chore

#8770 chore(YTPLR): update assets
  websites/Y/YTPLR/metadata.json
  websites/Y/YTPLR/presence.ts
Labels: presence update, repo maintenance, chore

#8776 chore(StreamingCommunity): format metadata
  websites/S/StreamingCommunity/metadata.json
Labels: presence update, repo maintenance, chore

#8767 feat(Watch-Anime): add Presence
  websites/W/Watch-Anime/metadata.json
  websites/W/Watch-Anime/presence.ts
Labels: new presence

#8778 fix(chatgpt): fixed title not showing
  websites/C/ChatGPT/metadata.json
  websites/C/ChatGPT/presence.ts
Labels: presence update

#8772 fix(Miruro): update timestamp calculation
  websites/M/Miruro/metadata.json
Labels: presence update

#8777 feat(Weverse): add presence
  websites/W/Weverse/metadata.json
  websites/W/Weverse/presence.ts
Labels: new presence

#8779 feat(Docchi): regexp update and visual refresh
  websites/D/Docchi/metadata.json
  websites/D/Docchi/presence.ts
Labels: presence update

#8780 feat(Simkl): add presence
  websites/S/Simkl/metadata.json
  websites/S/Simkl/presence.ts
Labels: new presence

#8783 feat(Crunchyroll): use watching type
  websites/C/Crunchyroll/metadata.json
  websites/C/Crunchyroll/presence.ts
Labels: presence update

#8787 chore(Watch-Anime): update assets
  websites/W/Watch-Anime/metadata.json
  websites/W/Watch-Anime/presence.ts
Labels: presence update, repo maintenance, chore

#8785 feat(TuneIn): use listening type & fix only show browsing
  websites/T/TuneIn/metadata.json
  websites/T/TuneIn/presence.ts
Labels: presence update

#8789 feat(Spotify Podcasts): use listening type
  websites/S/Spotify Podcasts/metadata.json
  websites/S/Spotify Podcasts/presence.ts
Labels: presence update

#8790 feat(DramaCool): fix not showing & use watching type
  websites/D/DramaCool/metadata.json
  websites/D/DramaCool/presence.ts
Labels: presence update

#8792 chore(ChatGPT): format metadata
  websites/C/ChatGPT/metadata.json
Labels: presence update, repo maintenance, chore

#8793 chore(Weverse): update assets
  websites/W/Weverse/metadata.json
  websites/W/Weverse/presence.ts
Labels: presence update, repo maintenance, chore

#8797 chore(Docchi): format metadata
  websites/D/Docchi/metadata.json
Labels: presence update, repo maintenance, chore

#8806 chore(Animes House): remove presence
  websites/A/Animes House/iframe.ts
  websites/A/Animes House/metadata.json
  websites/A/Animes House/presence.ts
Labels: presence deletion

#8805 chore(Animes Dublado): remove presence
  websites/A/Animes Dublado/iframe.ts
  websites/A/Animes Dublado/metadata.json
  websites/A/Animes Dublado/presence.ts
Labels: presence deletion

#8807 chore(Anihub): remove presence
  websites/A/Anihub/metadata.json
  websites/A/Anihub/presence.ts
Labels: presence deletion

#8808 chore(AnimesOnline): remove presence
  websites/A/AnimesOnline/iframe.ts
  websites/A/AnimesOnline/metadata.json
  websites/A/AnimesOnline/presence.ts
Labels: presence deletion

#8809 chore(GoAnimes): remove presence
  websites/G/GoAnimes/iframe.ts
  websites/G/GoAnimes/metadata.json
  websites/G/GoAnimes/presence.ts
Labels: presence deletion

#8810 chore(Meus Animes): remove presence
  websites/M/Meus Animes/metadata.json
  websites/M/Meus Animes/presence.ts
Labels: presence deletion

#8803 feat(Proxer): add watch type
  websites/P/Proxer/metadata.json
  websites/P/Proxer/presence.ts
Labels: presence update

#8800 chore(Simkl): update assets
  websites/S/Simkl/metadata.json
  websites/S/Simkl/presence.ts
Labels: presence update, repo maintenance, chore

#8804 feat(Brave Search): add presence
  websites/B/Brave Search/metadata.json
  websites/B/Brave Search/presence.ts
Labels: new presence

#8815 chore(Brave Search): update assets
  websites/B/Brave Search/metadata.json
  websites/B/Brave Search/presence.ts
Labels: presence update, repo maintenance, chore

#8811 feat(Physics Wallah): New update, added privacy features and metadata
  websites/P/Physics Wallah/metadata.json
  websites/P/Physics Wallah/presence.ts
Labels: presence update

#8816 chore(Weverse): update Presence
  websites/W/Weverse/metadata.json
  websites/W/Weverse/presence.ts
Labels: presence update

#8817 feat(Jellyfin): use new types & support localhost images
  websites/J/Jellyfin/metadata.json
  websites/J/Jellyfin/presence.ts
Labels: presence update

#8819 fix(IDLIX): update domain
  websites/I/IDLIX/metadata.json
Labels: presence update

#8818 feat(Emby): add support for new and old versions
  websites/E/Emby/metadata.json
  websites/E/Emby/package-lock.json
  websites/E/Emby/package.json
  websites/E/Emby/presence.ts
Labels: presence update

#8827 feat(Kick): add VOD support & watchtype && fix(Kick): fix issues due to code change
  websites/K/Kick/metadata.json
  websites/K/Kick/presence.ts
Labels: presence update

#8828 chore(Amazon Kindle): format metadata
  websites/A/Amazon Kindle/metadata.json
Labels: presence update, repo maintenance, chore

#8829 chore(Kick): format code
  websites/K/Kick/metadata.json
  websites/K/Kick/presence.ts
Labels: presence update, repo maintenance, chore

#8831 fix(Prime Video): use built in `getTimestamps` function
  websites/P/Prime Video/metadata.json
  websites/P/Prime Video/presence.ts
Labels: presence update

#8830 fix(Youtube Music): resolve issues
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update

#8834 feat(Weverse): add page and settings
  websites/W/Weverse/metadata.json
  websites/W/Weverse/presence.ts
Labels: presence update

#8836 chore(Weverse): format metadata
  websites/W/Weverse/metadata.json
Labels: presence update, repo maintenance, chore

#8840 feat(Voiranime): add privacy mode && show button/show timestamp settings
  websites/V/Voiranime/metadata.json
  websites/V/Voiranime/presence.ts
Labels: presence update

#8848 fix(TuMangaOnline): update domain
  websites/T/TuMangaOnline/metadata.json
Labels: presence update

#8849 feat(Bol.Com): rewrite presence & add settings & fixes
  websites/B/bol.com/metadata.json
  websites/B/bol.com/presence.ts
Labels: presence update

#8850 chore(bol.com): format metadata
  websites/B/bol.com/metadata.json
Labels: presence update, repo maintenance, chore
