Repository PreMiD/Activities, pull requests merged in 2024-05, with the labels that each got.

#8342 feat(Youtube): add hideHome setting
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#8321 chore(Videoland): rewrite presence & fix null & undefined issues
  websites/V/Videoland/metadata.json
  websites/V/Videoland/presence.ts
Labels: presence update

#8344 chore(Animeflix): format metadata
  websites/A/Animeflix/metadata.json
Labels: repo maintenance, chore

#8343 feat(AnimeDrive): add support for iFrame and Hungarian description
  websites/A/AnimeDrive/iframe.ts
  websites/A/AnimeDrive/metadata.json
  websites/A/AnimeDrive/presence.ts
Labels: presence update

#8351 chore(AnimeDrive): update assets
  websites/A/AnimeDrive/metadata.json
  websites/A/AnimeDrive/presence.ts
Labels: presence update, repo maintenance, chore

#8347 fix(Replit): rewrite presence to fix issues
  websites/R/Replit/metadata.json
  websites/R/Replit/presence.ts
Labels: presence update

#8355 chore(Replit): update assets
  websites/R/Replit/metadata.json
  websites/R/Replit/presence.ts
Labels: presence update, repo maintenance, chore

#8348 feat(Indavideó): add presence
  websites/I/Indavideó/iframe.ts
  websites/I/Indavideó/metadata.json
  websites/I/Indavideó/presence.ts
Labels: new presence

#8359 fix(Cosmote TV): fix title
  websites/C/Cosmote TV/metadata.json
  websites/C/Cosmote TV/presence.ts
Labels: presence update

#8353 feat(Sorryfield): update presence for 1.11.0 update
  websites/S/Sorryfield/metadata.json
  websites/S/Sorryfield/presence.ts
Labels: presence update

#8361 chore(Sorryfield): update assets
  websites/S/Sorryfield/metadata.json
  websites/S/Sorryfield/presence.ts
Labels: presence update, repo maintenance, chore

#8360 chore(Indavideó): update assets
  websites/I/Indavideó/metadata.json
  websites/I/Indavideó/presence.ts
Labels: presence update, repo maintenance, chore

#8363 feat(Threads): add presence
  websites/T/Threads/metadata.json
  websites/T/Threads/presence.ts
Labels: new presence

#8362 fix(youtube): channel name and viewed content
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#8373 chore(RoosterTeeth): remove presence
  websites/R/Rooster Teeth/metadata.json
  websites/R/Rooster Teeth/presence.ts
Labels: presence deletion

#8367 chore(Threads): update assets
  websites/T/Threads/metadata.json
  websites/T/Threads/presence.ts
Labels: presence update, repo maintenance, chore

#8370 feat(PokeRogue): add presence
  websites/P/pokerogue/metadata.json
  websites/P/pokerogue/presence.ts
Labels: new presence

#8376 chore(PokeRogue): update assets
  websites/P/PokeRogue/metadata.json
  websites/P/PokeRogue/presence.ts
Labels: presence update, repo maintenance, chore

#8369 fix(Youtube Music): timestamp fix
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update

#8377 fix(PocketCasts): update broken selectors
  websites/P/Pocket Casts/metadata.json
  websites/P/Pocket Casts/presence.ts
Labels: presence update

#8378 feat(Game8): add presence
  websites/G/Game8/metadata.json
  websites/G/Game8/presence.ts
Labels: new presence

#8379 chore(Game8): update assets
  websites/G/Game8/metadata.json
  websites/G/Game8/presence.ts
Labels: presence update, repo maintenance, chore

#8389 fix(Discord): update serverChannel selector
  websites/D/Discord/metadata.json
  websites/D/Discord/presence.ts
Labels: presence update

#8385 fix(RadioGarden): update broken selector
  websites/R/Radio Garden/metadata.json
  websites/R/Radio Garden/presence.ts
Labels: presence update

#8393 fix(Disney+): update broken selectors, fix functionality
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
Labels: presence update

#8381 feat(Dropout): add presence
  websites/D/Dropout/iframe.ts
  websites/D/Dropout/interfaces.ts
  websites/D/Dropout/metadata.json
  websites/D/Dropout/presence.ts
Labels: new presence

#8398 chore(Dropout): update assets
  websites/D/Dropout/metadata.json
  websites/D/Dropout/presence.ts
Labels: presence update, repo maintenance, chore

#8382 fix(Codewars): show states aside from browsing
  websites/C/Codewars/metadata.json
  websites/C/Codewars/presence.ts
Labels: presence update

#8405 chore(Codewars): format metadata
  websites/C/Codewars/metadata.json
Labels: repo maintenance, chore

#8396 fix(The Mahjong): add support for language routes
  websites/T/The Mahjong/metadata.json
  websites/T/The Mahjong/presence.ts
Labels: presence update

#8394 feat(Masuru): add presence
  websites/M/Masuru/metadata.json
  websites/M/Masuru/presence.ts
Labels: new presence

#8414 chore(Masuru): update assets
  websites/M/Masuru/metadata.json
  websites/M/Masuru/presence.ts
Labels: presence update, repo maintenance, chore

#8399 fix(Viki): added relevant details
  websites/V/Viki/metadata.json
  websites/V/Viki/presence.ts
Labels: presence update

#8411 feat(Hoppscotch): add presence
  websites/H/Hoppscotch/lib/realtime.ts
  websites/H/Hoppscotch/lib/workspace.ts
  websites/H/Hoppscotch/metadata.json
  websites/H/Hoppscotch/presence.ts
  websites/H/Hoppscotch/routes/graphql.ts
  websites/H/Hoppscotch/routes/mqtt.ts
  websites/H/Hoppscotch/routes/rest.ts
  websites/H/Hoppscotch/routes/settings.ts
  websites/H/Hoppscotch/routes/socketio.ts
  websites/H/Hoppscotch/routes/sse.ts
  websites/H/Hoppscotch/routes/websocket.ts
Labels: new presence

#8416 chore(Hoppscotch): update assets
  websites/H/Hoppscotch/metadata.json
  websites/H/Hoppscotch/presence.ts
Labels: presence update, repo maintenance, chore

#8418 fix(SoundCloud): fix only showing browsing
  websites/S/SoundCloud/metadata.json
  websites/S/SoundCloud/presence.ts
Labels: presence update

#8419 fix(South Park): unable to get title
  websites/S/South Park/metadata.json
  websites/S/South Park/presence.ts
Labels: presence update

#8386 fix(ChatGPT): change url
  websites/C/ChatGPT/metadata.json
Labels: presence update

#8392 fix(Songsterr): fix search tab not showing and make details title-case
  websites/S/Songsterr/metadata.json
  websites/S/Songsterr/presence.ts
Labels: presence update

#8415 feat(Panzoid): add presence
  websites/P/Panzoid/iframe.ts
  websites/P/Panzoid/metadata.json
  websites/P/Panzoid/presence.ts
  websites/P/Panzoid/shared.ts
Labels: new presence

#8422 fix(Amazon Prime Video): amazon prime video regExp support japan amazon
  websites/P/Prime Video/metadata.json
Labels: presence update

#8425 chore(ChatGPT): format metadata
  websites/C/ChatGPT/metadata.json
Labels: presence update, repo maintenance, chore

#8427 chore(Prime Video): format metadata
  websites/P/Prime Video/metadata.json
Labels: presence update, repo maintenance, chore

#8429 chore(netflix): recode presence
  websites/N/Netflix/functions/fetchMetadata.ts
  websites/N/Netflix/functions/getBuildIdentifier.ts
  websites/N/Netflix/metadata.json
  websites/N/Netflix/package-lock.json
  websites/N/Netflix/package.json
  websites/N/Netflix/presence.ts
  websites/N/Netflix/types.ts
Labels: presence update

#8434 fix(Animevietsub): update url
  websites/A/Animevietsub/metadata.json
Labels: presence update

#8423 feat(Hoppscotch): add profile route
  websites/H/Hoppscotch/metadata.json
  websites/H/Hoppscotch/presence.ts
  websites/H/Hoppscotch/routes/profile.ts
  websites/H/Hoppscotch/routes/rest.ts
Labels: presence update

#8435 chore(Hoppscotch): update assets
  websites/H/Hoppscotch/metadata.json
  websites/H/Hoppscotch/presence.ts
Labels: presence update, repo maintenance, chore
