Repository PreMiD/Activities, pull requests merged in 2024-07, with the labels that each got.

#8541 fix(Disney+): fix invalid selectors
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
Labels: presence update

#8546 feat(Viki): add ActivityType.Watching
  websites/V/Viki/metadata.json
  websites/V/Viki/presence.ts
Labels: presence update

#8544 chore(League of Angels: Pact): update assets
  websites/L/League of Angels Pact/metadata.json
  websites/L/League of Angels Pact/presence.ts
Labels: presence update, repo maintenance, chore

#8545 feat: cli
  .eslintignore
  .gitignore
  cli/bin/actions/create.js
  cli/bin/actions/modify.js
  cli/bin/actions/translate.js
  cli/bin/functions/fetchSchema.js
  cli/bin/functions/getDiscordAppUser.js
  cli/bin/functions/getDiscordUser.js
  cli/bin/functions/getFolderLetter.js
  cli/bin/functions/getPresences.js
  cli/bin/functions/isFirstTimeAuthor.js
  cli/bin/index.js
  cli/bin/util/ModuleManager.js
  cli/bin/util/apollo.js
  cli/bin/util/prefix.js
  cli/bin/util/socket.js
  cli/package.json
  cli/src/actions/create.ts
  cli/src/actions/modify.ts
  cli/src/actions/translate.ts
  cli/src/functions/fetchSchema.ts
  cli/src/functions/getDiscordAppUser.ts
  cli/src/functions/getDiscordUser.ts
  cli/src/functions/getFolderLetter.ts
  cli/src/functions/getPresences.ts
  cli/src/functions/isFirstTimeAuthor.ts
  cli/src/index.ts
  cli/src/util/ModuleManager.ts
  cli/src/util/apollo.ts
  cli/src/util/prefix.ts
  cli/src/util/socket.ts
  cli/template/metadata.json
  cli/template/presence.min.ts
  cli/template/presence.ts
  cli/template/tsconfig.json
  cli/tsconfig.json
  package-lock.json
  package.json
  tools/util.ts
Labels: repo maintenance

#8461 fix(LeetCode): update elapsed timestamp
  websites/L/LeetCode/metadata.json
  websites/L/LeetCode/presence.ts
Labels: presence update

#8548 chore(LeetCode): format metadata
  cli/bin/index.js
  websites/L/LeetCode/metadata.json
Labels: presence update, repo maintenance, chore

#8554 feat: add ids to templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: repo maintenance

#8551 feat(LTTStore): add presence
  websites/L/LTTStore/metadata.json
  websites/L/LTTStore/presence.ts
Labels: new presence

#8564 feat(Pulsus): add presence
  websites/P/Pulsus/assets.ts
  websites/P/Pulsus/metadata.json
  websites/P/Pulsus/presence.ts
  websites/P/Pulsus/types.ts
Labels: new presence

#8560 chore(LTTStore): update assets
  websites/L/LTTStore/metadata.json
  websites/L/LTTStore/presence.ts
Labels: presence update, repo maintenance, chore

#8566 chore(Pulsus): update assets
  websites/P/Pulsus/assets.ts
  websites/P/Pulsus/metadata.json
Labels: presence update, repo maintenance, chore

#8577 chore(AnimationDigitalNetwork): change domain & improve things
  websites/A/AnimationDigitalNetwork/metadata.json
  websites/A/AnimationDigitalNetwork/presence.ts
Labels: presence update

#8572 chore(PaparaTopluluk): update logo url
  websites/P/Papara Topluluk/metadata.json
  websites/P/Papara Topluluk/presence.ts
Labels: presence update

#8578 feat(AniWatch): rename to hianime
  websites/H/HiAnime/iframe.ts
  websites/H/HiAnime/metadata.json
  websites/H/HiAnime/presence.ts
Labels: new presence, presence deletion

#8576 feat(DistroKid): add presence
  websites/D/Distrokid/metadata.json
  websites/D/Distrokid/presence.ts
Labels: new presence

#8579 chore(Papara Topluluk): update assets
  websites/P/Papara Topluluk/metadata.json
  websites/P/Papara Topluluk/presence.ts
Labels: presence update, repo maintenance, chore

#8580 chore(HiAnime): update assets
  websites/H/HiAnime/metadata.json
Labels: presence update, repo maintenance, chore

#8581 chore(DistroKid): update assets
  websites/D/Distrokid/metadata.json
  websites/D/Distrokid/presence.ts
Labels: presence update, repo maintenance, chore

#8583 feat(Tio Anime): add watching type and make code more readable
  websites/T/Tio Anime/metadata.json
  websites/T/Tio Anime/presence.ts
Labels: presence update

#8584 feat(BetterAnime): add wachting type and improve some aspects
  websites/B/BetterAnime/metadata.json
  websites/B/BetterAnime/presence.ts
Labels: presence update

#8585 feat(iBroadCast): add typing, cover with setting & improve code
  websites/I/iBroadcast/metadata.json
  websites/I/iBroadcast/presence.ts
Labels: presence update

#8588 chore(iBroadcast): format metadata
  websites/I/iBroadcast/metadata.json
Labels: presence update, repo maintenance, chore

#8587 feat(AnimeUnity): add new presence
  websites/A/AnimeUnity/iframe.ts
  websites/A/AnimeUnity/metadata.json
  websites/A/AnimeUnity/presence.ts
Labels: new presence

#8592 feat(9anime): add presence
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
Labels: new presence

#8595 feat(notespace): update presence
  websites/N/notespace/metadata.json
  websites/N/notespace/presence.ts
Labels: presence update

#8600 fix(MangaDex): title image blocked by cdn
  websites/M/MangaDex/metadata.json
  websites/M/MangaDex/presence.ts
Labels: presence update

#8596 chore(AnimeUnity): update assets
  websites/A/AnimeUnity/metadata.json
  websites/A/AnimeUnity/presence.ts
Labels: presence update, repo maintenance, chore

#8573 feat(Salad): add presence
  websites/S/Salad/metadata.json
  websites/S/Salad/presence.ts
Labels: new presence

#8597 chore(9anime): update assets
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
Labels: presence update, repo maintenance, chore

#8604 chore(Salad): update assets
  websites/S/Salad/metadata.json
  websites/S/Salad/presence.ts
Labels: presence update, repo maintenance, chore

#8599 fix(FBOX): update domain
  websites/F/fbox.to/metadata.json
Labels: presence update

#8609 feat(Plex): add watch/listen type & add option to use title as name
  websites/P/Plex/metadata.json
  websites/P/Plex/presence.ts
Labels: presence update

#8607 feat(movie-web): add working instances and watching status
  websites/M/movie-web/metadata.json
  websites/M/movie-web/presence.ts
Labels: presence update

#8605 feat(RTLplay): add presence
  websites/R/RTLplay/metadata.json
  websites/R/RTLplay/presence.ts
Labels: new presence

#8613 feat(Google Meet): add settings and use a cache
  websites/G/Google Meet/metadata.json
  websites/G/Google Meet/presence.ts
Labels: presence update

#8617 chore(movie-web): format metadata
  websites/M/movie-web/metadata.json
Labels: presence update, repo maintenance, chore

#8620 fix(Disney+): broken timestamp
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
Labels: presence update

#8621 feat(Roblox): change some details => name & add ternary operator
  websites/R/Roblox/metadata.json
  websites/R/Roblox/presence.ts
Labels: presence update

#8618 chore(RTLplay): update assets
  websites/R/RTLplay/metadata.json
  websites/R/RTLplay/presence.ts
Labels: presence update, repo maintenance, chore

#8622 feat(AnimeSaturn): add new presence
  websites/A/AnimeSaturn/metadata.json
  websites/A/AnimeSaturn/presence.ts
Labels: new presence

#8623 feat(StreamingCommunity): add new presence
  websites/S/StreamingCommunity/iframe.ts
  websites/S/StreamingCommunity/metadata.json
  websites/S/StreamingCommunity/presence.ts
Labels: new presence

#8626 chore(StreamingCommunity): update assets
  websites/S/StreamingCommunity/metadata.json
  websites/S/StreamingCommunity/presence.ts
Labels: presence update, repo maintenance, chore

#8628 refactor(Keymash): update presence
  websites/K/Keymash/metadata.json
  websites/K/Keymash/presence.ts
Labels: presence update

#8630 feat(Nitro Type): add leagues page
  websites/N/Nitro Type/metadata.json
  websites/N/Nitro Type/presence.ts
Labels: presence update

#8629 feat(duolingo): gzip decompress state
  websites/D/Duolingo/metadata.json
  websites/D/Duolingo/presence.ts
  websites/D/Duolingo/util.ts
Labels: presence update
