Repository PreMiD/Activities, pull requests merged in 2024-06, with the labels that each got.

#8433 fix(FullProgramlarIndir): use `.net` domain
  websites/F/Full Programlar İndir/metadata.json
  websites/F/Full Programlar İndir/presence.ts
Labels: presence update

#8448 feat(Panzoid): add detection for forum page
  websites/P/Panzoid/metadata.json
  websites/P/Panzoid/presence.ts
  websites/P/Panzoid/shared.ts
Labels: presence update

#8436 feat(Voirdrama): add presence
  websites/V/Voirdrama/iframe.ts
  websites/V/Voirdrama/metadata.json
  websites/V/Voirdrama/presence.ts
Labels: new presence

#8421 feat(Wolfery): add presence
  websites/W/Wolfery/metadata.json
  websites/W/Wolfery/presence.ts
Labels: new presence

#8449 chore: update assets
  websites/F/Full Programlar İndir/metadata.json
  websites/F/Full Programlar İndir/presence.ts
Labels: presence update, repo maintenance, chore

#8447 feat(NPO Start): add presence
  websites/N/NPO Start/metadata.json
  websites/N/NPO Start/presence.ts
Labels: lang: approved, new presence

#8450 chore(Panzoid): update assets
  websites/P/Panzoid/metadata.json
  websites/P/Panzoid/shared.ts
Labels: presence update, repo maintenance, chore

#8451 chore(Voirdrama): update assets
  websites/V/Voirdrama/metadata.json
  websites/V/Voirdrama/presence.ts
Labels: presence update, repo maintenance, chore

#8452 chore(Wolfery): update assets
  websites/W/Wolfery/metadata.json
  websites/W/Wolfery/presence.ts
Labels: presence update, repo maintenance, chore

#8458 chore: update assets
  websites/N/NPO Start/metadata.json
  websites/N/NPO Start/presence.ts
Labels: presence update, repo maintenance, chore

#8472 feat(Deezer): update metadata.json adding new visuals
  websites/D/Deezer/metadata.json
Labels: presence update

#8466 fix(BeatLeader): fix broken regexp
  websites/B/BeatLeader/metadata.json
Labels: presence update

#8459 feat(Apple Music): add listening setting
  websites/A/Apple Music/metadata.json
  websites/A/Apple Music/presence.ts
Labels: presence update

#8464 feat(PokeRogue): add localhost ip
  websites/P/PokeRogue/metadata.json
  websites/P/PokeRogue/presence.ts
Labels: presence update

#8481 chore: format metadatas
  websites/A/Apple Music/metadata.json
  websites/D/Deezer/metadata.json
  websites/P/PokeRogue/metadata.json
Labels: presence update, multiple presences, repo maintenance, chore

#8474 fix(Skribbl.io): adjust multiLanguage setting
  websites/S/Skribbl.io/metadata.json
Labels: presence update

#8482 chore(Deezer): update assets
  websites/D/Deezer/metadata.json
Labels: presence update, repo maintenance, chore

#8469 feat(HDrezka): add presence
  websites/H/HDrezka/metadata.json
  websites/H/HDrezka/presence.ts
Labels: lang: approved, new presence

#8486 chore(Animevietsub): update domain
  websites/A/Animevietsub/metadata.json
Labels: presence update, chore

#8485 feat(BBC): use new activity types & new assets
  websites/B/BBC/metadata.json
  websites/B/BBC/presence.ts
Labels: presence update

#8484 feat(LiveATC): add presence
  websites/L/LiveATC/metadata.json
  websites/L/LiveATC/presence.ts
Labels: new presence

#8483 chore(HDrezka): update assets
  websites/H/HDrezka/metadata.json
  websites/H/HDrezka/presence.ts
Labels: presence update, repo maintenance, chore

#8476 feat: add Codeberg presence
  websites/C/Codeberg/metadata.json
  websites/C/Codeberg/presence.ts
Labels: new presence

#8475 feat(daily.dev): add rich presence
  websites/D/daily.dev/metadata.json
  websites/D/daily.dev/presence.ts
Labels: new presence

#8490 chore(Animevietsub): format metadata
  websites/A/Animevietsub/metadata.json
Labels: presence update, repo maintenance, chore

#8491 chore(BBC): update assets
  websites/B/BBC/metadata.json
  websites/B/BBC/presence.ts
Labels: presence update, repo maintenance, chore

#8492 chore(LiveATC): update assets
  websites/L/LiveATC/metadata.json
  websites/L/LiveATC/presence.ts
Labels: presence update, repo maintenance, chore

#8493 chore(daily.dev): update assets
  websites/D/daily.dev/metadata.json
  websites/D/daily.dev/presence.ts
Labels: presence update, repo maintenance, chore

#8513 fix(Stremio): series info can be null
  websites/S/Stremio/metadata.json
  websites/S/Stremio/presence.ts
Labels: presence update

#8517 fix(Anime Genzai): update presence
  websites/A/Anime Genzai/metadata.json
  websites/A/Anime Genzai/presence.ts
Labels: presence update

#8494 fix(iHeartRadio): fixed song and station presence/data
  websites/I/iHeartRadio/metadata.json
  websites/I/iHeartRadio/presence.ts
Labels: presence update

#8499 feat(AWTWA): add presence
  websites/A/AWTWA/iframe.ts
  websites/A/AWTWA/metadata.json
  websites/A/AWTWA/presence.ts
Labels: new presence

#8520 chore(Chompu): update assets
  websites/C/Chompu/metadata.json
  websites/C/Chompu/presence.ts
Labels: presence update, repo maintenance, chore

#8522 chore(AWTWA): update assets
  websites/A/AWTWA/metadata.json
  websites/A/AWTWA/presence.ts
Labels: presence update, repo maintenance, chore

#8516 feat(League of Angels: Pact): add presence
  websites/L/League of Angels: Pact/metadata.json
  websites/L/League of Angels: Pact/presence.ts
Labels: new presence

#8504 feat(NIKKE.GG): add new presence
  websites/N/NIKKE.GG/metadata.json
  websites/N/NIKKE.GG/presence.ts
Labels: new presence

#8529 chore(NIKKE.GG): update assets
  websites/N/NIKKE.GG/metadata.json
  websites/N/NIKKE.GG/presence.ts
Labels: presence update, repo maintenance, chore

#8528 chore(League of Angels: Pact): update assets
  websites/L/League of Angels: Pact/metadata.json
  websites/L/League of Angels: Pact/presence.ts
Labels: presence update, repo maintenance, chore

#8534 feat(Max): add presence
  websites/M/Max/metadata.json
  websites/M/Max/presence.ts
Labels: new presence

#8512 feat(CTFtime.org): add new presence
  websites/C/CTFtime/metadata.json
  websites/C/CTFtime/presence.ts
Labels: new presence

#8536 chore(7tv): update assets
  websites/0-9/7tv/metadata.json
  websites/0-9/7tv/presence.ts
Labels: presence update, repo maintenance, chore

#8537 chore(CTFtime): update assets
  websites/C/CTFtime/metadata.json
  websites/C/CTFtime/presence.ts
Labels: presence update, repo maintenance, chore

#8539 feat(AnimationDigitalNetwork): add DE version
  websites/A/AnimationDigitalNetwork/metadata.json
Labels: presence update

#8540 fix(Stremio): resolve player state promise before submitting the event
  websites/S/Stremio/metadata.json
  websites/S/Stremio/presence.ts
Labels: presence update
