Repository PreMiD/Activities, pull requests merged in 2024-04, with the labels that each got.

#8239 fix(Score Saber): qol fixes
  websites/S/Score Saber/metadata.json
  websites/S/Score Saber/presence.ts
Labels: presence update

#8238 fix(Incels.is): nsfw fix
  websites/I/Incels.is/metadata.json
  websites/I/Incels.is/presence.ts
Labels: presence update

#8233 fix(c.ai): added support for the new website
  websites/C/Character.AI/metadata.json
  websites/C/Character.AI/presence.ts
Labels: presence update

#8237 fix(RadiosNet): update slogan
  websites/R/RadiosNet/metadata.json
  websites/R/RadiosNet/presence.ts
Labels: presence update

#8243 fix(Beatleader): qol fixes
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#8228 feat(Documentation): update guidelines and templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/service_request.yml
Labels: repo maintenance

#8231 fix(Daily Mail): thumbnail and article title fixes
  websites/D/Daily Mail/metadata.json
  websites/D/Daily Mail/newsPage.ts
  websites/D/Daily Mail/presence.ts
Labels: presence update

#8252 chore: update package-lock.json
  package-lock.json
Labels: dependencies, chore

#8206 feat(Anix): add presence
  websites/A/Anix/iframe.ts
  websites/A/Anix/metadata.json
  websites/A/Anix/presence.ts
Labels: new presence

#8230 feat(Tinkercad): add presence
  websites/T/Tinkercad/dashboard.ts
  websites/T/Tinkercad/handleThing.ts
  websites/T/Tinkercad/metadata.json
  websites/T/Tinkercad/presence.ts
Labels: new presence

#8236 feat(Kittensgame): add presence
  websites/K/Kittensgame/metadata.json
  websites/K/Kittensgame/presence.ts
Labels: new presence

#8253 chore(Anix): update assets
  websites/A/Anix/metadata.json
  websites/A/Anix/presence.ts
Labels: presence update, repo maintenance, chore

#8254 chore(Tinkercad): update assets
  websites/T/Tinkercad/metadata.json
  websites/T/Tinkercad/presence.ts
Labels: presence update, repo maintenance, chore

#8255 chore(Kittensgame): update assets
  websites/K/Kittensgame/metadata.json
  websites/K/Kittensgame/presence.ts
Labels: presence update, repo maintenance, chore

#8256 chore(EWAIFU): update assets
  websites/E/EWAIFU/metadata.json
  websites/E/EWAIFU/presence.ts
Labels: presence update, repo maintenance, chore

#8257 chore(Just Dance Now): format metadata
  websites/J/Just Dance Now/metadata.json
Labels: presence update, repo maintenance, chore

#8259 fix(IDLIX): fix presence not working
  websites/I/IDLIX/iframe.ts
  websites/I/IDLIX/metadata.json
  websites/I/IDLIX/presence.ts
Labels: presence update

#8266 chore(IDLIX): format metadata
  websites/I/IDLIX/metadata.json
Labels: presence update, repo maintenance, chore

#8251 fix(Daily Mail): sports article fix
  websites/D/Daily Mail/handleSport.ts
  websites/D/Daily Mail/metadata.json
  websites/D/Daily Mail/newsPage.ts
  websites/D/Daily Mail/presence.ts
Labels: presence update

#8272 chore(notespace): format metadata
  websites/N/notespace/metadata.json
Labels: repo maintenance, chore

#8274 feat(4chan): add setting to show thumbnail
  websites/0-9/4chan/metadata.json
  websites/0-9/4chan/presence.ts
Labels: presence update

#8276 chore(notespace): update assets
  websites/N/notespace/metadata.json
  websites/N/notespace/presence.ts
Labels: presence update, repo maintenance, chore

#8271 fix(GoGoAnime): domain name change
  websites/G/Gogoanime/metadata.json
Labels: presence update

#8273 fix(fbox): finds data correctly now
  websites/F/fbox.to/metadata.json
  websites/F/fbox.to/presence.ts
Labels: presence update

#8277 fix(WCOStream): fix presence & remove broken code
  websites/W/Wcostream/iframe.ts
  websites/W/Wcostream/metadata.json
  websites/W/Wcostream/presence.ts
Labels: presence update

#8282 fix(bilibilitv): not detect watching an anime
  websites/B/bilibilitv/metadata.json
  websites/B/bilibilitv/presence.ts
Labels: presence update

#8286 feat(The Mahjong): add presence
  websites/T/The Mahjong/metadata.json
  websites/T/The Mahjong/presence.ts
Labels: new presence

#8289 chore(The Mahjong): update assets
  websites/T/The Mahjong/metadata.json
  websites/T/The Mahjong/presence.ts
Labels: presence update, repo maintenance, chore

#8290 feat(Neko-sama.fr): display anime img if episode img is not present
  websites/N/Neko-sama.fr/metadata.json
  websites/N/Neko-sama.fr/presence.ts
Labels: presence update

#8283 feat(TOD): add presence
  websites/T/TOD/metadata.json
  websites/T/TOD/presence.ts
Labels: new presence

#8288 feat(Stake.us): add presence
  websites/S/Stake.us/metadata.json
  websites/S/Stake.us/presence.ts
Labels: new presence

#8296 chore(TOD): update assets
  websites/T/TOD/metadata.json
  websites/T/TOD/presence.ts
Labels: presence update, repo maintenance, chore

#8284 feat(Reddit): Add support for old layout
  websites/R/Reddit/metadata.json
Labels: presence update

#8295 feat(Ongaku): add presence
  websites/O/Ongaku/metadata.json
  websites/O/Ongaku/presence.ts
Labels: new presence

#8292 fix(YouTube): add support for new layout
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/video_sources/api.ts
  websites/Y/YouTube/video_sources/default.ts
  websites/Y/YouTube/video_sources/miniplayer.ts
  websites/Y/YouTube/video_sources/old.ts
Labels: presence update

#8294 fix(Reddit): update selectors
  websites/R/Reddit/metadata.json
  websites/R/Reddit/presence.ts
Labels: presence update

#8297 chore(Stake.us): update assets
  websites/S/Stake.us/metadata.json
  websites/S/Stake.us/presence.ts
Labels: presence update, repo maintenance, chore

#8310 chore(YouTube): format miniplayer resolver code
  websites/Y/YouTube/video_sources/miniplayer.ts
Labels: presence update, repo maintenance, chore

#8307 chore(Ongaku): update assets
  websites/O/Ongaku/metadata.json
  websites/O/Ongaku/presence.ts
Labels: presence update, repo maintenance, chore

#8303 feat(Naver): rewrite Presence
  websites/N/Naver/iframe.ts
  websites/N/Naver/metadata.json
  websites/N/Naver/presence.ts
Labels: presence update

#8302 feat(CHZZK): add presence
  websites/C/CHZZK/metadata.json
  websites/C/CHZZK/presence.ts
Labels: new presence

#8311 chore(Naver): update assets
  websites/N/Naver/metadata.json
  websites/N/Naver/presence.ts
Labels: presence update, repo maintenance, chore

#8300 feat(Minecraft Wiki): add presence
  websites/M/Minecraft Wiki/metadata.json
  websites/M/Minecraft Wiki/presence.ts
  websites/M/Minecraft Wiki/util.ts
Labels: new presence

#8301 feat(Four Winds Mahjong): add presence
  websites/F/Four Winds Mah Jong/metadata.json
  websites/F/Four Winds Mah Jong/pages/knowledge.ts
  websites/F/Four Winds Mah Jong/pages/pocketpc.ts
  websites/F/Four Winds Mah Jong/pages/ppc.ts
  websites/F/Four Winds Mah Jong/pages/store.ts
  websites/F/Four Winds Mah Jong/presence.ts
Labels: new presence

#8305 feat(Pub): add presence
  websites/P/Pub/metadata.json
  websites/P/Pub/presence.ts
Labels: new presence

#8306 feat(Kotobade Asobou): add presence
  websites/K/Kotobade Asobou/metadata.json
  websites/K/Kotobade Asobou/presence.ts
  websites/K/Kotobade Asobou/strings.ts
Labels: new presence

#8315 chore(Minecraft Wiki): update assets
  websites/M/Minecraft Wiki/metadata.json
Labels: presence update, repo maintenance, chore

#8317 chore(Four Winds Mah Jong): update assets
  websites/F/Four Winds Mah Jong/metadata.json
  websites/F/Four Winds Mah Jong/presence.ts
Labels: presence update, repo maintenance, chore

#8319 chore(Kotobade Asobou): update assets
  websites/K/Kotobade Asobou/metadata.json
  websites/K/Kotobade Asobou/presence.ts
Labels: presence update, repo maintenance, chore

#8318 chore(Pub): update assets
  websites/P/Pub/metadata.json
  websites/P/Pub/presence.ts
Labels: presence update, repo maintenance, chore

#8314 fix(meow.camera): fixed stats, added local time
  websites/M/meow.camera/metadata.json
  websites/M/meow.camera/presence.ts
Labels: presence update

#8324 fix(Youtube Music): timestamps
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update

#8330 refactor(Minecraft Wiki) use mw.config
  websites/M/Minecraft Wiki/metadata.json
  websites/M/Minecraft Wiki/presence.ts
  websites/M/Minecraft Wiki/util.ts
Labels: presence update

#8328 fix(YouTube): added auto-hide option
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#8325 fix(watch.lonelil.com): added additional urls
  websites/W/watch.lonelil.com/metadata.json
Labels: presence update

#8326 fix(bilibili): add privacy mode
  websites/B/bilibili/metadata.json
  websites/B/bilibili/presence.ts
Labels: presence update

#8320 fix(IDLIX): rewrite presence & fix issues
  websites/I/IDLIX/metadata.json
  websites/I/IDLIX/presence.ts
Labels: presence update

#8322 feat(Writers Duet): add presence
  websites/W/WriterDuet/metadata.json
  websites/W/WriterDuet/presence.ts
Labels: new presence

#8323 fix(Invidious): add privacy mode
  websites/I/Invidious/metadata.json
  websites/I/Invidious/presence.ts
Labels: presence update

#8334 chore(Stremio): update logo
  websites/S/Stremio/metadata.json
  websites/S/Stremio/presence.ts
Labels: presence update

#8329 feat(AnimeDrive): add presence
  websites/A/AnimeDrive/metadata.json
  websites/A/AnimeDrive/presence.ts
Labels: new presence

#8331 feat(Podurama): add presence
  websites/P/Podurama/metadata.json
  websites/P/Podurama/presence.ts
Labels: new presence

#8337 chore(Stremio): update assets
  websites/S/Stremio/metadata.json
  websites/S/Stremio/presence.ts
Labels: presence update, repo maintenance, chore

#8338 chore(AnimeDrive): update assets
  websites/A/AnimeDrive/metadata.json
  websites/A/AnimeDrive/presence.ts
Labels: presence update, repo maintenance, chore

#8336 chore(WriterDuet): update assets
  websites/W/WriterDuet/metadata.json
  websites/W/WriterDuet/presence.ts
Labels: presence update, repo maintenance, chore

#8339 chore(Podurama): update assets
  websites/P/Podurama/metadata.json
  websites/P/Podurama/presence.ts
Labels: presence update, repo maintenance, chore
