Repository PreMiD/Activities, pull requests merged in 2024-02, with the labels that each got.

#8010 chore(Lazada): update assets
  websites/L/Lazada/metadata.json
  websites/L/Lazada/presence.ts
Labels: presence update, repo maintenance, chore

#7997 feat(HTB Academy): add presence
  websites/H/HTB Academy/metadata.json
  websites/H/HTB Academy/presence.ts
Labels: new presence

#8011 chore(HTB Academy): update assets
  websites/H/HTB Academy/metadata.json
  websites/H/HTB Academy/presence.ts
Labels: presence update, repo maintenance, chore

#8015 feat: add activity type for v2.6
  @types/premid/index.d.ts
  websites/D/Disney+/metadata.json
  websites/D/Disney+/presence.ts
  websites/H/HBO Max/metadata.json
  websites/H/HBO Max/presence.ts
  websites/N/Netflix/metadata.json
  websites/N/Netflix/presence.ts
  websites/P/Prime Video/metadata.json
  websites/P/Prime Video/presence.ts
  websites/S/SoundCloud/metadata.json
  websites/S/SoundCloud/presence.ts
  websites/T/TikTok/metadata.json
  websites/T/TikTok/presence.ts
  websites/T/Twitch/metadata.json
  websites/T/Twitch/presence.ts
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update, multiple presences, repo maintenance

#8017 feat(BeatLeader): add OST blob images support
  websites/B/BeatLeader/iframe.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#8018 feat(Soap2Day) added new Domain
  websites/S/SOAP2DAY/metadata.json
Labels: presence update

#8019 chore(SOAP2DAY): format metadata
  websites/S/SOAP2DAY/metadata.json
Labels: repo maintenance, chore

#8020 fix(Shikimori): new domain, rewrite presence
  websites/S/Shikimori/metadata.json
  websites/S/Shikimori/presence.ts
Labels: presence update

#8025 feat(Docchi): add presence
  websites/D/Docchi/iframe.ts
  websites/D/Docchi/metadata.json
  websites/D/Docchi/presence.ts
Labels: new presence

#8027 chore(Docchi): update assets
  websites/D/Docchi/metadata.json
  websites/D/Docchi/presence.ts
Labels: presence update, repo maintenance, chore

#8022 feat(WaniKani): update dashboard selector, add lesson picker details
  websites/W/WaniKani/metadata.json
  websites/W/WaniKani/presence.ts
Labels: presence update

#8026 feat(YouTube): add api source and fix shorts selectors
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/index.ts
  websites/Y/YouTube/video_sources/api.ts
  websites/Y/YouTube/video_sources/default.ts
  websites/Y/YouTube/video_sources/embed.ts
  websites/Y/YouTube/video_sources/movies.ts
  websites/Y/YouTube/video_sources/old.ts
  websites/Y/YouTube/video_sources/shorts.ts
  websites/Y/YouTube/video_sources/tv.ts
Labels: presence update

#8029 fix(YouTube Music): update image keys for v2.6
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update, repo maintenance

#8034 chore(YouTube Music): update assets
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update, repo maintenance, chore

#8035 feat(Jet Set Radio Live): use v2.6 types, images, new stations
  websites/J/Jet Set Radio Live/metadata.json
  websites/J/Jet Set Radio Live/presence.ts
Labels: presence update

#8036 fix(AssetsManager): ignore query selector when extracting file extension
  tools/classes/AssetsManager.ts
Labels: repo maintenance

#8028 chore(deps): bump pmd from 1.2.2 to 1.3.1
  package-lock.json
  package.json
Labels: dependencies, chore

#8046 chore(Docchi): update assets
  websites/D/Docchi/metadata.json
  websites/D/Docchi/presence.ts
Labels: presence update, repo maintenance, chore

#8044 chore(IDLIX): update url
  websites/I/IDLIX/metadata.json
  websites/I/IDLIX/presence.ts
Labels: presence update

#8059 feat(Lazada): Added more domain & Imagekeys
  websites/L/Lazada/metadata.json
  websites/L/Lazada/presence.ts
Labels: presence update

#8062 feat(BitView): add presence
  websites/B/BitView/metadata.json
  websites/B/BitView/presence.ts
Labels: new presence

#8068 chore(BitView): update assets
  websites/B/BitView/metadata.json
  websites/B/BitView/presence.ts
  websites/L/Lazada/metadata.json
Labels: presence update, repo maintenance, chore

#8065 feat(AniWatch): add aniwatchtv.to proxy
  websites/A/AniWatch/metadata.json
Labels: presence update

#8075 feat(ModDB): add ModDB
  websites/M/ModDB/metadata.json
  websites/M/ModDB/presence.ts
Labels: new presence

#8079 chore(AniWatch): update assets
  websites/A/AniWatch/metadata.json
Labels: presence update, repo maintenance, chore

#8080 chore(ModDB): update assets
  websites/M/ModDB/metadata.json
  websites/M/ModDB/presence.ts
Labels: presence update, repo maintenance, chore

#8071 feat(AniCrush): add anicrush
  websites/A/AniCrush/iframe.ts
  websites/A/AniCrush/metadata.json
  websites/A/AniCrush/presence.ts
Labels: new presence

#8077 feat(Amazon Kindle): add presence
  websites/A/Amazon Kindle/metadata.json
  websites/A/Amazon Kindle/presence.ts
Labels: new presence

#8082 fix(MangaLife): use working api for cover
  websites/M/MangaLife/metadata.json
  websites/M/MangaLife/presence.ts
Labels: presence update

#8084 fix(TuMangaOnline): add new redirect domain
  websites/T/TuMangaOnline/metadata.json
  websites/T/TuMangaOnline/presence.ts
Labels: presence update

#8085 chore(AniCrush): update assets
  websites/A/AniCrush/metadata.json
  websites/A/AniCrush/presence.ts
Labels: presence update, repo maintenance, chore

#8087 chore(Amazon Kindle): update assets
  websites/A/Amazon Kindle/metadata.json
  websites/A/Amazon Kindle/presence.ts
Labels: presence update, repo maintenance, chore

#8086 chore(TVer): update assets
  websites/T/TVer/metadata.json
  websites/T/TVer/presence.ts
Labels: presence update, repo maintenance, chore

#8089 feat(Tumblr): add support for subdomain profiles
  websites/T/Tumblr/metadata.json
  websites/T/Tumblr/presence.ts
Labels: presence update

#8090 feat(Sorryfield): add small images, new path
  websites/S/Sorryfield/metadata.json
  websites/S/Sorryfield/presence.ts
Labels: presence update

#8092 fix(iHeartRadio): inverse statement determining state
  websites/I/iHeartRadio/metadata.json
  websites/I/iHeartRadio/presence.ts
Labels: presence update

#8094 chore(Sorryfield): format metadata
  websites/S/Sorryfield/metadata.json
Labels: repo maintenance, chore

#8093 chore(Gemini): update assets
  websites/G/Gemini/metadata.json
  websites/G/Gemini/presence.ts
Labels: presence update, repo maintenance, chore

#8091 feat(ABEMA): add presence
  websites/A/ABEMA/metadata.json
  websites/A/ABEMA/presence.ts
Labels: new presence

#8097 chore(ABEMA): update assets
  websites/A/ABEMA/metadata.json
  websites/A/ABEMA/presence.ts
Labels: presence update, repo maintenance, chore

#8098 fix(Otakudesu): use new domain
  websites/O/Otakudesu/metadata.json
Labels: presence update

#8099 feat(HBO Max): add regex
  websites/H/HBO Max/metadata.json
Labels: presence update

#8103 feat(Quaver): add presence
  websites/Q/Quaver/metadata.json
  websites/Q/Quaver/presence.ts
Labels: new presence

#8110 fix: getlatestschema
  tools/util.ts
Labels: repo maintenance

#8106 chore(Quaver): update assets
  websites/Q/Quaver/metadata.json
  websites/Q/Quaver/presence.ts
Labels: presence update, repo maintenance, chore

#8111 feat(MetadataSorter): add matches to output
  tools/classes/PresenceCompiler.ts
  tools/metadataSorter.ts
Labels: repo maintenance

#8109 chore: update default presences to manifest v3 matching
  websites/D/Disney+/metadata.json
  websites/N/Netflix/metadata.json
  websites/S/SoundCloud/metadata.json
  websites/T/Twitch/metadata.json
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube/metadata.json
Labels: multiple presences, repo maintenance, chore

#8119 chore: format metadata
  websites/D/Disney+/metadata.json
  websites/N/Netflix/metadata.json
  websites/S/SoundCloud/metadata.json
  websites/T/Twitch/metadata.json
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube/metadata.json
Labels: multiple presences, repo maintenance, chore

#8102 feat(neal.fun): add presence
  websites/N/neal.fun/metadata.json
  websites/N/neal.fun/presence.ts
Labels: new presence

#8120 chore(neal.fun): update assets
  websites/N/neal.fun/metadata.json
  websites/N/neal.fun/presence.ts
Labels: presence update, repo maintenance, chore

#8121 chore: update meffiu's presences to manifest v3 matching
  websites/D/Desu-Online/metadata.json
  websites/D/Docchi/metadata.json
  websites/V/Vizjer/metadata.json
Labels: multiple presences, repo maintenance, chore

#8123 chore: format metadata
  websites/D/Desu-Online/metadata.json
  websites/D/Docchi/metadata.json
  websites/V/Vizjer/metadata.json
Labels: multiple presences, repo maintenance, chore

#8104 feat(BeatLeader): add context images
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#8127 chore(BeatLeader): update assets
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update, repo maintenance, chore

#8112 feat(movie-web): add support for working mirrors/instances
  websites/M/movie-web/metadata.json
Labels: presence update

#8122 feat(Geode): add presence
  websites/G/Geode/metadata.json
  websites/G/Geode/presence.ts
Labels: new presence

#8129 chore(movie-web): format metadata
  websites/M/movie-web/metadata.json
Labels: presence update, repo maintenance, chore

#8132 chore(Geode): update assets
  websites/G/Geode/metadata.json
  websites/G/Geode/presence.ts
Labels: presence update, repo maintenance, chore

#8136 chore(deps): bump pmd from 1.3.1 to 1.3.2
  package.json
Labels: dependencies, chore

#8134 fix(Stake): fixed balance and currency parsing
  websites/S/Stake/metadata.json
  websites/S/Stake/presence.ts
Labels: presence update
