Repository PreMiD/Activities, pull requests merged in 2024-08, with the labels that each got.

#8633 chore(Keymash): update assets
  websites/K/Keymash/metadata.json
  websites/K/Keymash/presence.ts
Labels: presence update, repo maintenance, chore

#8638 feat(Netflix): add show cover setting
  websites/N/Netflix/metadata.json
  websites/N/Netflix/presence.ts
Labels: presence update

#8639 chore(Nitro Type): format metadata
  websites/N/Nitro Type/metadata.json
Labels: presence update, repo maintenance, chore

#8615 feat(KOLEO): add presence
  websites/K/KOLEO/metadata.json
  websites/K/KOLEO/presence.ts
Labels: new presence

#8642 fix(MangaWorld): update domain
  websites/M/MangaWorld/metadata.json
Labels: presence update

#8612 feat(presense): add updated 9anime presence
  websites/0-9/9anime/metadata.json
  websites/0-9/9anime/presence.ts
Labels: inactive, presence update

#8646 chore(KOLEO): update assets
  websites/K/KOLEO/metadata.json
  websites/K/KOLEO/presence.ts
Labels: presence update, repo maintenance, chore

#8648 feat(アイドルマスターシャイニーカラーズ): add some codes
  websites/#/アイドルマスターシャイニーカラーズ/metadata.json
  websites/#/アイドルマスターシャイニーカラーズ/presence.ts
Labels: presence update

#8660 feat(Kotobade Asobou): add presence title translation
  websites/K/Kotobade Asobou/metadata.json
  websites/K/Kotobade Asobou/presence.ts
  websites/K/Kotobade Asobou/strings.ts
Labels: presence update

#8669 feat(AccSaber): add presence
  websites/A/AccSaber/metadata.json
  websites/A/AccSaber/presence.ts
Labels: new presence

#8662 chore(Komik Indo): update assets
  websites/K/Komik Indo/metadata.json
  websites/K/Komik Indo/presence.ts
Labels: presence update, repo maintenance, chore

#8666 chore: remove fmovies
  websites/F/FMovies/iframe.ts
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence deletion

#8668 feat(NameMC): privacy mode
  websites/N/NameMC/metadata.json
  websites/N/NameMC/presence.ts
Labels: presence update

#8672 chore(AccSaber): update assets
  websites/A/AccSaber/metadata.json
  websites/A/AccSaber/presence.ts
Labels: presence update, repo maintenance, chore

#8673 fix(StreamingCommunity): update domain
  websites/S/StreamingCommunity/metadata.json
Labels: presence update

#8676 fix(yabancıdizi): update url
  websites/Y/yabancıdizi/metadata.json
Labels: presence update

#8684 chore(yabancıdizi): format metadata
  websites/Y/yabancıdizi/metadata.json
Labels: presence update, repo maintenance, chore

#8683 feat(MangaGo): add new presence
  websites/M/MangaGo/metadata.json
  websites/M/MangaGo/presence.ts
Labels: new presence

#8688 feat(bilibili): update presence
  websites/B/bilibili/metadata.json
  websites/B/bilibili/presence.ts
Labels: presence update

#8689 chore(MangaGo): update assets
  websites/M/MangaGo/metadata.json
  websites/M/MangaGo/presence.ts
Labels: presence update, repo maintenance, chore

#8692 chore(aniwave): remove presence
  websites/A/aniwave/iframe.ts
  websites/A/aniwave/metadata.json
  websites/A/aniwave/presence.ts
Labels: presence deletion

#8698 chore: update schema version
  cli/bin/functions/fetchSchema.js
  cli/package.json
  cli/src/functions/fetchSchema.ts
  cli/template/metadata.json
Labels: repo maintenance

#8701 chore(Anix): remove presence
  websites/A/Anix/iframe.ts
  websites/A/Anix/metadata.json
  websites/A/Anix/presence.ts
Labels: presence deletion

#8702 fix(AnimeUnity): show correctly on smartphone
  websites/A/AnimeUnity/metadata.json
  websites/A/AnimeUnity/presence.ts
Labels: presence update
