Repository PreMiD/Activities, pull requests merged in 2024-11, with the labels that each got.

#8857 feat(Chompu): switch presence to listening type
  websites/C/Chompu/metadata.json
  websites/C/Chompu/presence.ts
Labels: presence update

#8858 feat(TwitCasting): streaming and profile implementation
  websites/T/TwitCasting/metadata.json
  websites/T/TwitCasting/presence.ts
Labels: presence update

#8862 feat(AniCrush): watching activity, anime cover as large image
  websites/A/AniCrush/metadata.json
  websites/A/AniCrush/presence.ts
Labels: presence update

#8842 fix(YTPLR): fix iframe has already been declared
  websites/Y/YTPLR/iframe.ts
  websites/Y/YTPLR/metadata.json
Labels: presence update

#8853 fix(Prime Video): fix durations
  websites/P/Prime Video/metadata.json
  websites/P/Prime Video/presence.ts
Labels: presence update

#8855 fix(Board Game Arena): fix undefined name for games
  websites/B/Board Game Arena/metadata.json
  websites/B/Board Game Arena/presence.ts
Labels: presence update

#8867 chore(Chompu): update assets
  websites/C/Chompu/metadata.json
  websites/C/Chompu/presence.ts
Labels: presence update, repo maintenance, chore

#8864 fix(ZDFmediathek): fix videos and video data not found
  websites/Z/ZDFmediathek/metadata.json
  websites/Z/ZDFmediathek/presence.ts
Labels: presence update

#8868 chore(YTPLR): format metadata
  websites/Y/YTPLR/metadata.json
Labels: presence update, repo maintenance, chore

#8866 feat(bilibili): update presence
  websites/B/bilibili/metadata.json
  websites/B/bilibili/presence.ts
Labels: presence update

#8874 fix(Jummbox): update url
  websites/J/Jummbox/metadata.json
Labels: presence update

#8875 fix(RTL+): change domain
  websites/R/RTL+/metadata.json
Labels: presence update

#8886 fix(Youtube Music): remove old if check for showBrowsing
  websites/Y/YouTube Music/metadata.json
  websites/Y/YouTube Music/presence.ts
Labels: presence update

#8883 fix(Youtube): channel name & image being null
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#8879 feat(YNOProject): add Presence
  websites/Y/YNOProject/metadata.json
  websites/Y/YNOProject/presence.ts
Labels: new presence

#8887 feat(Gemini): added option to show title
  websites/G/Gemini/metadata.json
  websites/G/Gemini/presence.ts
Labels: presence update

#8892 fix(DashNet): prevent memory leak & change to pagevar code
  websites/D/DashNet/metadata.json
  websites/D/DashNet/presence.ts
Labels: presence update

#8893 chore(Gemini): format metadata
  websites/G/Gemini/metadata.json
Labels: presence update, repo maintenance, chore

#8899 feat(BeatLeader): add watching & ReBeat images
  websites/B/BeatLeader/assets.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#8901 refactor(YouTube): remove unused code, improve settings
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
  websites/Y/YouTube/util/index.ts
Labels: presence update

#8909 chore(WIMS): delete presence, due to website deletion
  websites/W/WIMS/metadata.json
  websites/W/WIMS/presence.ts
Labels: presence deletion, chore

#8908 fix: remove wumpus.store
  websites/W/wumpus.store/metadata.json
  websites/W/wumpus.store/presence.ts
Labels: presence deletion

#8912 refactor(Wcostream): update display domain name
  websites/W/Wcostream/metadata.json
Labels: presence update

#8900 fix(Physics Wallah): Website updated
  websites/P/Physics Wallah/metadata.json
  websites/P/Physics Wallah/presence.ts
Labels: presence update

#8891 chore(YNOProject): update assets
  websites/Y/YNOProject/metadata.json
  websites/Y/YNOProject/presence.ts
Labels: presence update, repo maintenance, chore

#8916 chore(Wcostream): format metadata
  websites/W/Wcostream/metadata.json
Labels: presence update, repo maintenance, chore

#8904 chore(BeatLeader): update assets
  websites/B/BeatLeader/assets.ts
  websites/B/BeatLeader/metadata.json
Labels: presence update, repo maintenance, chore

#8913 feat(LessWrong): add presence
  websites/L/LessWrong/metadata.json
  websites/L/LessWrong/presence.ts
Labels: new presence
