Repository PreMiD/Activities, pull requests merged in 2024-03, with the labels that each got.

#8118 feat(Dash Radio): change dash radio to litt live
  websites/L/LITT Live/metadata.json
  websites/L/LITT Live/presence.ts
Labels: new presence, presence deletion

#8143 chore(LITT Live): update assets
  websites/L/LITT Live/metadata.json
  websites/L/LITT Live/presence.ts
  websites/S/Stake/metadata.json
Labels: presence update, repo maintenance, chore

#8130 feat(Tabii): add presence
  websites/T/Tabii/metadata.json
  websites/T/Tabii/presence.ts
Labels: new presence

#8141 fix(Smash Pros): domain and branding updates
  websites/M/MatchBox/metadata.json
  websites/M/MatchBox/presence.ts
  websites/S/Smash Pros/metadata.json
Labels: new presence, presence deletion

#8144 chore: add matches support to existing presences
  websites/T/TomsHardware/metadata.json
  websites/T/Tweakers/metadata.json
Labels: presence update, chore

#8155 chore(Tabil): update assets
  websites/T/Tabii/metadata.json
  websites/T/Tabii/presence.ts
Labels: presence update, repo maintenance, chore

#8156 chore(MatchBox): update assets
  websites/M/MatchBox/metadata.json
  websites/M/MatchBox/presence.ts
Labels: presence update, repo maintenance, chore

#8139 feat(Nebula): Add nebula.tv support
  websites/N/Nebula/metadata.json
  websites/N/Nebula/presence.ts
Labels: new presence

#8153 feat(FMovies): add privacy mode
  websites/F/FMovies/metadata.json
  websites/F/FMovies/presence.ts
Labels: presence update

#8154 feat(AniWatch): add HiAnime rebrand
  websites/A/AniWatch/metadata.json
  websites/A/AniWatch/presence.ts
Labels: presence update

#8158 chore(Nebula): update assets
  websites/N/Nebula/metadata.json
  websites/N/Nebula/presence.ts
Labels: presence update, repo maintenance, chore

#8149 feat(AnimeYuzu): change to new domain
  websites/A/AnimeYuzu/iframe.ts
  websites/A/AnimeYuzu/metadata.json
  websites/A/AnimeYuzu/presence.ts
Labels: new presence, presence deletion, chore

#8159 chore(AniWatch): update assets
  websites/A/AniWatch/metadata.json
  websites/A/AniWatch/presence.ts
Labels: presence update, repo maintenance, chore

#8152 feat(Library of Babel): add presence
  websites/L/Library of Babel/metadata.json
  websites/L/Library of Babel/presence.ts
Labels: new presence

#8165 chore(AnimeYuzu): update assets
  websites/A/AnimeYuzu/metadata.json
  websites/A/AnimeYuzu/presence.ts
Labels: presence update, repo maintenance, chore

#8147 feat(Incels.is): add presence
  websites/I/Incels.is/metadata.json
  websites/I/Incels.is/presence.ts
Labels: new presence

#8162 feat(KQM): add presence
  websites/K/KQM/metadata.json
  websites/K/KQM/presence.ts
Labels: new presence

#8164 fix(movie-web): update domains
  websites/M/movie-web/metadata.json
Labels: presence update

#8171 chore(KQM): update assets
  websites/K/KQM/metadata.json
  websites/K/KQM/presence.ts
Labels: presence update, repo maintenance, chore

#8170 chore(Incels.is): update assets
  websites/I/Incels.is/metadata.json
  websites/I/Incels.is/presence.ts
Labels: presence update, repo maintenance, chore

#8148 feat(Rate Your Music): add presence
  websites/R/Rate Your Music/metadata.json
  websites/R/Rate Your Music/presence.ts
Labels: new presence

#8172 chore(movie-web): format metadata
  websites/M/movie-web/metadata.json
Labels: repo maintenance, chore

#8168 feat(Uwowocosplay): add presence
  websites/U/uwowocosplay/metadata.json
  websites/U/uwowocosplay/presence.ts
Labels: new presence

#8175 chore(Rate Your Music): update assets
  websites/R/Rate Your Music/metadata.json
  websites/R/Rate Your Music/presence.ts
Labels: presence update, repo maintenance, chore

#8161 feat(DIZIWATCH): add presence
  websites/D/diziwatch/metadata.json
  websites/D/diziwatch/presence.ts
Labels: new presence

#8179 chore(uwowocosplay): update assets
  websites/U/uwowocosplay/metadata.json
  websites/U/uwowocosplay/presence.ts
Labels: presence update, repo maintenance, chore

#8181 chore(diziwatch): update assets
  websites/D/diziwatch/metadata.json
  websites/D/diziwatch/presence.ts
Labels: presence update, repo maintenance, chore

#8183 fix(Audible): replace broken selectors on webplayer, add chapter info and timestamps
  websites/A/Audible/metadata.json
  websites/A/Audible/presence.ts
Labels: presence update

#8186 feat(uwowocosplay): fix presence bug
  websites/U/uwowocosplay/metadata.json
  websites/U/uwowocosplay/presence.ts
Labels: presence update

#8173 feat(MyOnlineRadio): add presence
  websites/M/MyOnlineRadio/extToCountry.ts
  websites/M/MyOnlineRadio/handleStation.ts
  websites/M/MyOnlineRadio/metadata.json
  websites/M/MyOnlineRadio/presence.ts
  websites/M/MyOnlineRadio/utils.ts
Labels: new presence

#8185 feat(ZenMarket): add presence
  websites/Z/ZenMarket/metadata.json
  websites/Z/ZenMarket/presence.ts
Labels: new presence

#8187 feat(meow.camera): added presense
  websites/M/meow.camera/metadata.json
  websites/M/meow.camera/presence.ts
Labels: new presence

#8188 chore(MyOnlineRadio): update assets
  websites/M/MyOnlineRadio/metadata.json
  websites/M/MyOnlineRadio/presence.ts
Labels: presence update, repo maintenance, chore

#8189 chore(ZenMarket): update assets
  websites/Z/ZenMarket/metadata.json
  websites/Z/ZenMarket/presence.ts
Labels: presence update, repo maintenance, chore

#8194 feat(Library of Babel): fix presence bug
  websites/L/Library of Babel/metadata.json
  websites/L/Library of Babel/presence.ts
Labels: presence update

#8195 chore: restore missing images from source
  websites/A/ABEMA/metadata.json
  websites/A/ABEMA/presence.ts
  websites/A/Amazon Kindle/metadata.json
  websites/A/Amazon Kindle/presence.ts
  websites/A/AniCrush/metadata.json
  websites/A/AniCrush/presence.ts
  websites/A/AniWatch/metadata.json
  websites/A/AniWatch/presence.ts
  websites/A/AnimeYuzu/metadata.json
  websites/A/AnimeYuzu/presence.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
  websites/B/BitView/metadata.json
  websites/B/BitView/presence.ts
  websites/D/diziwatch/metadata.json
  websites/D/diziwatch/presence.ts
  websites/G/Gemini/metadata.json
  websites/G/Gemini/presence.ts
  websites/G/Geode/metadata.json
  websites/G/Geode/presence.ts
  websites/I/Incels.is/metadata.json
  websites/I/Incels.is/presence.ts
  websites/K/KQM/metadata.json
  websites/K/KQM/presence.ts
  websites/L/LITT Live/metadata.json
  websites/L/LITT Live/presence.ts
  websites/L/Library of Babel/metadata.json
  websites/L/Library of Babel/presence.ts
  websites/M/MatchBox/metadata.json
  websites/M/MatchBox/presence.ts
  websites/M/ModDB/metadata.json
  websites/M/ModDB/presence.ts
  websites/M/MyOnlineRadio/metadata.json
  websites/M/MyOnlineRadio/presence.ts
  websites/M/meow.camera/metadata.json
  websites/M/meow.camera/presence.ts
  websites/N/Nebula/metadata.json
  websites/N/Nebula/presence.ts
  websites/N/neal.fun/metadata.json
  websites/N/neal.fun/presence.ts
  websites/Q/Quaver/metadata.json
  websites/Q/Quaver/presence.ts
  websites/R/Rate Your Music/metadata.json
  websites/R/Rate Your Music/presence.ts
  websites/S/SDVX Index/metadata.json
  websites/S/SDVX Index/presence.ts
  websites/T/TVer/metadata.json
  websites/T/TVer/presence.ts
  websites/T/Tabii/metadata.json
  websites/T/Tabii/presence.ts
  websites/U/uwowocosplay/metadata.json
  websites/U/uwowocosplay/presence.ts
  websites/Z/ZenMarket/metadata.json
  websites/Z/ZenMarket/presence.ts
Labels: multiple presences, repo maintenance, chore

#8198 chore: update assets
  websites/A/ABEMA/metadata.json
  websites/A/ABEMA/presence.ts
  websites/A/Amazon Kindle/metadata.json
  websites/A/Amazon Kindle/presence.ts
  websites/A/AniCrush/metadata.json
  websites/A/AniCrush/presence.ts
  websites/A/AniWatch/metadata.json
  websites/A/AniWatch/presence.ts
  websites/A/AnimeYuzu/metadata.json
  websites/A/AnimeYuzu/presence.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
  websites/B/BitView/metadata.json
  websites/B/BitView/presence.ts
  websites/D/diziwatch/metadata.json
  websites/D/diziwatch/presence.ts
  websites/G/Gemini/metadata.json
  websites/G/Gemini/presence.ts
  websites/G/Geode/metadata.json
  websites/G/Geode/presence.ts
  websites/I/Incels.is/metadata.json
  websites/I/Incels.is/presence.ts
  websites/K/KQM/metadata.json
  websites/K/KQM/presence.ts
  websites/L/LITT Live/metadata.json
  websites/L/LITT Live/presence.ts
  websites/L/Library of Babel/metadata.json
  websites/L/Library of Babel/presence.ts
  websites/M/MatchBox/metadata.json
  websites/M/MatchBox/presence.ts
  websites/M/ModDB/metadata.json
  websites/M/ModDB/presence.ts
  websites/M/MyOnlineRadio/metadata.json
  websites/M/MyOnlineRadio/presence.ts
  websites/M/meow.camera/metadata.json
  websites/M/meow.camera/presence.ts
  websites/N/Nebula/metadata.json
  websites/N/Nebula/presence.ts
  websites/N/neal.fun/metadata.json
  websites/N/neal.fun/presence.ts
  websites/Q/Quaver/metadata.json
  websites/Q/Quaver/presence.ts
  websites/R/Rate Your Music/metadata.json
  websites/R/Rate Your Music/presence.ts
  websites/S/SDVX Index/metadata.json
  websites/S/SDVX Index/presence.ts
  websites/T/TVer/metadata.json
  websites/T/TVer/presence.ts
  websites/T/Tabii/metadata.json
  websites/T/Tabii/presence.ts
  websites/U/uwowocosplay/metadata.json
  websites/U/uwowocosplay/presence.ts
  websites/Z/ZenMarket/metadata.json
  websites/Z/ZenMarket/presence.ts
Labels: presence update, multiple presences, repo maintenance, chore

#8199 chore(Library of Babel): format metadata
  websites/L/Library of Babel/metadata.json
Labels: presence update, repo maintenance, chore

#8203 feat(ComicK): fix presence and update url (#8163)
  websites/C/ComicK/metadata.json
  websites/C/ComicK/presence.ts
Labels: presence update

#8191 feat(movie-web): add more sites from official docs
  websites/M/movie-web/metadata.json
Labels: presence update

#8201 feat(Poke) : add presence
  websites/P/Poke/metadata.json
  websites/P/Poke/presence.ts
Labels: new presence

#8202 feat(RadiosNet): add presence
  websites/R/RadiosNet/metadata.json
  websites/R/RadiosNet/presence.ts
Labels: new presence

#8204 chore(Poke): update assets
  websites/P/Poke/metadata.json
  websites/P/Poke/presence.ts
Labels: presence update, repo maintenance, chore

#8205 chore(RadiosNet): update assets
  websites/R/RadiosNet/metadata.json
  websites/R/RadiosNet/presence.ts
Labels: presence update, repo maintenance, chore

#8193 feat(ChompuBot): add presence
  websites/C/ChompuBot/metadata.json
  websites/C/ChompuBot/presence.ts
Labels: new presence

#8213 fix(Animevietsub): update url
  websites/A/Animevietsub/metadata.json
Labels: presence update

#8197 feat(Japanese Mahjong Wiki): add presence
  websites/J/Japanese Mahjong Wiki/metadata.json
  websites/J/Japanese Mahjong Wiki/pages/special.ts
  websites/J/Japanese Mahjong Wiki/pages/static.ts
  websites/J/Japanese Mahjong Wiki/presence.ts
  websites/J/Japanese Mahjong Wiki/util/util.ts
Labels: new presence

#8212 feat(Mahjong Soul): add presence
  websites/M/Mahjong Soul/game_variables.ts
  websites/M/Mahjong Soul/metadata.json
  websites/M/Mahjong Soul/presence.ts
  websites/M/Mahjong Soul/util.ts
Labels: new presence

#8220 chore(Mahjong Soul): update assets
  websites/M/Mahjong Soul/metadata.json
  websites/M/Mahjong Soul/presence.ts
Labels: presence update, repo maintenance, chore

#8219 chore(Japanese Mahjong Wiki): update assets
  websites/J/Japanese Mahjong Wiki/metadata.json
  websites/J/Japanese Mahjong Wiki/presence.ts
Labels: presence update, repo maintenance, chore

#8221 feat(Daily Mail): add presence
  websites/D/Daily Mail/data.ts
  websites/D/Daily Mail/findPage.ts
  websites/D/Daily Mail/handleSport.ts
  websites/D/Daily Mail/metadata.json
  websites/D/Daily Mail/newsPage.ts
  websites/D/Daily Mail/presence.ts
Labels: new presence

#8226 chore(Daily Mail): update assets
  websites/D/Daily Mail/metadata.json
  websites/D/Daily Mail/presence.ts
Labels: presence update, repo maintenance, chore

#8223 feat(Mahjong Soul): add more domains
  websites/M/Mahjong Soul/metadata.json
  websites/M/Mahjong Soul/presence.ts
Labels: presence update

#8222 refactor(Incels.is): remove nsfw tag
  websites/I/Incels.is/metadata.json
Labels: presence update

#8227 fix(Incels.is): hide nsfw statuses
  websites/I/Incels.is/metadata.json
  websites/I/Incels.is/presence.ts
Labels: presence update
