Repository PreMiD/Activities, pull requests merged in 2024-09, with the labels that each got.

#8693 feat(AnimixPlay): add new presence
  websites/A/AnimixPlay/iframe.ts
  websites/A/AnimixPlay/metadata.json
  websites/A/AnimixPlay/presence.ts
Labels: new presence

#8705 feat(Cisco Networking Academy): add Legacy URL
  websites/C/Cisco Networking Academy/metadata.json
Labels: presence update

#8707 feat(BeatLeader): move and add new assets
  websites/B/BeatLeader/assets.ts
  websites/B/BeatLeader/iframe.ts
  websites/B/BeatLeader/metadata.json
  websites/B/BeatLeader/presence.ts
Labels: presence update

#8710 chore(AnimixPlay): format metadata
  websites/A/AnimixPlay/metadata.json
Labels: presence update, repo maintenance, chore

#8712 chore(AnimixPlay): update assets
  websites/A/AnimixPlay/metadata.json
  websites/A/AnimixPlay/presence.ts
Labels: presence update, repo maintenance, chore

#8711 chore(BeatLeader): update assets
  websites/B/BeatLeader/assets.ts
  websites/B/BeatLeader/metadata.json
Labels: presence update, repo maintenance, chore

#8713 feat(Anime Sama): add cover and watching status
  websites/A/Anime Sama/metadata.json
  websites/A/Anime Sama/presence.ts
Labels: presence update

#8715 feat(movie-web): add more instances
  websites/M/movie-web/metadata.json
Labels: presence update

#8716 fix(Twitch): profile picture doesn't appeaer
  websites/T/Twitch/metadata.json
  websites/T/Twitch/presence.ts
Labels: presence update

#8719 chore(movie-web): format metadata
  websites/M/movie-web/metadata.json
Labels: presence update, repo maintenance, chore

#8720 fix(niconico): `/watch/` information was not available.
  websites/N/niconico/metadata.json
  websites/N/niconico/presence.ts
Labels: presence update

#8732 fix(Youtube): do not set timestamps when there is no video
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#8731 feat: validator & compiler provide presence name in errors
  tools/auto/presenceValidator.ts
  tools/classes/PresenceCompiler.ts
Labels: repo maintenance

#8729 feat(iHeartRadio): add site support update presence
  websites/I/iHeartRadio/metadata.json
  websites/I/iHeartRadio/presence.ts
Labels: presence update

#8734 chore(iHeartRadio): update assets
  websites/I/iHeartRadio/metadata.json
  websites/I/iHeartRadio/presence.ts
Labels: presence update, repo maintenance, chore

#8726 feat(Apple Podcasts): add Presence
  websites/A/Apple Podcasts/metadata.json
  websites/A/Apple Podcasts/presence.ts
Labels: new presence

#8736 chore(Apple Podcasts): update assets
  websites/A/Apple Podcasts/metadata.json
  websites/A/Apple Podcasts/presence.ts
Labels: presence update

#8737 perf(Zoom): improve presence code & make it more readable
  websites/Z/Zoom/metadata.json
  websites/Z/Zoom/presence.ts
Labels: presence update

#8738 chore(ZeroTwo): change domain to correct one
  websites/Z/ZeroTwo/metadata.json
Labels: presence update

#8739 fix(Zerion): change domain
  websites/Z/Zerion/metadata.json
  websites/Z/Zerion/presence.ts
Labels: presence update

#8741 fix(Genius): fix presence
  websites/G/Genius/metadata.json
  websites/G/Genius/presence.ts
Labels: presence update

#8748 chore(Codeberg): update assets
  websites/C/Codeberg/metadata.json
  websites/C/Codeberg/presence.ts
Labels: presence update, repo maintenance, chore

#8746 feat(Shiroko): add Presence
  websites/S/Shiroko/metadata.json
  websites/S/Shiroko/presence.ts
  websites/S/Shiroko/utils.ts
Labels: new presence

#8743 feat(SoundCloud): add use presence name setting
  websites/S/SoundCloud/metadata.json
  websites/S/SoundCloud/presence.ts
Labels: presence update

#8740 perf(ZenMarket): make it more readable & improve code quality
  websites/Z/ZenMarket/metadata.json
  websites/Z/ZenMarket/presence.ts
Labels: presence update

#8750 chore(Shiroko): update assets
  websites/S/Shiroko/metadata.json
Labels: presence update, repo maintenance, chore

#8751 feat(Youtube): enable endtimestamp for youtube shorts
  websites/Y/YouTube/metadata.json
  websites/Y/YouTube/presence.ts
Labels: presence update

#8756 feat(Rádio Animu): add listening type
  websites/R/Rádio Animu/metadata.json
  websites/R/Rádio Animu/presence.ts
Labels: presence update

#8744 feat(Miruro): add Presence
  websites/M/Miruro/metadata.json
  websites/M/Miruro/presence.ts
Labels: new presence

#8763 chore(Miruro): update assets
  websites/M/Miruro/metadata.json
  websites/M/Miruro/presence.ts
Labels: presence update, repo maintenance, chore

#8762 fix(AsuraScans): remake the presence to match asura website
  websites/A/Asura Scans/metadata.json
  websites/A/Asura Scans/presence.ts
Labels: presence update

#8761 feat(GoPlay): rename Anontpp to GoPlay
  websites/A/Anontpp/metadata.json
  websites/G/GoPlay/metadata.json
  websites/G/GoPlay/presence.ts
Labels: new presence, presence deletion

#8766 fix(SoundCloud): fix errors
  websites/S/SoundCloud/metadata.json
  websites/S/SoundCloud/presence.ts
Labels: presence update

#8759 feat(YTPLR): add Presence
  websites/Y/YTPLR/iframe.ts
  websites/Y/YTPLR/metadata.json
  websites/Y/YTPLR/presence.ts
Labels: new presence
